body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 900px;
    height: 400px;
    margin: auto;
}

h1 {
    color: #ecf0f1;
}

.header {
    background: linear-gradient(#f1f1f1, #d3d3d3);
    width: 100%;
    height: 30px;
    border-radius: 10px 10px 0 0;
    position: relative;
    border-bottom: 2px solid;
    border-color: #9a9a9a;
}

.dot {
    position: absolute;
    top: 40%;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    display: inline-block;
}

.red {
    margin-left: 10px;
    background: #fc625d;
}

.yellow {
    margin-left: 30px;
    background: #fdbc40;
}

.green {
    margin-left: 50px;
    background: #33c748;
}

.panel {
    height: 70vh;
    background: #27292c;
    padding: 20px;
    overflow-y: scroll;
}

.panel2 {
    height: 70vh;
    background: #27292c;
    padding: 20px;
    overflow-y: scroll;
}

.action {
    margin-bottom: 10px;
}

.command {
    width: 100%;
    height: 20px;
    background: #27292c;
    color: #c86762;
    font-size: 16px;
    font-weight: 700;
}

input[type="text"] {
    width: 90%;
    background: #27292c;
    border: none;
    outline: none;
    color: white;
    margin-left: 5px;
    font-size: 16px;
}

.output {
    color: white;
    font-weight: 300;
    margin-top: 5px;
    margin-left: 12px;
    font-size: 30px;
}

.nav1 {
    position: fixed;
    z-index: 999;
    width: 300px;
    height: 300px;
    top: 20%;
    right: 10%;
}

.bgfff {
    background-color: #fff;
}