<link rel="import" href="../components/head/index.html?__inline">
<body>
<link rel="import" href="nav/nav.html?__inline">
<div class="container fw-mg20">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <h3><strong>商品筛选</strong>
                    <small class="pull-right">共<span>37</span>件商品&nbsp;&nbsp;</small>
                </h3>
            </div>
        </div>
        <div class="panel-body">
            <h3 class="pull-left text-nowrap">品牌：</h3>
            <ul id="" class="nav nav-pills y-mt-15">
                <li class="active"><a href="#brandall" data-toggle="tab">全部</a></li>
                <li><a href="#brand1" data-toggle="tab">花千骨</a></li>
                <li><a href="#brand2" data-toggle="tab">欢乐斗地主</a></li>
                <li><a href="#brand3" data-toggle="tab">魔域 </a></li>
                <li><a href="#brand4" data-toggle="tab">洛奇</a></li>
                <li><a href="#brand5" data-toggle="tab">赤壁</a></li>
                <li><a href="#brand6" data-toggle="tab">蜀山</a></li>
                <li><a href="#brand7" data-toggle="tab">征途</a></li>
                <li><a href="#brand8" data-toggle="tab">问道</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="fw-body2 tab-content">
        <div class="row tab-pane fade in active">

            <!--<div class="col-sm-4 col-md-3 col-xs-12">-->
                <!--<div class="thumbnail">-->
                    <!--<img src="http://static.jubaobar.cn/51pay/res/img/show/daigoupic2.jpg" class="img-responsive " alt="剑灵">-->
                    <!--<a href="http://jubaobar.cn" class="fw-font-goods">游戏金币充值，44金金币金币</a>-->
                    <!--<div class="fw-sale">-->
                        <!--<span class="fw-font-price" href="http://jubaobar.cn">￥30.00</span>-->
                        <!--<button type="button" class="btn btn-danger pull-right">抢购</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-4 col-md-3 col-xs-12">-->
                <!--<div class="thumbnail">-->
                    <!--<img src="http://static.jubaobar.cn/51pay/res/img/show/daigoupic2.jpg" class="img-responsive " alt="剑灵">-->
                    <!--<a href="http://jubaobar.cn" class="fw-font-goods">【剑灵】游戏金币充值，44金金币金币</a>-->
                    <!--<div class="fw-sale">-->
                        <!--<span class="fw-font-price" href="http://jubaobar.cn">￥30.00</span>-->
                        <!--<button type="button" class="btn btn-danger pull-right">抢购</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <link rel="import" href="card/filter-goods-game-card.html?__inline">
            <link rel="import" href="card/filter-goods-game-card.html?__inline">
            <link rel="import" href="card/filter-goods-game-card.html?__inline">
            <link rel="import" href="card/filter-goods-game-card.html?__inline">
            <link rel="import" href="card/filter-goods-game-card.html?__inline">
            <link rel="import" href="card/filter-goods-game-card.html?__inline">
            <link rel="import" href="card/filter-goods-game-card.html?__inline">
            <link rel="import" href="card/filter-goods-game-card.html?__inline">
        </div>
        <div class="text-center">
            <ul class="pagination">
                <li><a href="#">&laquo;&nbsp;上一页</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">下一页&nbsp;&raquo;</a></li>
            </ul>
        </div>
    <!--</div>-->
</div>
<link rel="import" href="footer/index.html?__inline">
<link rel="import" href="../components/required/index.html?__inline">
</body>

</html>
