<link rel="import" href="../components/head/index.html?__inline">

<body>
    <link rel="import" href="nav/nav.html?__inline">
<div class="js-header-nav-active">0</div>
<div class="fw-container-empty">
    <div class="hidden-xs fw-mt50"></div>
</div>
<div class="container fw-container-slide">
    <div class="row">
        <div class="col-sm-3 hidden-xs">
            <h3 class="fw-slide-hot">热门品牌</h3>
            <div class="row fw-slide-border">
                <div class="col-sm-6 fw-pbt3b3 fw-slide-border-right">
                    <a href="filter-goods-game.html"><img src="http://static.jubaobar.cn/51pay/res/img/show/brandpic1.png" alt="brand"></a>
                </div>
                <div class="col-sm-6 fw-pbt3b3">
                    <img src="http://static.jubaobar.cn/51pay/res/img/show/brandpic2.png" alt="brand">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 fw-pbt3b3 fw-slide-border-right">
                    <img src="http://static.jubaobar.cn/51pay/res/img/show/brandpic3.png" alt="brand">
                </div>
                <div class="col-sm-6 fw-pbt3b3">
                    <img src="http://static.jubaobar.cn/51pay/res/img/show/brandpic4.png" alt="brand">
                </div>
            </div>
            <div class="row fw-slide-border">
                <div class="col-sm-6 fw-pbt3b3 fw-slide-border-right">
                    <img src="http://static.jubaobar.cn/51pay/res/img/show/brandpic5.png" alt="brand">
                </div>
                <div class="col-sm-6 fw-pbt3b3">
                    <img src="http://static.jubaobar.cn/51pay/res/img/show/brandpic6.png" alt="brand">
                </div>
            </div>
            <div class="row fw-border-top">
                <div class=" col-sm-6 fw-pbt3b3 fw-slide-border-right">
                    <img src="http://static.jubaobar.cn/51pay/res/img/show/brandpic7.png" alt="brand">
                </div>
                <div class="col-sm-6 fw-pbt3b3">
                    <img src="http://static.jubaobar.cn/51pay/res/img/show/brandpic8.png" alt="brand">
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-xs-12 fw-pd0">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="http://static.jubaobar.cn/51pay/res/img/slide/slide1.jpg" alt="First slide">
                        <!--<div class="carousel-caption">标题 1</div>-->
                    </div>
                    <div class="item">
                        <img src="http://static.jubaobar.cn/51pay/res/img/slide/slide3.jpg" alt="Second slide">
                        <!--<div class="carousel-caption">标题 2</div>-->
                    </div>
                    <div class="item">
                        <img src="http://static.jubaobar.cn/51pay/res/img/slide/slide5.jpg" alt="Third slide">
                        <!--<div class="carousel-caption">标题 3</div>-->
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container fw-container-star">
    <ul class="nav nav-tabs">
        <li class="active"><a class="fw-nav-tab" href="#newGoods" data-toggle="tab"><b>新品上市</b></a></li>
        <li><a class="fw-nav-tab" href="#bargainGoods" data-toggle="tab"><b>特价商品</b></a></li>
    </ul>
</div>
<div class="container fw-star">
    <div class="tab-content">
        <div class="row tab-pane fade in active" id="newGoods">
            <!--<div class="col-sm-4 col-lg-3 col-xs-6">-->
                <!--<div class="thumbnail">-->
                    <!--<img src="http://static.jubaobar.cn/51pay/res/img/show/playpic3.jpg" class="img-responsive " alt="剑灵">-->
                    <!--<a href="http://jubaobar.cn" class="fw-font-goods">【剑灵】游戏金币充值，44金金币金币</a>-->
                    <!--<div class="fw-sale">-->
                        <!--<span class="fw-font-price">￥30.00</span>-->
                        <!--<a href="pay-info-apple.html" class="btn btn-danger pull-right">抢购</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <link rel="import" href="card/index-card.html?__inline">
            <link rel="import" href="card/index-card.html?__inline">
            <link rel="import" href="card/index-card.html?__inline">
            <link rel="import" href="card/index-card.html?__inline">
            <link rel="import" href="card/index-card.html?__inline">
            <link rel="import" href="card/index-card.html?__inline">
            <link rel="import" href="card/index-card.html?__inline">
            <link rel="import" href="card/index-card.html?__inline">
            </div>

        <div class="row tab-pane fade in active" id="bargainGoods">
            <!--<div class="col-sm-4 col-lg-3 col-xs-6">-->
                <!--<div class="thumbnail">-->
                    <!--<img src="http://static.jubaobar.cn/51pay/res/img/show/daigoupic2.jpg" class="img-responsive " alt="剑灵">-->
                    <!--<a href="http://jubaobar.cn" class="fw-font-goods">【剑灵】游戏金币充值，44金金币金币</a>-->
                    <!--<div class="fw-sale">-->
                        <!--<span class="fw-font-price">￥30.00</span>-->
                        <!--<a href="pay-info.html" class="btn btn-danger pull-right">抢购</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <link rel="import" href="card/index-card.html?__inline">
            <link rel="import" href="card/index-card.html?__inline">
            <link rel="import" href="card/index-card.html?__inline">
            <link rel="import" href="card/index-card.html?__inline">
        </div>
    </div>
</div>
<div class="container fw-container-main">
    <div class="row fw-main-show-all">
        <div class="y-card-group">
            <div class="col-sm-3 col-xs-6 fw-bgcffc785" style="height: 372px">
                <i class="icon iconfont center-block">&#xe60b;</i>
                <div class="fw-main-h1">
                海外代购
                </div>
            </div>
            <div class="y-card col-sm-3 col-xs-6">
                <img class="y-card-img-top" src="../components/public/daigoupic2.jpg" alt="Card image cap">
                <div class="y-card-block">
                    <a href="http://jubaobar.cn" class="fw-font-goods">游戏金币充值，44金金币金币</a>
                    <div class="fw-sale">
                        <span class="fw-font-price" href="http://jubaobar.cn">￥30.00</span>
                        <a href="###" class="btn btn-danger pull-right">抢购</a>
                    </div>
                </div>
            </div>
            <div class="y-card col-sm-3 col-xs-6">
                <img class="y-card-img-top" src="../components/public/daigoupic2.jpg" alt="Card image cap">
                <div class="y-card-block">
                    <a href="http://jubaobar.cn" class="fw-font-goods">游戏金币充值，44金金币金币</a>
                    <div class="fw-sale">
                        <span class="fw-font-price" href="http://jubaobar.cn">￥30.00</span>
                        <a href="###" class="btn btn-danger pull-right">抢购</a>
                    </div>
                </div>
            </div>
            <div class="y-card col-sm-3 col-xs-6">
                <img class="y-card-img-top" src="../components/public/daigoupic2.jpg" alt="Card image cap">
                <div class="y-card-block">
                    <a href="http://jubaobar.cn" class="fw-font-goods">游戏金币充值，44金金币金币</a>
                    <div class="fw-sale">
                        <span class="fw-font-price" href="http://jubaobar.cn">￥30.00</span>
                        <a href="###" class="btn btn-danger pull-right">抢购</a>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col-sm-3 col-xs-6 fw-main-show-title">-->
            <!--<i class="icon iconfont center-block ">&#xe60b;</i>-->
            <!--<div class="fw-main-h1">-->
                <!--海外代购-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-3 col-xs-6 fw-main-show">-->
            <!--<img src="http://static.jubaobar.cn/51pay/res/img/show/daigoupic2.jpg" class="img-responsive " alt="剑灵">-->
            <!--<a href="http://jubaobar.cn" class="fw-font-goods">【剑灵】游戏金币充值，44金金币金币</a>-->
            <!--<div class="fw-sale">-->
                <!--<span class="fw-font-price">￥30.00</span>-->
                <!--<button type="button" class="btn btn-danger pull-right">抢购</button>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-3 col-xs-6 fw-main-show">-->
            <!--<img src="http://static.jubaobar.cn/51pay/res/img/show/daigoupic17.jpg" class="img-responsive " alt="剑灵">-->
            <!--<a href="http://jubaobar.cn" class="fw-font-goods">【剑灵】游戏金币充值，44金金币金币</a>-->
            <!--<div class="fw-sale">-->
                <!--<span class="fw-font-price">￥30.00</span>-->
                <!--<button type="button" class="btn btn-danger pull-right">抢购</button>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="col-sm-3 col-xs-6 fw-main-show">-->
            <!--<img src="http://static.jubaobar.cn/51pay/res/img/show/daigoupic8.jpg" class="img-responsive " alt="剑灵">-->
            <!--<a href="http://jubaobar.cn" class="fw-font-goods">【剑灵】游戏金币充值，44金金币金币</a>-->
            <!--<div class="fw-sale">-->
                <!--<span class="fw-font-price">￥30.00</span>-->
                <!--<button type="button" class="btn btn-danger pull-right">抢购</button>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="row fw-main-show-all fw-bgcffaeac">
        <div class="col-sm-3 col-xs-6 fw-main-show-title">
            <i class="icon iconfont center-block ">&#xe608;</i>
            <div class="fw-main-h1">
                游戏代充
            </div>
        </div>
        <div class="col-sm-3 col-xs-6 fw-main-show">
            <img src="http://static.jubaobar.cn/51pay/res/img/show/daigoupic2.jpg" class="img-responsive " alt="剑灵">
            <a href="http://jubaobar.cn" class="fw-font-goods">【剑灵】游戏金币充值，44金金币金币</a>
            <div class="fw-sale">
                <span class="fw-font-price">￥30.00</span>
                <button type="button" class="btn btn-danger pull-right">抢购</button>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6 fw-main-show">
            <img src="http://static.jubaobar.cn/51pay/res/img/show/daigoupic17.jpg" class="img-responsive " alt="剑灵">
            <a href="http://jubaobar.cn" class="fw-font-goods">【剑灵】游戏金币充值，44金金币金币</a>
            <div class="fw-sale">
                <span class="fw-font-price">￥30.00</span>
                <button type="button" class="btn btn-danger pull-right">抢购</button>
            </div>
        </div>

        <div class="col-sm-3 col-xs-6 fw-main-show">
            <img src="http://static.jubaobar.cn/51pay/res/img/show/daigoupic8.jpg" class="img-responsive " alt="剑灵">
            <a href="http://jubaobar.cn" class="fw-font-goods">【剑灵】游戏金币充值，44金金币金币</a>
            <div class="fw-sale">
                <span class="fw-font-price">￥30.00</span>
                <button type="button" class="btn btn-danger pull-right">抢购</button>
            </div>
        </div>
    </div>
    <div class="row fw-main-show-all fw-bgca3f2bf">
        <div class="col-sm-3 col-xs-6 fw-main-show-title">
            <i class="icon iconfont center-block ">&#xe605;</i>
            <div class="fw-main-h1">
                QQ代充
            </div>
        </div>
        <div class="col-sm-3 col-xs-6 fw-main-show">
            <img src="http://static.jubaobar.cn/51pay/res/img/show/daigoupic2.jpg" class="img-responsive " alt="剑灵">
            <a href="http://jubaobar.cn" class="fw-font-goods">【剑灵】游戏金币充值，44金金币金币</a>
            <div class="fw-sale">
                <span class="fw-font-price">￥30.00</span>
                <button type="button" class="btn btn-danger pull-right">抢购</button>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6 fw-main-show">
            <img src="http://static.jubaobar.cn/51pay/res/img/show/daigoupic17.jpg" class="img-responsive " alt="剑灵">
            <a href="http://jubaobar.cn" class="fw-font-goods">【剑灵】游戏金币充值，44金金币金币</a>
            <div class="fw-sale">
                <span class="fw-font-price">￥30.00</span>
                <button type="button" class="btn btn-danger pull-right">抢购</button>
            </div>
        </div>

        <div class="col-sm-3 col-xs-6 fw-main-show">
            <img src="http://static.jubaobar.cn/51pay/res/img/show/daigoupic8.jpg" class="img-responsive " alt="剑灵">
            <a href="http://jubaobar.cn" class="fw-font-goods">【剑灵】游戏金币充值，44金金币金币</a>
            <div class="fw-sale">
                <span class="fw-font-price">￥30.00</span>
                <button type="button" class="btn btn-danger pull-right">抢购</button>
            </div>
        </div>
    </div>
    <div class="row fw-main-show-all fw-bgc8ac9ea">
        <div class="col-sm-3 col-xs-6 fw-main-show-title">
            <i class="icon iconfont center-block ">&#xe602;</i>
            <div class="fw-main-h1">
                话费充值
            </div>
        </div>
        <div class="col-sm-3 col-xs-6 fw-main-show">
            <img src="http://static.jubaobar.cn/51pay/res/img/show/daigoupic2.jpg" class="img-responsive " alt="剑灵">
            <a href="http://jubaobar.cn" class="fw-font-goods">【剑灵】游戏金币充值，44金金币金币</a>
            <div class="fw-sale">
                <span class="fw-font-price">￥30.00</span>
                <button type="button" class="btn btn-danger pull-right">抢购</button>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6 fw-main-show">
            <img src="http://static.jubaobar.cn/51pay/res/img/show/daigoupic17.jpg" class="img-responsive " alt="剑灵">
            <a href="http://jubaobar.cn" class="fw-font-goods">【剑灵】游戏金币充值，44金金币金币</a>
            <div class="fw-sale">
                <span class="fw-font-price">￥30.00</span>
                <button type="button" class="btn btn-danger pull-right">抢购</button>
            </div>
        </div>

        <div class="col-sm-3 col-xs-6 fw-main-show">
            <img src="http://static.jubaobar.cn/51pay/res/img/show/daigoupic8.jpg" class="img-responsive " alt="剑灵">
            <a href="http://jubaobar.cn" class="fw-font-goods">【剑灵】游戏金币充值，44金金币金币</a>
            <div class="fw-sale">
                <span class="fw-font-price">￥30.00</span>
                <button type="button" class="btn btn-danger pull-right">抢购</button>
            </div>
        </div>
    </div>
    <div class="row fw-main-show-all fw-bgcffc785">
        <div class="col-sm-3 col-xs-6 fw-main-show-title">
            <i class="icon iconfont center-block ">&#xe603;</i>
            <div class="fw-main-h1">
                QQ代充
            </div>
        </div>
        <div class="col-sm-3 col-xs-6 fw-main-show">
            <img src="http://static.jubaobar.cn/51pay/res/img/show/daigoupic2.jpg" class="img-responsive " alt="剑灵">
            <a href="http://jubaobar.cn" class="fw-font-goods">【剑灵】游戏金币充值，44金金币金币</a>
            <div class="fw-sale">
                <span class="fw-font-price">￥30.00</span>
                <button type="button" class="btn btn-danger pull-right">抢购</button>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6 fw-main-show">
            <img src="http://static.jubaobar.cn/51pay/res/img/show/daigoupic17.jpg" class="img-responsive " alt="剑灵">
            <a href="http://jubaobar.cn" class="fw-font-goods">【剑灵】游戏金币充值，44金金币金币</a>
            <div class="fw-sale">
                <span class="fw-font-price">￥30.00</span>
                <button type="button" class="btn btn-danger pull-right">抢购</button>
            </div>
        </div>

        <div class="col-sm-3 col-xs-6 fw-main-show">
            <img src="http://static.jubaobar.cn/51pay/res/img/show/daigoupic8.jpg" class="img-responsive " alt="剑灵">
            <a href="http://jubaobar.cn" class="fw-font-goods">【剑灵】游戏金币充值，44金金币金币</a>
            <div class="fw-sale">
                <span class="fw-font-price">￥30.00</span>
                <button type="button" class="btn btn-danger pull-right">抢购</button>
            </div>
        </div>
    </div>
    <div class="row fw-main-show-all fw-bgcece273">
        <div class="col-sm-3 col-xs-6 fw-main-show-title">
            <i class="icon iconfont center-block ">&#xe60a;</i>
            <div class="fw-main-h1">
                VIP会员
            </div>
        </div>
        <div class="col-sm-3 col-xs-6 fw-main-show">
            <img src="http://static.jubaobar.cn/51pay/res/img/show/daigoupic2.jpg" class="img-responsive " alt="剑灵">
            <a href="http://jubaobar.cn" class="fw-font-goods">【剑灵】游戏金币充值，44金金币金币</a>
            <div class="fw-sale">
                <span class="fw-font-price">￥30.00</span>
                <button type="button" class="btn btn-danger pull-right">抢购</button>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6 fw-main-show">
            <img src="http://static.jubaobar.cn/51pay/res/img/show/daigoupic17.jpg" class="img-responsive " alt="剑灵">
            <a href="http://jubaobar.cn" class="fw-font-goods">【剑灵】游戏金币充值，44金金币金币</a>
            <div class="fw-sale">
                <span class="fw-font-price">￥30.00</span>
                <button type="button" class="btn btn-danger pull-right">抢购</button>
            </div>
        </div>

        <div class="col-sm-3 col-xs-6 fw-main-show">
            <img src="http://static.jubaobar.cn/51pay/res/img/show/daigoupic8.jpg" class="img-responsive " alt="剑灵">
            <a href="http://jubaobar.cn" class="fw-font-goods">【剑灵】游戏金币充值，44金金币金币</a>
            <div class="fw-sale">
                <span class="fw-font-price">￥30.00</span>
                <button type="button" class="btn btn-danger pull-right">抢购</button>
            </div>
        </div>
    </div>
</div>
<link rel="import" href="footer/index.html?__inline">
</body>

</html>
<link rel="import" href="../components/required/index.html?__inline">