<div class="table-responsive y-mt-36 y-table-responsive">
    <table class="table table-bordered text-center y-table-default">
        <thead>
        <tr class="">
            <td>交易时间</td>
            <td>流水号</td>
            <td>收支金额</td>
            <td>账户余额</td>
            <td>类型</td>
            <td>支付方式</td>
            <td>状态</td>
        </tr>
        </thead>
        <tbody>
        <tr class="y-ht-65">
            <td class="y-td-sm">2016-07-06 16:53:04</td>
            <td class="y-td-sm">CZ20160711055321098</td>
            <td class="y-cl-45c65d">+10000</td>
            <td class="">50000</td>
            <td class="">充值</td>
            <td>微信</td>
            <td>交易成功</td>
        </tr>
        <tr class="y-ht-65">
            <td class="y-td-sm">2016-07-06 16:53:04</td>
            <td class="y-td-sm">FKB003</td>
            <td class="y-cl-ec4828">-300</td>
            <td class="">36546</td>
            <td class="">手续费</td>
            <td>网银</td>
            <td class="y-cl-d9">交易失败</td>
        </tr>
        <tr class="y-ht-65">
            <td class="y-td-sm">2016-07-06 16:53:04</td>
            <td class="y-td-sm">CZ20160711055321098</td>
            <td class="y-cl-45c65d">+10000</td>
            <td class="">50000</td>
            <td class="">充值</td>
            <td>微信</td>
            <td>交易成功</td>
        </tr>
        <tr class="y-ht-65">
            <td class="y-td-sm">2016-07-06 16:53:04</td>
            <td class="y-td-sm">FKB003</td>
            <td class="y-cl-ec4828">-300</td>
            <td class="">36546</td>
            <td class="">手续费</td>
            <td>网银</td>
            <td class="y-cl-d9">交易失败</td>
        </tr>
        </tbody>
    </table>
</div>
<link rel="import" href="../../view/nav/pagination.html?__inline">