body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1372px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:370px;
  top:84px;
  width:410px;
  height:308px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:308px;
}
#u1 {
  position:absolute;
  left:2px;
  top:146px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:390px;
  top:120px;
  width:53px;
  height:112px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:112px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:453px;
  top:115px;
  width:217px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u5 {
  position:absolute;
  left:453px;
  top:164px;
  width:217px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6 {
  position:absolute;
  left:453px;
  top:215px;
  width:127px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:595px;
  top:210px;
  width:165px;
  height:42px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:42px;
}
#u8 {
  position:absolute;
  left:2px;
  top:13px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:453px;
  top:270px;
  width:77px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u10 {
  position:absolute;
  left:520px;
  top:30px;
  width:97px;
  height:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:870px;
  top:150px;
  width:502px;
  height:160px;
  color:#FF0000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:160px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:460px;
  top:340px;
  width:130px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:center;
}
#u15 {
  position:absolute;
  left:510px;
  top:480px;
  width:520px;
  height:215px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:215px;
}
#u16 {
  position:absolute;
  left:2px;
  top:100px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:565px;
  top:572px;
  width:421px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:33px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:754px;
  top:511px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:726px;
  top:630px;
  width:100px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
