body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1220px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:20px;
  width:1180px;
  height:100px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:51px;
  width:64px;
  height:42px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:42px;
}
#u3 {
  position:absolute;
  left:2px;
  top:13px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:130px;
  top:64px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#099FDD;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:319px;
  top:62px;
  width:531px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1088px;
  top:62px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:1133px;
  top:54px;
  width:70px;
  height:35px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:971px;
  top:170px;
  width:150px;
  height:130px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:130px;
}
#u13 {
  position:absolute;
  left:2px;
  top:45px;
  width:146px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:992px;
  top:320px;
  width:100px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u15 {
  position:absolute;
  left:86px;
  top:420px;
  width:150px;
  height:130px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:130px;
}
#u16 {
  position:absolute;
  left:2px;
  top:45px;
  width:146px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:107px;
  top:570px;
  width:100px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u18 {
  position:absolute;
  left:362px;
  top:415px;
  width:150px;
  height:130px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:130px;
}
#u19 {
  position:absolute;
  left:2px;
  top:45px;
  width:146px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:383px;
  top:565px;
  width:100px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u21 {
  position:absolute;
  left:670px;
  top:405px;
  width:150px;
  height:130px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:130px;
}
#u22 {
  position:absolute;
  left:2px;
  top:53px;
  width:146px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:691px;
  top:555px;
  width:100px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u24 {
  position:absolute;
  left:967px;
  top:398px;
  width:150px;
  height:130px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:130px;
}
#u25 {
  position:absolute;
  left:2px;
  top:45px;
  width:146px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:988px;
  top:548px;
  width:100px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u27 {
  position:absolute;
  left:82px;
  top:695px;
  width:150px;
  height:130px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:130px;
}
#u28 {
  position:absolute;
  left:2px;
  top:45px;
  width:146px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:103px;
  top:845px;
  width:100px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u30 {
  position:absolute;
  left:90px;
  top:170px;
  width:150px;
  height:130px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:130px;
}
#u31 {
  position:absolute;
  left:2px;
  top:45px;
  width:146px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:111px;
  top:320px;
  width:100px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u33 {
  position:absolute;
  left:370px;
  top:170px;
  width:150px;
  height:130px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:130px;
}
#u34 {
  position:absolute;
  left:2px;
  top:45px;
  width:146px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:391px;
  top:320px;
  width:100px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u36 {
  position:absolute;
  left:670px;
  top:170px;
  width:150px;
  height:130px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:130px;
}
#u37 {
  position:absolute;
  left:2px;
  top:45px;
  width:146px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:691px;
  top:320px;
  width:100px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u39 {
  position:absolute;
  left:358px;
  top:695px;
  width:150px;
  height:130px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:130px;
}
#u40 {
  position:absolute;
  left:2px;
  top:53px;
  width:146px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:379px;
  top:845px;
  width:100px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u42 {
  position:absolute;
  left:32px;
  top:930px;
  width:1171px;
  height:425px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:425px;
}
#u43 {
  position:absolute;
  left:2px;
  top:204px;
  width:1167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:112px;
  top:1020px;
  width:96px;
  height:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:112px;
  top:1050px;
  width:96px;
  height:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:112px;
  top:1080px;
  width:96px;
  height:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:266px;
  top:1080px;
  width:96px;
  height:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u51 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
