body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:122px;
  top:142px;
  width:97px;
  height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:110px;
  top:632px;
  width:121px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:110px;
  top:840px;
  width:121px;
  height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:122px;
  top:175px;
  width:938px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:921px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:938px;
  height:1px;
}
#u7 {
  position:absolute;
  left:106px;
  top:670px;
  width:938px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:921px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:938px;
  height:1px;
}
#u8 {
  position:absolute;
  left:109px;
  top:885px;
  width:938px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:921px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:938px;
  height:1px;
}
#u9 {
  position:absolute;
  left:168px;
  top:926px;
  width:79px;
  height:144px;
  text-align:right;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:144px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:152px;
  top:712px;
  width:79px;
  height:80px;
  text-align:right;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:80px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:131px;
  top:203px;
  width:105px;
  height:384px;
  text-align:right;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:384px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:70px;
  top:60px;
  width:1180px;
  height:58px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:58px;
}
#u16 {
  position:absolute;
  left:2px;
  top:21px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:98px;
  top:81px;
  width:46px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:210px;
  top:82px;
  width:40px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:1150px;
  top:81px;
  width:74px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:270px;
  top:203px;
  width:251px;
  height:384px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:384px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:270px;
  top:712px;
  width:70px;
  height:80px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:80px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:270px;
  top:926px;
  width:78px;
  height:144px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:144px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
