<link rel="import" href="../components/head/index.html?__inline">

<body>
<link rel="import" href="../components/nav/nav.html?__inline">

<!--product-details-->
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-md-push-2 col-lg-6 col-lg-push-1 fw-goods-img">
            <div class="thumbnail">
                <img src="../components/public/daigoupic2.jpg">
            </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-3 col-md-push-2 col-lg-4 col-lg-push-0 fw-goods-type">
            <h3 class="fw-ellipsis">游戏币</h3>
            <div class="">
                <span>商品分类：</span><span class="fw-ellipsis">游戏代充</span>
            </div>
            <div class="">
                <span>商品品牌：</span><span class="fw-ellipsis">征途天下</span>
            </div>
            <div class="">
                <span>品牌网站：</span><span class="fw-ellipsis">baidu.com</span>
            </div>
            <div class="">
                <span class="fw-goods-price">商品价格：</span><span class="fw-font-price fw-ellipsis">￥5000</span>
            </div>
            <button class="btn btn-danger">抢购</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-push-2 col-lg-10 col-lg-push-1">
            <h3>&nbsp;产品简介</h3>
            <hr/>
            <div class="fw-baidu-edit">
                <img src="111"/>
                我是富文本编辑器的内容
            </div>
        </div>
    </div>
</div>
<!--end-->
<link rel="import" href="footer/index.html?__inline">
<link rel="import" href="../components/required/index.html?__inline">