<link rel="import" href="../components/head/index.html?__inline">

<body>
    <link rel="import" href="../components/nav/nav.html?__inline">
<div class="container y-m-t-40 y-m-b-20">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <h3><strong>用户中心</strong></h3></div>
        </div>
        <div class="panel-body">
            <div class="fw-uc-p">用户类型：<span class="fw-uc-vip">vip</span>用户</div>
            <div class="pull-left">有效期至：12月1日</div>
            <div class="clearfix"></div>
            <div class="fw-uc-p">
                账户余额<span class="fw-font-price">￥10.36元</span>
            </div>
            <div class="pull-left">
                <button class="btn btn-default fw-uc-btn-pay" data-toggle="modal" data-target="#js-pay-center">充值</button>
                <button class="btn btn-danger" data-toggle="modal" data-target="#js-cash-center">提现</button>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                我的账单
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>操作时间</th>
                    <th>类型</th>
                    <th>金额</th>
                    <th>状态</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>2016-01-08 15:46:29</td>
                    <td>充值</td>
                    <td>10.36元</td>
                    <td class="text-success">成功</td>
                </tr>
                <tr>
                    <td>2016-01-08 15:46:29</td>
                    <td>提现</td>
                    <td>20.00元</td>
                    <td class="text-danger">失败</td>
                </tr>
                <tr>
                    <td>2016-01-08 15:46:29</td>
                    <td>转账</td>
                    <td>10.00元</td>
                    <td class="text-info">受理</td>
                </tr>
                <tr>
                    <td>2016-01-08 15:46:29</td>
                    <td>提现</td>
                    <td>10.00元</td>
                    <td class="text-warning">警告</td>
                </tr>
                <tr>
                    <td>2016-01-08 15:46:29</td>
                    <td>提现</td>
                    <td>10.00元</td>
                    <td class="text-default">正常</td>
                </tr>
                </tbody>
            </table>
            <div class="text-center">
                <ul class="pagination">
                    <li><a href="#">&laquo;&nbsp;上一页</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">下一页&nbsp;&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade" id="js-pay-center" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="panel panel-default fw-pay-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        充值中心
                    </div>
                </div>
                <div class="panel-body">
                    <form class="bs-example bs-example-form" role="form">
                        <div class="input-group">
                            <span class="input-group-addon">充值金额</span>
                            <input type="text" class="form-control" placeholder="请输入金额数目...">
                        </div>
                        <br/>
                        <p class="y-cl-ff5151">重要提醒:请输入正确的充值金额 </p>
                        <hr>
                        <input type="checkbox" checked="checked">
                        <img class="y-img" src="http://static.jubaobar.cn/51pay/res/img/logo/alipaylogo1.png"/>
                    </form>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                    <button class="btn btn-danger pull-right">充值</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="js-cash-center" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="panel panel-default fw-pay-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        提现中心
                    </div>
                </div>
                <div class="panel-body">
                    <form class="bs-example bs-example-form" role="form">
                        <label for="name">&nbsp;选择银行：</label>
                        <select class="form-control">
                            <option>工商银行</option>
                            <option>农业银行</option>
                            <option>建设银行</option>
                            <option>中国银行</option>
                            <option>招商银行</option>
                        </select>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon">&nbsp;&nbsp;持卡人</span>
                            <input type="text" class="form-control" placeholder="请输入持卡人姓名...">
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon">输入卡号</span>
                            <input type="text" class="form-control" placeholder="请输入银行卡号...">
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon">提现金额</span>
                            <input type="text" class="form-control" placeholder="请输入提现金额...">
                        </div>
                        <br/>
                        <p class="y-cl-ff5151">重要提醒:请输入正确的卡号和密码 </p>
                        <p class="y-cl-ff5151">重要提醒:请输入正确的卡号和密码 </p>
                    </form>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                    <button class="btn btn-danger pull-right">提现</button>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="import" href="footer/index.html?__inline">
<link rel="import" href="../components/required/index.html?__inline">