<div class="modal fade" y-modal="smsConfirm" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header y-modal-header-default">
                <h3 class="y-mg0">安全确认
			    <button type="button" class="close" data-dismiss="modal">
			        <span aria-hidden="true">&times;</span>
		        </button>
			</h3>
            </div>
            <div class="modal-body y-pt30">
                <form class="form-horizontal" action="" method="">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">安全密码</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="password" name="" id="" value="" placeholder="请输入密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">短信验证码</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="" id="" value="" placeholder="请输入验证码">
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn y-btn-blue">发送验证码</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer y-modal-footer-default">
                <button type="button" class="btn y-btn-blue center-block">确认</button>
            </div>
        </div>
    </div>
</div>