<!DOCTYPE html>
<html lang="zh-cnm">

	<head>
		<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="HandheldFriendly" content="true">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">
<title>SDK 商户后台</title>
<meta name="author" content="yhtml5.com" />
<meta name="keywords" content="">
<meta name="description" content=" ">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<link rel="shortcut icon" href="../static/img/shortcut-icon.png" type="image/x-icon">
<link href="http://static.jubaobar.cn/framework/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/yhtml5.dbd1a249.css" />
<script src="http://static.jubaobar.cn/framework/jquery/jquery-1.11.3.min.js"></script>
<script src="http://static.jubaobar.cn/framework/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/yhtml5.9f9ee454.js"></script>
	</head>

	<body class="index">
		<link href="/components/header/header.css" /><header class="y-header">
	<nav class="navbar y-navbar-info navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand y-header-logo" href="#" onclick="javascript:return false;"><img src="../static/img/logo-sdk.png" /></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse y-mt15" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav text-center" role="tablist">
					<li role="presentation" class="active"><a href="#y-home" aria-controls="y-home" role="tab" data-toggle="tab">控制台</a></li>
					<li role="presentation"><a href="#y-member" aria-controls="y-member" role="tab" data-toggle="tab">成员管理</a></li>
					<li role="presentation"><a href="#y-account" aria-controls="y-account" role="tab" data-toggle="tab">结算管理</a></li>
					<li><a class="y-header-help" data-toggle="modal" data-target="#y-help-center" href="#" onclick="javascript:return false;"><span>帮助</span><i class="iconfont">&#xe612;</i></a></li>
				</ul>
				<a class="nav navbar-brand navbar-right y-header-close" href="#" onclick="javascript:return false;">退出<i class="iconfont">&#xe608;</i></a>
				<form class="navbar-form pull-right" role="search" action="" method="">
					<div class="input-group y-header-search  hidden-sm">
						<input type="text" class="form-control" id="" value="" placeholder="付款方名称、订单号...">
						<span class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="iconfont">&#xe611;</i></button>
					</span>
					</div>
				</form>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
</header>
		<div class="container y-body tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="y-home">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-lg-3">
						<link href="/components/panel-display/panel-display.css" /><div class="panel panel-default y-panel-display">
	<div class="panel-heading">
		<h3>应用模型</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-6 col-xs-push-1 y-panel-display-money">
				<i class="iconfont">&#xe610;</i>
				<p>总收益</p>
			</div>
			<div class="col-xs-6 col-xs-pull-1 y-num">
				1232万
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-xs-push-1 y-panel-display-user">
				<i class="iconfont">&#xe609;</i>
				<p>付费用户</p>
			</div>
			<div class="col-xs-6 col-xs-pull-1 y-num">
				321千
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<div class="row y-panel-display-set">
			<div class="col-xs-4 col-xs-push-1">
				<i class="iconfont">&#xe601;</i>
				<p>支付</p>
			</div>
			<div class="col-xs-4">
				<i class="iconfont">&#xe60d;</i>
				<p>分析</p>
			</div>
			<div class="col-xs-4 col-xs-pull-1">
				<i class="iconfont">&#xe600;</i>
				<p>设置</p>
			</div>
		</div>
	</div>
</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-lg-3">
						<link href="/components/panel-display/panel-display.css" /><div class="panel panel-default y-panel-display">
	<div class="panel-heading">
		<h3>应用模型</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-6 col-xs-push-1 y-panel-display-money">
				<i class="iconfont">&#xe610;</i>
				<p>总收益</p>
			</div>
			<div class="col-xs-6 col-xs-pull-1 y-num">
				1232万
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-xs-push-1 y-panel-display-user">
				<i class="iconfont">&#xe609;</i>
				<p>付费用户</p>
			</div>
			<div class="col-xs-6 col-xs-pull-1 y-num">
				321千
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<div class="row y-panel-display-set">
			<div class="col-xs-4 col-xs-push-1">
				<i class="iconfont">&#xe601;</i>
				<p>支付</p>
			</div>
			<div class="col-xs-4">
				<i class="iconfont">&#xe60d;</i>
				<p>分析</p>
			</div>
			<div class="col-xs-4 col-xs-pull-1">
				<i class="iconfont">&#xe600;</i>
				<p>设置</p>
			</div>
		</div>
	</div>
</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-lg-3">
						<link href="/components/panel-display/panel-display.css" /><div class="panel panel-default y-panel-display">
	<div class="panel-heading">
		<h3>应用模型</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-6 col-xs-push-1 y-panel-display-money">
				<i class="iconfont">&#xe610;</i>
				<p>总收益</p>
			</div>
			<div class="col-xs-6 col-xs-pull-1 y-num">
				1232万
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-xs-push-1 y-panel-display-user">
				<i class="iconfont">&#xe609;</i>
				<p>付费用户</p>
			</div>
			<div class="col-xs-6 col-xs-pull-1 y-num">
				321千
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<div class="row y-panel-display-set">
			<div class="col-xs-4 col-xs-push-1">
				<i class="iconfont">&#xe601;</i>
				<p>支付</p>
			</div>
			<div class="col-xs-4">
				<i class="iconfont">&#xe60d;</i>
				<p>分析</p>
			</div>
			<div class="col-xs-4 col-xs-pull-1">
				<i class="iconfont">&#xe600;</i>
				<p>设置</p>
			</div>
		</div>
	</div>
</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-lg-3">
						<link href="/components/panel-add/panel-add.css" /><div class="panel panel-default y-panel-add">
	<div class="panel-body">
		<i class="iconfont" data-toggle="modal" data-target="#y-app-add">&#xe602;</i>
	</div>
</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="y-member"><link href="/components/member/member.css" /><div class="panel panel-default y-member">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-6 col-sm-3 col-lg-2 y-member-list-title">
				成员列表
			</div>
			<div class="col-xs-6 visible-xs-block col-sm-3 col-sm-push-1 y-member-add-btn">
				<button class="btn btn-info">邀请成员</button>
			</div>
			<div class="col-xs-12 col-sm-5 col-sm-pull-1">
				<form class="navbar-form" role="search" action="" method="">
					<div class="input-group y-header-search">
						<input type="text" class="form-control" id="" value="" placeholder="请输入任意内容搜索...">
						<span class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="iconfont">&#xe611;</i></button>
					</span>
					</div>
				</form>
			</div>
			<div class="col-xs-6 hidden-xs col-sm-3 col-sm-push-1 col-lg-push-2 y-member-add-btn">
				<button class="btn btn-info">邀请成员</button>
			</div>
		</div>

	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-striped table-hover table-condensed table-bordered">
				<thead>
					<tr>
						<th>成员编号</th>
						<th>邮箱</th>
						<th>成员名称</th>
						<th>应用名称</th>
						<th>注册日期</th>
						<th>最后登录</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Data</td>
						<td>Data</td>
						<td>Data</td>
						<td>Data</td>
						<td>Data</td>
						<td>Data</td>
						<td>
							<button type="button" class="btn btn-info">重置</button>
							<button type="button" class="btn btn-danger">删除</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div></div>
			<div role="tabpanel" class="tab-pane" id="y-account">3</div>
		</div>
		<div class="container">
			<link href="/components/help-center/help-center.css" /><div class="modal fade y-help-center" id="y-help-center" tabindex="-1" role="dialog" aria-labelledby="help-center">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header y-modal-header-default">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title" id="myModalLabel">帮助中心</h3>
			</div>
			<div class="modal-body">
				<div class="list-group">
					<a href="#" class="list-group-item active row">
						<div class="col-xs-3 col-xs-push-1">
							<i class="iconfont">&#xe604;</i>
						</div>
						<div class="col-xs-9 col-xs-pull-1">
							Android SDK 下载
						</div>
					</a>
					<a href="#" class="list-group-item row">
						<div class="col-xs-3 col-xs-push-1">
							<i class="iconfont">&#xe616;</i>
						</div>
						<div class="col-xs-9 col-xs-pull-1">
							IOS SDK 下载
						</div>
					</a>
					<a href="#" class="list-group-item row">
						<div class="col-xs-3 col-xs-push-1">
							<i class="iconfont">&#xe617;</i>
						</div>
						<div class="col-xs-9 col-xs-pull-1">
							渠道打包工具 下载
						</div>
					</a>
					<a href="#" class="list-group-item row">
						<div class="col-xs-3 col-xs-push-1">
							<i class="iconfont">&#xe618;</i>
						</div>
						<div class="col-xs-9 col-xs-pull-1">
							帮助文档
						</div>
					</a>
					<a href="#" class="list-group-item row">
						<div class="col-xs-3 col-xs-push-1">
							<i class="iconfont">&#xe615;</i>
						</div>
						<div class="col-xs-9 col-xs-pull-1">
							在线支持 8892820
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
			<link href="/components/app-add/app-add.css" /><div class="modal fade y-app-add" id="y-app-add" tabindex="-1" role="dialog" aria-labelledby="app-add">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header y-modal-header-default">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title" id="myModalLabel">新建应用</h3>
			</div>
			<div class="modal-body">
				<form class="" action="">
					<div class="form-group">
						<input type="text" class="form-control" name="" id="" value="" placeholder="请输入应用名称...">
						<select class="form-control" name="">
							<option value="">Andorid</option>
							<option value="">IOS</option>
						</select>
					</div>
				</form>
			</div>
			<div class="modal-footer y-modal-footer-default">
				<button class="btn btn-info y-app-add-create" type="button" data-loading-text="创建中.." autocomplete="off">创建</button>
				<button class="btn btn-danger" type="button" data-dismiss="modal">取消</button>
			</div>
		</div>
		<!--modal-content-->
	</div>
</div>
		</div>
	</body>

</html>