body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3175px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:1956px;
  top:234px;
  width:1219px;
  height:740px;
  opacity:0.3;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:740px;
}
#u2 {
  position:absolute;
  left:2px;
  top:362px;
  width:1215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:1956px;
  top:334px;
  width:1219px;
  height:10px;
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:1202px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1219px;
  height:1px;
}
#u4 {
  position:absolute;
  left:2753px;
  top:275px;
  width:235px;
  height:33px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:33px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u5 {
  position:absolute;
  left:2987px;
  top:275px;
  width:44px;
  height:33px;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:33px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1991px;
  top:254px;
  width:125px;
  height:70px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:70px;
}
#u8 {
  position:absolute;
  left:2px;
  top:27px;
  width:121px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:2143px;
  top:271px;
  width:113px;
  height:43px;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:43px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:2277px;
  top:271px;
  width:113px;
  height:43px;
  font-size:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:43px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:2411px;
  top:271px;
  width:113px;
  height:43px;
  font-size:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:43px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:3103px;
  top:264px;
  width:50px;
  height:50px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u16 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:2579px;
  top:274px;
  width:50px;
  height:40px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:210px;
  top:235px;
  width:1219px;
  height:740px;
  opacity:0.3;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:740px;
}
#u21 {
  position:absolute;
  left:2px;
  top:362px;
  width:1215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:210px;
  top:335px;
  width:1219px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:1202px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1219px;
  height:1px;
}
#u23 {
  position:absolute;
  left:1007px;
  top:276px;
  width:235px;
  height:33px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:33px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u24 {
  position:absolute;
  left:1241px;
  top:276px;
  width:44px;
  height:33px;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:33px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:245px;
  top:255px;
  width:125px;
  height:70px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:70px;
}
#u27 {
  position:absolute;
  left:2px;
  top:27px;
  width:121px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:397px;
  top:272px;
  width:113px;
  height:43px;
  font-size:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:43px;
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:531px;
  top:272px;
  width:113px;
  height:43px;
  font-size:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:43px;
}
#u31 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:665px;
  top:272px;
  width:113px;
  height:43px;
  font-size:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:43px;
}
#u33 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1357px;
  top:265px;
  width:50px;
  height:50px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u35 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:833px;
  top:275px;
  width:50px;
  height:40px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:312px;
  top:460px;
  width:1009px;
  height:420px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1009px;
  height:420px;
}
#u39 {
  position:absolute;
  left:2px;
  top:202px;
  width:1005px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:310px;
  top:363px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:314px;
  top:461px;
  width:1007px;
  height:59px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:59px;
}
#u43 {
  position:absolute;
  left:2px;
  top:22px;
  width:1003px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:359px;
  top:483px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:503px;
  top:483px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:628px;
  top:483px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:753px;
  top:483px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:883px;
  top:483px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:1015px;
  top:483px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:1211px;
  top:482px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:441px;
  top:461px;
  width:10px;
  height:60px;
}
#u58_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u58_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u58_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u59 {
  position:absolute;
  left:579px;
  top:460px;
  width:10px;
  height:60px;
}
#u59_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u59_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u59_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u60 {
  position:absolute;
  left:723px;
  top:460px;
  width:10px;
  height:60px;
}
#u60_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u60_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u60_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u61 {
  position:absolute;
  left:831px;
  top:460px;
  width:10px;
  height:60px;
}
#u61_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u61_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u61_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u62 {
  position:absolute;
  left:989px;
  top:461px;
  width:10px;
  height:60px;
}
#u62_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u62_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u62_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u63 {
  position:absolute;
  left:1156px;
  top:461px;
  width:10px;
  height:60px;
}
#u63_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u63_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u63_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u64 {
  position:absolute;
  left:314px;
  top:518px;
  width:1007px;
  height:62px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:62px;
}
#u65 {
  position:absolute;
  left:2px;
  top:23px;
  width:1003px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:364px;
  top:541px;
  width:46px;
  height:16px;
  font-size:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:450px;
  top:541px;
  width:136px;
  height:16px;
  font-size:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:624px;
  top:541px;
  width:97px;
  height:16px;
  font-size:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:755px;
  top:541px;
  width:80px;
  height:16px;
  font-size:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:853px;
  top:541px;
  width:141px;
  height:16px;
  font-size:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:1004px;
  top:541px;
  width:150px;
  height:16px;
  font-size:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:1169px;
  top:537px;
  width:68px;
  height:29px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
}
#u79 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:882px;
  top:930px;
  width:439px;
  height:25px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:25px;
}
#u81 {
  position:absolute;
  left:2px;
  top:4px;
  width:435px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:314px;
  top:580px;
  width:1007px;
  height:62px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:62px;
}
#u83 {
  position:absolute;
  left:2px;
  top:23px;
  width:1003px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:364px;
  top:603px;
  width:46px;
  height:16px;
  font-size:16px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:450px;
  top:603px;
  width:136px;
  height:16px;
  font-size:16px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:624px;
  top:603px;
  width:97px;
  height:16px;
  font-size:16px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:755px;
  top:603px;
  width:41px;
  height:19px;
  font-size:16px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:853px;
  top:603px;
  width:141px;
  height:16px;
  font-size:16px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:1004px;
  top:603px;
  width:150px;
  height:16px;
  font-size:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:1174px;
  top:599px;
  width:68px;
  height:29px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
}
#u97 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:1253px;
  top:599px;
  width:53px;
  height:29px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:29px;
}
#u99 {
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:1253px;
  top:537px;
  width:53px;
  height:29px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:29px;
}
#u101 {
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:1450px;
  top:210px;
  width:430px;
  height:250px;
  text-align:left;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:250px;
}
#u103 {
  position:absolute;
  left:2px;
  top:2px;
  width:426px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:2042px;
  top:437px;
  width:1009px;
  height:443px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1009px;
  height:443px;
}
#u105 {
  position:absolute;
  left:2px;
  top:214px;
  width:1005px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:2082px;
  top:369px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:2863px;
  top:357px;
  width:157px;
  height:50px;
  font-size:28px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:50px;
}
#u109 {
  position:absolute;
  left:2px;
  top:8px;
  width:153px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:2044px;
  top:438px;
  width:1007px;
  height:59px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:59px;
}
#u111 {
  position:absolute;
  left:2px;
  top:22px;
  width:1003px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:2089px;
  top:460px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:2233px;
  top:460px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:2358px;
  top:460px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:2483px;
  top:460px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:2613px;
  top:460px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:2745px;
  top:460px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:2941px;
  top:459px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:2171px;
  top:438px;
  width:10px;
  height:60px;
}
#u126_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u126_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u126_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u127 {
  position:absolute;
  left:2309px;
  top:437px;
  width:10px;
  height:60px;
}
#u127_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u127_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u127_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u128 {
  position:absolute;
  left:2453px;
  top:437px;
  width:10px;
  height:60px;
}
#u128_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u128_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u128_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u129 {
  position:absolute;
  left:2561px;
  top:437px;
  width:10px;
  height:60px;
}
#u129_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u129_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u129_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u130 {
  position:absolute;
  left:2719px;
  top:438px;
  width:10px;
  height:60px;
}
#u130_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u130_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u130_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u131 {
  position:absolute;
  left:2886px;
  top:438px;
  width:10px;
  height:60px;
}
#u131_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u131_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u131_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u132 {
  position:absolute;
  left:2450px;
  top:587px;
  width:200px;
  height:100px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u133 {
  position:absolute;
  left:2px;
  top:34px;
  width:196px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:314px;
  top:406px;
  width:1006px;
  height:56px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:56px;
}
#u135 {
  position:absolute;
  left:2px;
  top:20px;
  width:1002px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:1159px;
  top:420px;
  width:106px;
  height:30px;
  font-size:16px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u137 {
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:364px;
  top:427px;
  width:28px;
  height:23px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:23px;
}
#u139 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:401px;
  top:420px;
  width:232px;
  height:32px;
}
#u140_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:32px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
