<nav class="row navbar navbar-default y-navbar-main">
    <div class="col-md-2">
        <img class="y-logo" src="sklogo2.png" alt="logo">
    </div>
    <div class="col-md-8">
        <ul class="nav navbar-nav y-navbar-nav">
            <li><a href="../record.html">交易记录</a></li>
            <li><a href="../payee.html">收款账号管理</a></li>
            <li><a href="#">对接包下载</a></li>
            <li><a href="#">账户管理</a></li>
        </ul>
    </div>
    <div class="col-md-2 text-right y-pr-40">
        <img src="grzx1.png" alt="user" width="56" height="56" y-navbar="user.img">
    </div>
</nav>
<link rel="import" href="userPanel.html?__inline">
