<nav class="row navbar navbar-default y-navbar-main">
    <div class="col-md-2">
        <img class="img-responsive" src="payee/sklogo2.png" alt="logo" width="174" height="64">
    </div>
    <div class="col-md-8 y-nav-ul">
        <ul class="nav navbar-nav y-fs18">
            <li><a href="#">交易记录</a></li>
            <li><a href="#">收款账号管理</a></li>
            <li><a href="#">对接包下载</a></li>
            <li><a href="#">账户管理</a></li>
        </ul>
    </div>
    <div class="col-md-2 text-right">
        <img src="payee/grzx1.png" alt="" width="56" height="56">
    </div>
</nav>