body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:200px;
  top:200px;
  width:1226px;
  height:1010px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:1010px;
}
#u1 {
  position:absolute;
  left:2px;
  top:497px;
  width:1222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:772px;
  top:227px;
  width:145px;
  height:42px;
  font-size:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:624px;
  top:1125px;
  width:298px;
  height:51px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:51px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:294px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:422px;
  top:378px;
  width:915px;
  height:711px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:915px;
  height:711px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u7 {
  position:absolute;
  left:1530px;
  top:200px;
  width:430px;
  height:250px;
  text-align:left;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:250px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:426px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:223px;
  top:668px;
  width:41px;
  height:42px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u10 {
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:272px;
  top:684px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:223px;
  top:980px;
  width:41px;
  height:36px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:272px;
  top:992px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:238px;
  top:710px;
  width:10px;
  height:270px;
}
#u17_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u17_end {
  position:absolute;
  left:-5px;
  top:253px;
  width:20px;
  height:18px;
}
#u17_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:270px;
}
#u18 {
  position:absolute;
  left:272px;
  top:364px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:238px;
  top:400px;
  width:10px;
  height:268px;
}
#u20_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u20_end {
  position:absolute;
  left:-5px;
  top:251px;
  width:20px;
  height:18px;
}
#u20_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:268px;
}
#u21 {
  position:absolute;
  left:223px;
  top:358px;
  width:41px;
  height:42px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u22 {
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:235px;
  top:220px;
  width:126px;
  height:70px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:70px;
}
#u24 {
  position:absolute;
  left:2px;
  top:27px;
  width:122px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1225px;
  top:300px;
}
#u25_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u25_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:205px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:205px;
}
#u27 {
  position:absolute;
  left:2px;
  top:94px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:12px;
  top:26px;
  width:174px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:41px;
  top:73px;
  width:120px;
  height:30px;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:75px;
  top:128px;
  width:50px;
  height:50px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u33 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1356px;
  top:230px;
  width:51px;
  height:49px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:49px;
}
#u35 {
  position:absolute;
  left:2px;
  top:16px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:200px;
  top:300px;
  width:1219px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:1202px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1219px;
  height:1px;
}
