<div class="container y-mt80 y-mb60">
    <div class="row">
        <div class="col-xs-3 col-sm-4">
            <div class="row y-card-down">
                <div class="col-sm-5">
                    <i class="icon iconfont y-fs90 iconanzhuo"></i>
                </div>
                <div class="col-sm-7">
                    <h3>Android</h3>
                    <h4><small>（SDK开发包）</small></h4>
                    <h4><button type="button" class="btn btn-info">下载</button></h4>
                </div>
            </div>
        </div>
    </div>
</div>