.y-card-down {
    border: solid 1px #555;
    padding: 50px 10px;
    margin: auto;
    text-align: center;
}

.y-iconanzhuo {
    font-size: 90px;
    color: #2f2f2f;
}

.y-ios {
    font-size: 90px;
    color: #2f2f2f;
}

.y-php {
    font-size: 90px;
    color: #2f2f2f;
}

.y-java {
    font-size: 90px;
    color: #2f2f2f;
}

.y-weibiaoti4zhuanhuan {
    font-size: 90px;
    color: #2f2f2f;
}

.y-windows {
    font-size: 90px;
    color: #2f2f2f;
}