<div class="y-mt80 y-pt60 y-pb180 y-bgcf6">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-lg-3 y-mt20" ng-repeat="data in downloadRecord">
                <div class="row y-card y-card-md">
                    <div class="col-sm-5">
                        <i class="iconfont" ng-class="data.sdkClass"></i>
                    </div>
                    <div class="col-sm-7">
                        <h3 ng-bind="data.sdkName"></h3>
                        <h4><small ng-bind="data.sdkNote"></small></h4>
                        <h4><button type="button" class="btn btn-info">下载</button></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>