<nav class="navbar y-navbar-info navbar-fixed-top" ng-controller="yhtml5.nav">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
            <a class="navbar-brand y-header-logo" href="#" onclick="javascript:return false;" ui-sref="dashboard">
                <img src="../../components/nav/logo-sdk.png?__inline">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse y-mt15" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav text-center" role="tablist">
                <li role="presentation" class="active" ui-sref-active="active" ui-sref="dashboard">
                    <a href="###" onclick="javascript:return false;">首页</a></li>
                <li role="presentation" ui-sref-active="active" ui-sref="account.withdraw">
                    <a href="###" onclick="javascript:return false;">结算管理</a>
                </li>
                <li class="y-ml2" role="presentation">
                    <a href="###" onclick="javascript:return false;" ng-click="open()">帮助</a>
                </li>
            </ul>
            <a class="nav navbar-brand navbar-right y-header-close" href="#" onclick="javascript:return false;" ng-click="toggle()">
                <i class="iconfont">&#xe608;</i>
            </a>
            <form class="navbar-form pull-right" role="search" action="" method="">
                <link rel="import" href="../../components/search-order/search-order.html?__inline">
            </form>
            <link rel="import" href="../../components/userPanel/userPanel.html?__inline">
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
    <link rel="import" href="../../components/helpCenter/helpCenter.html?__inline">
</nav>