<div class="y-footer">
    <footer class="container">
        <div class="row">
            <div class="col-sm-2">
                <h4 class="y-mb20">公司产品</h4>
                <p>云计费服务</p>
                <p>授信服务</p>
            </div>
            <div class="col-sm-2">
                <h4 class="y-mb20">关于公司</h4>
                <p>关于我们</p>
                <p>产品顾问</p>
                <p>商务合作</p>
            </div>
            <div class="col-sm-2">
                <h4 class="y-mb20">友情链接</h4>
                <p>聚宝吧</p>
                <p>同城游</p>
                <p>天天游戏中心</p>
                <p>安卓模拟大师</p>
            </div>
            <div class="col-sm-5 col-sm-push-1">
                <h4 class="y-mb20">联系方式</h4>
                <p>合作电话：400-0385-908</p>
                <p>邮箱地址：yu.duan@jubaobar.com</p>
                <p>代理客服：</p>
                <p>通道客服：</p>
            </div>
        </div>
        <hr>
        <div class="text-center y-color-white">
            <h5>杭州凡伟网络科技有限公司丨ICP备案号：浙ICP备12040171号丨浙公网安备：33010502000326号</h5>
            <h5>版权所有 2015 jubaopay.com All Rights Reseved.</h5>
        </div>
    </footer>
</div>

<!--@require ../public/index.js-->