/*
 * @require ../public/index.css
 *
 */

.y-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #666;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 20px;
}