<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <h4 class="y-mb20">公司产品</h4>
            <a ui-sref="production.accounting">
                <p><a class="y-clfff" ui-sref="production.accounting">云计费服务</a></p>
                <p><a class="y-clfff" ui-sref="production.credit">授信服务</a></p>
        </div>
        <div class="col-sm-2">
            <h4 class="y-mb20">关于公司</h4>
            <p><a class="y-clfff" ui-sref="contact">关于我们</a></p>
            <p><a class="y-clfff" ui-sref="contact">产品顾问</a></p>
        </div>
        <div class="col-sm-2">
            <h4 class="y-mb20">友情链接</h4>
            <p><a class="y-clfff" href="http://www.jubaobar.com/">聚宝吧</a></p>
            <p><a class="y-clfff" href="http://hz.uc108.com/">同城游</a></p>
            <p><a class="y-clfff" href="http://www.ttigame.com/">天天游戏中心</a></p>
            <p><a class="y-clfff" href="http://www.azmaster.cn/">安卓模拟大师</a></p>
        </div>
        <div class="col-sm-5 col-sm-push-1">
            <div class="row">
                <div class="col-sm-7">
                    <h4 class="y-mb20">联系方式</h4>
                    <p>合作电话：400-0385-908</p>
                    <p>邮箱地址：yu.duan@jubaobar.com</p>
                    <p>代理客服：
                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=17776899&site=qq&menu=yes">
                            <img src="../../components/img/qq.png">
                        </a>
                    </p>
                    <p>通道客服：
                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=17776899&site=qq&menu=yes">
                            <img src="../../components/img/qq.png">
                        </a>
                    </p>
                </div>
                <div class="col-sm-5 text-center">
                    <img src="../../components/img/code.jpg" class="img-responsive img-rounded center-block">
                    <h5>关注"聚宝云计费"<br>了解移动支付最新动态</h5>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row y-color-white">
        <div class="col-sm-2">
            <a key="550bc386efbfb059470030f2" logo_type="business" href="http://v.pinpaibao.com.cn/authenticate/cert/?site=www.jubaopay.com&amp;at=business" target="_blank">
                <!--<script src="http://static.anquan.org/static/outer/js/aq_auth.js"></script>
                <span id="aqLogoHook" style="display: none;"></span>-->
                <img class="center-block img-responsive img-rounded" src="../../components/img/hy.png" alt="安全联盟认证">
            </a>
        </div>
        <div class="col-sm-2">
            <a href="https://seal.wosign.com/Signature/Profiles/bp/CN/8a12d02278dd4ad98b34295aa5260081.htm?ref=aHR0cDovL3d3dy5qdWJhb3BheS5jb20=" target="_blank">
                <img class="center-block img-responsive img-rounded" src="../../components/img/EV.png">
            </a>
        </div>
        <div class="col-sm-8">
            <h5>杭州凡伟网络科技有限公司丨ICP备案号：浙ICP备12040171号丨浙公网安备：33010502000326号</h5>
            <h5>版权所有 2015 jubaopay.com All Rights Reseved.</h5>
        </div>
    </div>
</div>