
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-yonghu:before { content: "\e608"; }
.icon-shezhi:before { content: "\e600"; }
.icon-qq:before { content: "\e615"; }
.icon-sousuo:before { content: "\e611"; }
.icon-guanbi:before { content: "\e607"; }
.icon-android:before { content: "\e604"; }
.icon-xiangzi:before { content: "\e60e"; }
.icon-hanbaodaohang:before { content: "\e614"; }
.icon-zongyonghushu:before { content: "\e609"; }
.icon-wenhao:before { content: "\e612"; }
.icon-yonghu1:before { content: "\e60a"; }
.icon-tuichu:before { content: "\e603"; }
.icon-zhuye:before { content: "\e606"; }
.icon-shouyi:before { content: "\e60b"; }
.icon-ios:before { content: "\e616"; }
.icon-icon:before { content: "\e617"; }
.icon-kongxiangzi:before { content: "\e60f"; }
.icon-shouyi1:before { content: "\e610"; }
.icon-daohang:before { content: "\e613"; }
.icon-xiasanjiao:before { content: "\e605"; }
.icon-chanpinwendang:before { content: "\e618"; }
.icon-yonghu2:before { content: "\e60c"; }
.icon-shouyi2:before { content: "\e60d"; }
.icon-jiahao:before { content: "\e602"; }
.icon-zhifu:before { content: "\e601"; }
