<div class="panel panel-default y-dashboard-set">
	<div class="panel-heading">
		<h3>应用设置</h3>
	</div>
	<div class="panel-body">
		<form class="form-horizontal y-xs-text-left" action="">
			<div class="form-group">
				<label for="" class="col-xs-6 col-xs-push-1 col-sm-3 col-sm-push-0 control-label y-dashboard-set-name">应用名</label>
				<div class="col-xs-8 col-xs-push-1 col-sm-6 col-sm-push-0">
					<input type="text" class="form-control" name="" id="" value="极品飞车">
				</div>
				<div class="col-xs-4 col-sm-3 col-sm-pull-1">
					<button class="btn btn-info y-dashboard-set-update" type="button" data-loading-text="更新中.." autocomplete="off">更新</button>
				</div>
			</div>
			<div class="form-group y-dashboard-set-platform">
				<label for="" class="col-xs-6 col-xs-push-1 col-sm-3 col-sm-push-0 control-label">运行平台</label>
				<div class="col-xs-3 col-xs-pull-1 col-sm-6 col-sm-pull-0">
					<i class="iconfont">&#xe604;</i>
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-xs-6 col-xs-push-1 col-sm-3 col-sm-push-0 control-label">应用ID</label>
				<div class="col-xs-10 col-xs-push-1 col-sm-6 col-sm-push-0">
					<input type="text" class="form-control" name="" id="" value="app_1232323423" placeholder="" disabled>
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-xs-6 col-xs-push-1 col-sm-3 col-sm-push-0 control-label">商户ID</label>
				<div class="col-xs-10 col-xs-push-1 col-sm-6 col-sm-push-0">
					<input type="text" class="form-control" name="" id="" value="id_1232323423" placeholder="" disabled>
				</div>
			</div>
			<div class="form-group y-dashboard-set-demo">
				<label for="" class="col-xs-6 col-xs-push-1 col-sm-3 col-sm-push-0 control-label">案例下载</label>
				<div class="col-xs-3 col-xs-pull-1 col-sm-6 col-sm-pull-0">
					<i class="iconfont">&#xe618;</i>
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-xs-6 col-xs-push-1  col-sm-3 col-sm-push-0 control-label">应用删除</label>
				<div class="col-xs-3 col-xs-pull-1 col-sm-6 col-sm-pull-0">
					<button type="button" class="btn btn-danger y-dashboard-set-delete" data-loading-text="删除中.." autocomplete="off">删除</button>
				</div>
			</div>
		</form>
	</div>
</div>