/* dashboard-set style
 * =================== */

.y-dashboard-set {
	width: 80%;
	max-width: 720px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width:420px) {
	.y-dashboard-set {
		width: 100%;
	}
}

.y-dashboard-set .panel-body {
	padding-top: 30px;
}

.y-dashboard-set label {
	font-size: 16px;
}

.y-dashboard-set-platform,
.y-dashboard-set-demo {
	line-height: 36px;
}

.y-dashboard-set-platform i,
.y-dashboard-set-demo i {
	font-size: 40px;
}

@media (max-width:768px) {
	.y-xs-text-left label {
		text-align: left;
	}
}