<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12 col-sm-2">
                <h3>账户明细</h3>
            </div>
        </div>
        <!--row-->
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="form-inline col-sm-5">
                <span class="y-fs16">创建时间:</span>
                <input size="16" type="text" value="2016-06-07 20:00" readonly class="form_datetime form-control y-bg-fff">
                <span>-</span>
                <input size="16" type="text" value="2016-06-07 20:00" readonly class="form_datetime form-control y-bg-fff">
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="" value="" placeholder="订单流水号...">
            </div>
            <div class="form-inline col-sm-3">
                <div class="btn-group y-ml20" role="group">
                    <button type="button" class="btn y-btn-blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <span class="j-pay-btn">资金流向</span>&nbsp;<span class="caret"></span></button>
                    <ul class="dropdown-menu j-menu-pay">
                        <li><a href="#" onclick="javascript:return false;">全部</a></li>
                        <li><a href="#" onclick="javascript:return false;">支出</a></li>
                        <li><a href="#" onclick="javascript:return false;">收入</a></li>
                    </ul>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn y-btn-blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <span class="j-settlement">交易类型</span><span class="caret"></span></button>
                    <ul class="dropdown-menu j-menu-settlement">
                        <li><a href="#" onclick="javascript:return false;">全部</a></li>
                        <li><a href="#" onclick="javascript:return false;">提现</a></li>
                        <li><a href="#" onclick="javascript:return false;">代发</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2">
                <button class="btn y-btn-blue" ng-click="accountSelect()">查询</button>
                <button class="btn y-btn-blue" ng-click="accountExportExcel()">导出</button>
            </div>
        </div>
        <div class="table-responsive y-mt20">
            <table class="table table-striped table-hover table-condensed table-bordered y-table-md">
                <thead>
                    <tr>
                        <th>交易时间</th>
                        <th>流水号</th>
                        <th>交易类型</th>
                        <th>收入</th>
                        <th>支出</th>
                        <th>账户余额</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                        <td class="text-success">data</td>
                        <td class="text-danger">data</td>
                        <td>data</td>
                        <td>
                            <button type="button" class="btn btn-link" data-toggle="modal" y-open="accountdetailDemoBtn">详情</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="text-info visible-xs">左右滑动显示完整的表格内容</p>
        <uib-pagination total-items="detail.totalItems" ng-model="detail.currentPage" ng-change="detail_pageChanged()" max-size="detail.maxSize" class="" boundary-links="true" force-ellipses="true" previous-text="上一页" next-text="下一页" first-text="首页" last-text="末页"></uib-pagination>
    </div>
    <!-- 用jquery重写弹窗 -->
    <div class="modal fade" y-modal="accountRecordDemo" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="text-center">确认删除本条提示记录？</h3>
                    <div class="modal-footer text-xs-center">
                        <button type="button" class="btn btn-danger">确认</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 用jquery重写弹窗 -->
    <div class="modal fade" y-modal="accountDetailDemo" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header y-modal-header-default">
                    <h3 class="y-mg0">交易详情
                       <button type="button" class="close" data-dismiss = "modal">
                       <span aria-hidden="true">&times;</span>
                       </button>
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-condensed table-bordered">
                            <tbody>
                                <tr>
                                    <td>创建时间</td>
                                    <td>Data</td>
                                    <td>完成时间</td>
                                    <td>Data</td>
                                </tr>
                                <tr>
                                    <td>流水号</td>
                                    <td>Data</td>
                                    <td>商户订单号</td>
                                    <td>Data</td>
                                </tr>
                                <tr>
                                    <td>支付状态</td>
                                    <td>Data</td>
                                    <td>交易类型</td>
                                    <td>Data</td>
                                </tr>
                                <tr>
                                    <td>金额</td>
                                    <td>Data</td>
                                    <td>支付方式</td>
                                    <td>Data</td>
                                </tr>
                                <tr>
                                    <td>备注</td>
                                    <td colspan="3">Data</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".form_datetime").datetimepicker({
        language: 'zh-CN',
        format: "yyyy-mm-dd hh:ii",
        autoclose: true,
        todayBtn: true,
        minView: 1,
        inline: true
    });
    $('[y-open="accountdetailDemoBtn"]').click(function() {
        $("[y-modal='accountDetailDemo']").modal('toggle');

        console.log("open accountdetailDemo");
    });
    $('.dropdown-menu li').click(function() {
        $('.j-pay-btn,.j-settlement,.j-channel,.j-settlement').text($(this).text());
    })
</script>