<link href="app-add.css" />
<script src="app-add.js"></script>
<div class="modal fade y-app-add" id="y-app-add" tabindex="-1" role="dialog" aria-labelledby="app-add">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header y-modal-header-default">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title" id="myModalLabel">新建应用</h3>
			</div>
			<div class="modal-body">
				<form class="" action="">
					<div class="form-group">
						<input type="text" class="form-control" name="" id="" value="" placeholder="请输入应用名称...">
						<select class="form-control" name="">
							<option value="">Andorid</option>
							<option value="">IOS</option>
						</select>
					</div>
				</form>
			</div>
			<div class="modal-footer y-modal-footer-default">
				<button class="btn btn-info y-app-add-create" type="button" data-loading-text="创建中.." autocomplete="off">创建</button>
				<button class="btn btn-danger" type="button" data-dismiss="modal">取消</button>
			</div>
		</div>
		<!--modal-content-->
	</div>
</div>