body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:210px;
  top:210px;
  width:1219px;
  height:930px;
  opacity:0.3;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:930px;
}
#u2 {
  position:absolute;
  left:2px;
  top:457px;
  width:1215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:210px;
  top:310px;
  width:1219px;
  height:10px;
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:1202px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1219px;
  height:1px;
}
#u4 {
  position:absolute;
  left:1007px;
  top:251px;
  width:235px;
  height:33px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:33px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u5 {
  position:absolute;
  left:1241px;
  top:251px;
  width:44px;
  height:33px;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:33px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:245px;
  top:230px;
  width:125px;
  height:70px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:70px;
}
#u8 {
  position:absolute;
  left:2px;
  top:27px;
  width:121px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1357px;
  top:240px;
  width:50px;
  height:50px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u10 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:410px;
  top:251px;
  width:85px;
  height:33px;
  font-size:28px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:507px;
  top:261px;
  width:23px;
  height:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u14 {
  position:absolute;
  left:2px;
  top:1px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:533px;
  top:255px;
  width:97px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:24px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:652px;
  top:259px;
  width:23px;
  height:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u18 {
  position:absolute;
  left:2px;
  top:1px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:675px;
  top:254px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:632px;
  top:260px;
  width:16px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u22 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:890px;
  top:246px;
  width:50px;
  height:40px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:718px;
  top:260px;
  width:16px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u26 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:663px;
  top:307px;
  visibility:hidden;
}
#u27_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:85px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:85px;
}
#u29 {
  position:absolute;
  left:2px;
  top:34px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:22px;
  top:10px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:21px;
  top:44px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:533px;
  top:303px;
  visibility:hidden;
}
#u34_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u34_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:120px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:120px;
}
#u36 {
  position:absolute;
  left:2px;
  top:52px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  height:16px;
  font-size:14px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:2px;
  top:44px;
  width:84px;
  height:16px;
  font-size:14px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:6px;
  top:80px;
  width:84px;
  height:16px;
  font-size:14px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:320px;
  top:394px;
  width:975px;
  height:466px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:975px;
  height:466px;
}
#u44 {
  position:absolute;
  left:2px;
  top:225px;
  width:971px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:630px;
  top:425px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:602px;
  top:507px;
  width:141px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:531px;
  top:597px;
  width:212px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:33px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:602px;
  top:740px;
  width:141px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:782px;
  top:425px;
  width:302px;
  height:33px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:33px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:18px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u54 {
  position:absolute;
  left:782px;
  top:498px;
  width:50px;
  height:50px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u55 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:782px;
  top:600px;
  width:297px;
  height:40px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:40px;
}
#u57 {
  position:absolute;
  left:2px;
  top:12px;
  width:293px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1114px;
  top:427px;
  width:80px;
  height:25px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u59 {
  position:absolute;
  left:445px;
  top:660px;
  width:300px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:782px;
  top:663px;
  width:297px;
  height:40px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:40px;
}
#u62 {
  position:absolute;
  left:2px;
  top:12px;
  width:293px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:782px;
  top:740px;
  width:90px;
  height:33px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:18px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u64 {
  position:absolute;
  left:1450px;
  top:210px;
  width:430px;
  height:250px;
  text-align:left;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:250px;
}
#u65 {
  position:absolute;
  left:2px;
  top:2px;
  width:426px;
  word-wrap:break-word;
}
