<div class="input-group hidden-sm">
    <span class="input-group-btn" uib-dropdown is-open="status.isopen">
    <button id="single-button" type="button" class="btn btn-default y-mr-2" uib-dropdown-toggle ng-disabled="disabledDemo">
        付款方&nbsp;<span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a ui-sref="###">商户订单号</a></li>
        <li role="menuitem"><a ui-sref="###">聚宝订单号</a></li>
        <li role="menuitem"><a ui-sref="###">付款方</a></li>
    </ul>
    </span>
    <input type="text" class="form-control" id="" value="" placeholder="付款方名称、订单号">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">
           <i class="iconfont y-fs14">&#xe611;</i>
        </button>
    </span>
</div>