body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:210px;
  top:210px;
  width:1219px;
  height:610px;
  opacity:0.3;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:610px;
}
#u1 {
  position:absolute;
  left:2px;
  top:297px;
  width:1215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:740px;
  top:253px;
  width:145px;
  height:42px;
  font-size:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:240px;
  top:310px;
  width:1150px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:1133px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1150px;
  height:1px;
}
#u5 {
  position:absolute;
  left:310px;
  top:245px;
  width:50px;
  height:50px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:410px;
  top:370px;
  width:833px;
  height:300px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:833px;
  height:300px;
}
#u8 {
  position:absolute;
  left:2px;
  top:142px;
  width:829px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:660px;
  top:720px;
  width:250px;
  height:40px;
  font-size:28px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:246px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:599px;
  top:434px;
  width:85px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:728px;
  top:434px;
  width:312px;
  height:33px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:33px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u14 {
  position:absolute;
  left:567px;
  top:524px;
  width:141px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:728px;
  top:524px;
  width:312px;
  height:33px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:33px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u17 {
  position:absolute;
  left:1450px;
  top:210px;
  width:430px;
  height:250px;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:250px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:426px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1088px;
  top:445px;
  width:105px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:1070px;
  top:445px;
  width:16px;
  height:18px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u22 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1088px;
  top:523px;
  width:105px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:1070px;
  top:523px;
  width:16px;
  height:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u26 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
