<div class="panel">
    <div class="panel-heading">
        <h3>密码管理</h3>
        <hr>
    </div>
    <div class="panel-body y-pd30 y-mt-30">
        <form action="" class="form-horizontal showcase-form" name="userPasswordLoginForm">
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">原登录密码</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" ng-model="vm.user.loginPwd" required name="loginPwd" id="" value="" placeholder="请输入原始密码">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">新登录密码</label>
                <div class="col-sm-4">
                    <!--<input type="password" class="form-control" ng-model="passwordLoginNew" placeholder="6-32位数字、字母组合">-->
                    <input type="password" name="userPassword" class="form-control" ng-minlength="6" ng-maxlength="32" required ng-model="vm.user.password" placeholder="6-32位数字、字母组合">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">确认密码</label>
                <div class="col-sm-4">
                    <!--<input type="password" class="form-control" ng-model="passwordLoginComfirm" placeholder="请再输入一次">-->
                    <input type="password" name="repeatPassword" ng-model="vm.user.repeatPassword" class="form-control" repeat="userPassword" required ng-minlength="6" ng-maxlength="20" placeholder="请再输入一次">
                    <div class="alert alert-danger y-mb0 y-mt10" ng-show="userPasswordLoginForm.$invalid && userPasswordLoginForm.$dirty  && vm.show_error">
                        <ul>
                        	<li ng-show="userPasswordLoginForm.loginPwd.$error.required">原始密码不能为空！</li>
                            <li ng-show="userPasswordLoginForm.userPassword.$error.required">新登录密码不能为空！</li>
                            <li ng-show="userPasswordLoginForm.userPassword.$dirty  && userPasswordLoginForm.userPassword.$error.maxlength">密码不能大于20个字符！</li>
                            <li ng-show="userPasswordLoginForm.userPassword.$dirty  && userPasswordLoginForm.userPassword.$error.minlength">密码不能小于6个字符！</li>
                            <li ng-show="userPasswordLoginForm.repeatPassword.$dirty  && userPasswordLoginForm.repeatPassword.$error.repeat">两次输入的密码不一致！</li>
                        </ul>
                    </div>
                    <!--<button type="button" class="btn y-btn-blue y-mt15" ng-click="userPasswordLoginSave()" ng-disabled="error || incomplete">保存</button>-->
                    <button type="button" class="btn y-btn-blue y-mt15" ng-click="vm.userPasswordLoginSave(userPasswordLoginForm)">保存</button>
                </div>
            </div>
        </form>
        <form action="" class="form-horizontal" name="userPasswordSafeForm">
            <hr>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">原安全密码</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" ng-model="safe.user.safetyPwd" name="safetyPwd" required id="" value="" placeholder="请输入原始安全密码">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">新安全密码</label>
                <div class="col-sm-4">
                    <input type="password" name="userSafetyPwd" class="form-control" ng-minlength="6" ng-maxlength="32" required ng-model="safe.user.newSafetyPwd" placeholder="6-32位数字、字母组合">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">确认密码</label>
                <div class="col-sm-4">
                    <input type="password" name="repeatSafetyPwd" ng-model="safe.user.repeatSafetyPwd" class="form-control" repeat="userSafetyPwd" required ng-minlength="6" ng-maxlength="20" placeholder="请再输入一次">
                    <div class="alert alert-danger y-mb0 y-mt10" ng-show="userPasswordSafeForm.$invalid && userPasswordSafeForm.$dirty  && safe.show_error">
                        <ul>
                            <li ng-show="userPasswordSafeForm.safetyPwd.$error.required">原始安全密码不能为空！</li>
                            <li ng-show="userPasswordSafeForm.userSafetyPwd.$error.required">新安全密码不能为空！</li>
                            <li ng-show="userPasswordSafeForm.repeatSafetyPwd.$error.required">确认密码不能为空！</li>
                            <li ng-show="userPasswordSafeForm.userSafetyPwd.$dirty  && userPasswordSafeForm.userSafetyPwd.$error.maxlength">密码不能大于20个字符！</li>
                            <li ng-show="userPasswordSafeForm.userSafetyPwd.$dirty  && userPasswordSafeForm.userSafetyPwd.$error.minlength">密码不能小于6个字符！</li>
                            <li ng-show="userPasswordSafeForm.repeatSafetyPwd.$dirty  && userPasswordSafeForm.repeatSafetyPwd.$error.repeat">两次输入的密码不一致！</li>
                        </ul>
                    </div>
                    <button type="button" class="btn y-btn-blue y-mt15" ng-click="safe.userPasswordSecuritySave(userPasswordSafeForm)">保存</button>
                    <button type="button" class="btn btn-link y-mt15" ng-click="userPasswordSecurityRetrieveOpen()">忘记密码</button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/ng-template" id="userPasswordSecurityRetrieve.html">
        <div class="modal-header y-modal-header-default">
            <h3 class="y-mg0">找回密码
                <button type="button" class="close" ng-click="cancel()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h3>
        </div>
        <div class="modal-body y-pt30">
            <form class="form-horizontal" action="" method="" ng-show="passwordFormEnabled" name="forgetSafePasswordForm">
                <div class="form-group">
                    <label class="col-sm-3 control-label">安全问题</label>
                    <div class="col-sm-6">
                        <h5 class="" ng-bind="forget.pwdQuestion"></h5>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">问题答案</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" ng-model="forget.pwdAnswer" name="pwdAnswer" required id="" value="" placeholder="请输入安全问题答案">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">短信验证码</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" ng-model="forget.authCode" name="authCode" required id="" value="" placeholder="请输入短信验证码">
						<div class="alert alert-danger y-mb0 y-mt10" ng-show="forgetSafePasswordForm.$invalid && forgetSafePasswordForm.$dirty && forget.show_error">
                        	<ul>
                            	<li ng-show="forgetSafePasswordForm.pwdAnswer.$error.required">问题答案不能为空！</li>
								<li ng-show="forgetSafePasswordForm.authCode.$error.required">短信验证码不能为空！</li>
                        	</ul>
                    	</div>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" ng-disabled="isDisabled" ng-click="send()" class="btn btn-info" ng-bind="buttonText">获取验证码</button>
                        <!--<a href="javascript:" ng-click="sendphonecode(reg_phone)" ng-class="paraclass" ng-bind="buttonText">获取验证码</a>-->
                    </div>
                </div>
            </form>
            <form class="form-horizontal" action="" method="" ng-show="newPasswordFormEnabled" name="resetSafePasswordForm">
                <div class="form-group">
                    <label class="col-sm-4 control-label">新安全密码</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="password" ng-model="reset.newSafetyPwd" name="newSafetyPwd" required id="" value="" placeholder="6-32位数字、字母组合">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">确认密码</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="password" ng-model="reset.confirmPwd" name="confirmPwd" repeat="newSafetyPwd" required id="" value="" placeholder="请再输入一次">
						<div class="alert alert-danger y-mb0 y-mt10" ng-show="resetSafePasswordForm.$invalid && resetSafePasswordForm.$dirty && reset.show_error">
                        	<ul>
                           		<li ng-show="resetSafePasswordForm.newSafetyPwd.$error.required">新安全密码不能为空！</li>
                            	<li ng-show="resetSafePasswordForm.confirmPwd.$error.required">确认密码不能为空！</li>
                            	<li ng-show="resetSafePasswordForm.newSafetyPwd.$dirty  && resetSafePasswordForm.newSafetyPwd.$error.maxlength">密码不能大于20个字符！</li>
                            	<li ng-show="resetSafePasswordForm.newSafetyPwd.$dirty  && resetSafePasswordForm.newSafetyPwd.$error.minlength">密码不能小于6个字符！</li>
                            	<li ng-show="resetSafePasswordForm.confirmPwd.$dirty  && resetSafePasswordForm.confirmPwd.$error.repeat">两次输入的密码不一致！</li>
                        	</ul>
                    	</div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer y-modal-footer-default text-xs-center">
            <button type="button" class="btn y-btn-blue" ng-click="next(forgetSafePasswordForm)" ng-hide="isNext">下一步</button>
            <button type="button" class="btn y-btn-blue" ng-click="confirm(resetSafePasswordForm)" ng-show="isConfirm">确认</button>
        </div>
    </script>
    <!-- 找回安全密码 -->
</div>
<!--panel-->