body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:51px;
  top:470px;
  width:1119px;
  height:440px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1119px;
  height:440px;
}
#u1 {
  position:absolute;
  left:2px;
  top:212px;
  width:1115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:51px;
  top:10px;
  width:169px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:84px;
  top:513px;
  width:193px;
  height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:35px;
  top:62px;
  width:1205px;
  height:368px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1205px;
  height:368px;
}
#u7 {
  position:absolute;
  left:2px;
  top:176px;
  width:1201px;
  visibility:hidden;
  word-wrap:break-word;
}
