body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1333px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:110px;
  top:75px;
  width:1223px;
  height:1005px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:1005px;
}
#u1 {
  position:absolute;
  left:2px;
  top:494px;
  width:1219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:420px;
  top:271px;
  width:100px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
