/*
 * @require base.css
 * @require cover.css
 * @require custom.css
 */

/************  base  ************/

.y-bgc666 {
    background-color: #666;
}

.y-bgcf6 {
    background-color: #f6f6f6;
}

.y-bgcfff {
    background-color: #fff;
}

.y-color-white {
    color: #fff;
}

.y-clfff {
    color: #fff;
}

.y-clf25050 {
    color: #f25050;
}

.y-cl099fdd {
    color: #099fdd;
}

.y-fs16 {
    font-size: 16px;
}

.y-fs18 {
    font-size: 18px;
}

.y-fs24 {
    font-size: 24px;
}

.y-fs36 {
    font-size: 36px;
}

.y-fs50 {
    font-size: 50px;
}

.y-fs90 {
    font-size: 90px;
}
.y-fs120 {
    font-size: 120px;
}
.y-ht660 {
    height: 660px;
}

.y-ht1200 {
    height: 1200px;
}

.y-lh30 {
    line-height: 30px;
}

.y-mb20 {
    margin-bottom: 20px;
}

.y-mb40 {
    margin-bottom: 40px;
}

.y-mb60 {
    margin-bottom: 60px;
}

.y-mb80 {
    margin-bottom: 80px;
}

.y-mb100 {
    margin-bottom: 100px;
}

.y-mb120 {
    margin-bottom: 120px;
}

.y-mb180 {
    margin-bottom: 180px;
}
.y-mt-60 {
    margin-top: -60px;
}

.y-mt-40 {
    margin-top: -40px;
}

.y-mt-20 {
    margin-top: -20px;
}

.y-mt-15 {
    margin-top: -15px;
}

.y-mt-10 {
    margin-top: -10px;
}

.y-mt14 {
    margin-top: 14px;
}

.y-mt20 {
    margin-top: 20px;
}

.y-mt40 {
    margin-top: 40px;
}

.y-mt60 {
    margin-top: 60px;
}

.y-mt80 {
    margin-top: 80px;
}

.y-mt100 {
    margin-top: 100px;
}

.y-mt120 {
    margin-top: 120px;
}

.y-mt160 {
    margin-top: 160px;
}

.y-pb20 {
    padding-bottom: 20px;
}

.y-pb20 {
    padding-bottom: 20px;
}

.y-pb40 {
    padding-bottom: 40px;
}

.y-pb60 {
    padding-bottom: 60px;
}

.y-pb180 {
    padding-bottom: 180px;
}

.y-pt0 {
    padding-top: 0px;
}

.y-pt20 {
    padding-top: 20px;
}

.y-pt40 {
    padding-top: 40px;
}

.y-pt60 {
    padding-top: 60px;
}

.y-pd-lg {
    padding-top: 180px;
    padding-bottom: 180px;
}

.y-pd-md {
    padding-top: 120px;
    padding-bottom: 120px;
}

.y-wt60 {
    width: 60%;
}

.y-wt70 {
    width: 70%;
}

.y-wt80 {
    width: 80%;
}

.y-wt240 {
    width: 240px;
}