body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1022px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:34px;
  top:145px;
  width:846px;
  height:671px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:846px;
  height:671px;
}
#u1 {
  position:absolute;
  left:2px;
  top:328px;
  width:842px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:52px;
  top:80px;
  width:281px;
  height:55px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:55px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:555px;
  top:286px;
  width:90px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:86px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:550px;
  top:346px;
  width:90px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:86px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:550px;
  top:396px;
  width:90px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:86px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:550px;
  top:496px;
  width:90px;
  height:50px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:86px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:550px;
  top:536px;
  width:90px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:86px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:550px;
  top:636px;
  width:90px;
  height:50px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:86px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:550px;
  top:686px;
  width:90px;
  height:50px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:86px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:550px;
  top:736px;
  width:90px;
  height:50px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:86px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:550px;
  top:776px;
  width:90px;
  height:50px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:86px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:860px;
  top:182px;
  width:162px;
  height:228px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:228px;
}
#u23 {
  position:absolute;
  left:2px;
  top:106px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
