<nav class="container navbar y-navbar-info y-mt40">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-main">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      	</button>
        <a class="navbar-brand y-nav-logo" href="###">
            <img src="../../components/nav/logo.png">
        </a>
    </div>
    <div class="collapse navbar-collapse" id="nav-main">
        <ul class="nav navbar-nav y-mt14">
            <li class=""><a href="###">首页</a></li>
            <li class=""><a href="###">产品</a></li>
            <li class=""><a href="###">费用</a></li>
            <li class=""><a href="view/download">下载</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right y-mt14">
            <li class=""><a href="###">登录</a></li>
            <li class=""><a href="###">注册</a></li>
        </ul>
    </div>
</nav>