body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:676px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2244 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2245 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2246 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2247 {
  position:absolute;
  left:300px;
  top:252px;
  width:376px;
  height:792px;
}
#u2248 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2249 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:788px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2250 {
  position:absolute;
  left:302px;
  top:254px;
  width:372px;
  height:788px;
}
#u2251 {
  position:absolute;
  left:2px;
  top:386px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2252 {
  position:absolute;
  left:308px;
  top:324px;
  width:360px;
  height:640px;
}
#u2253 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2254 {
  position:absolute;
  left:404px;
  top:282px;
  width:168px;
  height:10px;
}
#u2255 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2256 {
  position:absolute;
  left:404px;
  top:994px;
  width:168px;
  height:10px;
}
#u2257 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2258 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2259 {
  position:absolute;
  left:308px;
  top:916px;
  width:360px;
  height:48px;
}
#u2260 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2261 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2262 {
  position:absolute;
  left:379px;
  top:932px;
  width:16px;
  height:16px;
}
#u2263 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 0);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2264 {
  position:absolute;
  left:340px;
  top:916px;
  width:94px;
  height:48px;
}
#u2264_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.298039215686275);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2264.mouseDown {
}
#u2265 {
  position:absolute;
  left:2px;
  top:16px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2266 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2267 {
  position:absolute;
  left:479px;
  top:932px;
  width:16px;
  height:16px;
}
#u2268 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 0);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2269 {
  position:absolute;
  left:440px;
  top:916px;
  width:94px;
  height:48px;
}
#u2269_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.298039215686275);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2269.mouseDown {
}
#u2270 {
  position:absolute;
  left:2px;
  top:16px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2271 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(250, 250, 250, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2272 {
  position:absolute;
  left:579px;
  top:932px;
  width:16px;
  height:16px;
}
#u2273 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 0);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2274 {
  position:absolute;
  left:540px;
  top:916px;
  width:94px;
  height:48px;
}
#u2274_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.298039215686275);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2274.mouseDown {
}
#u2275 {
  position:absolute;
  left:2px;
  top:16px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2276_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2276 {
  position:absolute;
  left:308px;
  top:202px;
  width:30px;
  height:40px;
}
#u2277 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u2278 {
  position:absolute;
  left:349px;
  top:205px;
  width:113px;
  height:40px;
  font-size:28px;
  color:#999999;
}
#u2279 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2280 {
  position:absolute;
  left:308px;
  top:324px;
  width:360px;
  height:61px;
}
#u2281 {
  position:absolute;
  left:2px;
  top:22px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u2282 {
  position:absolute;
  left:326px;
  top:340px;
  width:42px;
  height:30px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2283 {
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u2284 {
  position:absolute;
  left:443px;
  top:343px;
  width:121px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u2285 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:44px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2286 {
  position:absolute;
  left:333px;
  top:793px;
  width:319px;
  height:44px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2287 {
  position:absolute;
  left:2px;
  top:10px;
  width:315px;
  word-wrap:break-word;
}
#u2288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:181px;
}
#u2288 {
  position:absolute;
  left:333px;
  top:425px;
  width:147px;
  height:181px;
}
#u2289 {
  position:absolute;
  left:2px;
  top:82px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2290 {
  position:absolute;
  left:384px;
  top:395px;
  width:43px;
  height:20px;
}
#u2291 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
