.content{
   width: 100%;
   -webkit-overflow-scrolling:touch;
  //  margin-bottom: 50px;
  //  overflow: scroll;
  //  height:100%;
}

.content iframe{
  width: 100vw;   /* vw = viewport width */
  // height: 100vh;  /* vh = viewport heigh */
  // min-height: 90vh;
  min-height: calc(100vh - 50px);
  // max-height: 600px;
}
