body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1887px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:210px;
  top:210px;
  width:1219px;
  height:830px;
  opacity:0.3;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:830px;
}
#u1 {
  position:absolute;
  left:2px;
  top:407px;
  width:1215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:740px;
  top:253px;
  width:217px;
  height:42px;
  font-size:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:42px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:240px;
  top:310px;
  width:1150px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:1133px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1150px;
  height:1px;
}
#u5 {
  position:absolute;
  left:310px;
  top:245px;
  width:50px;
  height:50px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:395px;
  top:370px;
  width:855px;
  height:520px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:520px;
}
#u8 {
  position:absolute;
  left:2px;
  top:252px;
  width:851px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:698px;
  top:942px;
  width:250px;
  height:40px;
  font-size:28px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:246px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:550px;
  top:450px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:703px;
  top:448px;
  width:30px;
  height:29px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u14 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:823px;
  top:452px;
  width:113px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:750px;
  top:452px;
  width:53px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:978px;
  top:452px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:550px;
  top:520px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:710px;
  top:528px;
  width:29px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:550px;
  top:576px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:710px;
  top:584px;
  width:32px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:567px;
  top:640px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:710px;
  top:648px;
  width:32px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:539px;
  top:696px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:707px;
  top:692px;
  width:200px;
  height:34px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:34px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u36 {
  position:absolute;
  left:522px;
  top:790px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:709px;
  top:785px;
  width:200px;
  height:34px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:34px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u39 {
  position:absolute;
  left:928px;
  top:789px;
  width:100px;
  height:30px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1457px;
  top:210px;
  width:430px;
  height:250px;
  text-align:left;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:250px;
}
#u42 {
  position:absolute;
  left:2px;
  top:2px;
  width:426px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:725px;
  top:750px;
  width:92px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:707px;
  top:750px;
  width:16px;
  height:18px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u46 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:725px;
  top:829px;
  width:105px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:707px;
  top:829px;
  width:16px;
  height:18px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u50 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
