<div class="panel panel-default y-panel-display y-mt60">
    <div class="panel-heading">
        <div class="y-app-icon">
            <i class="iconfont icon-pc"></i>
            <!--x.appIcon-->
            <!--四种应用图标，分别对应的class：icon-android、icon-pc、icon-ios1、icon-h501-->
        </div>
        <h4>LOL联盟</h4>
    </div>
    <div class="panel-body">
        <h2>111,222,333.00</h2>
        <h3 class="y-mt-10"><small>今日交易额（元）</small></h3>
        <h2>6666</h2>
        <h3 class="y-mt-10"><small>今日订单数</small></h3>
    </div>
    <div class="panel-footer">
        <div class="row y-panel-display-set">
            <div class="col-xs-4 col-xs-push-1">
                <a ui-sref="payment">
                    <i class="iconfont">&#xe601;</i>
                    <p>支付</p>
                </a>
            </div>
            <div class="col-xs-4">
                <a ui-sref="###">
                    <i class="iconfont">&#xe60d;</i>
                    <p>分析</p>
                </a>
            </div>
            <div class="col-xs-4 col-xs-pull-1">
                <a ui-sref-active="active" ui-sref="appsetting.info" ng-click="getRootUserAppIndex(userAppIndex)">
                    <i class="iconfont">&#xe600;</i>
                    <p>设置</p>
                </a>
            </div>
        </div>
    </div>
</div>