<div class="container text-center">
    <h2>产品服务</h2>
    <div class="row y-mt100">
        <div class="col-sm-4">
            <i class="icon iconfont y-jisufahuo">&#xe602;</i>
            <h3>支付通道代开</h3>
            <h4 class="y-lh30">让您省去繁琐步骤，一次申请通过</h4>
        </div>
        <div class="col-sm-4">
            <i class="icon iconfont y-jisufahuo">&#xe61b;</i>
            <h3>聚合SDK</h3>
            <h4 class="y-lh30">使用我们的SDK，一分钟极速接入</h4>
        </div>
        <div class="col-sm-4">
            <i class="icon iconfont y-jisufahuo">&#xe61c;</i>
            <h3>云管理后台</h3>
            <h4 class="y-lh30">云端后台高效接入，一键生成账户报表</h4>
        </div>
    </div>
</div>