<nav class="navbar y-navbar-info navbar-fixed-top" ng-controller="app.nav">
	<div class="container-fluid">
		<div class="row">
			<div class="navbar-header col-sm-3">
				<a class="navbar-brand y-header-logo" href="#" onclick="javascript:return false;">
					<img src="../../components/nav/logo-sdk.png?__inline">
				</a>
			</div>
			<div class="col-sm-6">
				<h2 class="text-xs-center">实名认证</h2>
			</div>
			<div class="col-sm-3">
				<a class="navbar-brand navbar-right y-header-close y-mt15" href="#" onclick="javascript:return false;" ng-click="toggle()">
					<i class="iconfont">&#xe608;</i>
				</a>
			</div>
		</div>
		<div class="y-card-nav" ng-hide="userCenter">
			<p>1417376255@qq.com</p>
			<!--<button class="btn btn-success">已认证</button>-->
			<button class="btn btn-danger" ui-sref="authentication.agreement">未认证</button>
			<div class="">
				<a href="">我的账户</a>丨<a href="">退出</a>
			</div>
		</div>
	</div>
	<!-- container-fluid -->
	<link rel="import" href="../../components/helpCenter/helpCenter.html?__inline">
</nav>