<div class="y-bg-fff y-pt60">
	<div class="container">
		<form action="" class="form-horizontal">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="" class="col-sm-3 control-label">商户性质</label>
						<div class="col-sm-8">
							<label for="" class="radio-inline">
								<input type="radio" name="merchantNature" id="" value="" checked="">&nbsp;个人
							</label>
							<label for="" class="radio-inline">
								<input type="radio" name="merchantNature" id="" value="">&nbsp;企业
							</label>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="" class="col-sm-3 control-label">商户类型</label>
						<div class="col-sm-8">
							<label for="" class="radio-inline">
								<input type="radio" name="merchantClass" id="" value="" checked="">&nbsp;应用提供商
							</label>
							<label for="" class="radio-inline">
								<input type="radio" name="merchantClass" id="" value="">&nbsp;渠道分销商
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="" class="col-sm-3 control-label">签约号</label>
						<div class="col-sm-8">
							<input class="form-control" type="text" name="" id="" value="" placeholder="工信部备案人真实姓名">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="" class="col-sm-3 control-label">经营范围</label>
						<div class="col-sm-8">
							<select class="form-control">
								<option value="">请选择经营范围</option>
								<option value="">数字娱乐</option>
								<option value="">快消连锁</option>
								<option value="">电信运营</option>
								<option value="">P2P</option>
								<option value="">现货业务</option>
								<option value="">保险基金</option>
								<option value="">其它</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="" class="col-sm-3 control-label">联系人姓名</label>
						<div class="col-sm-8">
							<input class="form-control" type="text" name="" id="" value="" placeholder="请输入联系人...">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="" class="col-sm-3 control-label">联系电话</label>
						<div class="col-sm-8">
							<input class="form-control" type="text" name="" id="" value="" placeholder="请输入电话...">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="" class="col-sm-3 control-label">邮箱</label>
						<div class="col-sm-8">
							<input class="form-control" type="text" name="" id="" value="" placeholder="请输入Email地址...">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="" class="col-sm-3 control-label">QQ</label>
						<div class="col-sm-8">
							<input class="form-control" type="text" name="" id="" value="" placeholder="请输入QQ号...">
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="" class="col-sm-3 control-label">联系人姓名</label>
						<div class="col-sm-8">
							<input class="form-control" type="text" name="" id="" value="" placeholder="请输入联系人...">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="" class="col-sm-3 control-label">联系电话</label>
						<div class="col-sm-8">
							<input class="form-control" type="text" name="" id="" value="" placeholder="请输入电话...">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="" class="col-sm-3 control-label">通讯地址</label>
						<div class="col-sm-4">
							<select class="form-control" name="">
						       <option value="">浙江省</option>
					        </select>
						</div>
						<div class="col-sm-4">
							<select class="form-control" name="">
				       	       <option value="">浙江省</option>
					        </select>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<div class="col-sm-8 col-sm-push-3">
							<input class="form-control" type="text" name="" id="" value="" placeholder="请详细到镇、街道...">
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="" class="col-sm-3 control-label">身份证号</label>
						<div class="col-sm-8">
							<input class="form-control" type="text" name="" id="" value="" placeholder="请输入身份证号...">
						</div>
					</div>
				</div>
			</div>
			<div class="row y-mt60 y-mb40">
				<div class="col-sm-4 text-xs-center">
					<img class="img-responsive img-rounded center-block y-wd60" src="/view/authentication.person/girl.gif">
					<h4 class="y-fs16">证件照片
						<small>
							<a href="###">示例图片</a>
						</small>
					</h4>
				</div>
				<div class="col-sm-4 text-xs-center">
					<img class="img-responsive img-rounded center-block y-wd60" src="/view/authentication.person/girl.gif">
					<h4 class="y-fs16">证件照片
						<small>
							<a href="###">示例图片</a>
						</small>
					</h4>
				</div>
				<div class="col-sm-4 text-xs-center">
					<img class="img-responsive img-rounded center-block y-wd60" src="/view/authentication.person/girl.gif">
					<h4 class="y-fs16">证件照片
						<small>
							<a href="###">示例图片</a>
						</small>
					</h4>
				</div>
			</div>
		</form>
	</div>
	<div class="y-mt40 y-pb60 text-sm-center">
		<button type="button " class="btn y-btn-blue" ui-sref="authentication.account" ng-click="toStep3()">下一步</button>
	</div>
</div>