<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget appId="11465342" channelCode="0000" height="480" pid="" sreensize="4.5" version="00.15.1027" viewmode="application" widgetId="" width="320">
	
	<name>HTML5源码</name>
	<description/>
	<author email="1417376255@qq.com"> 秦国宇轩</author>
	<icon src="icon.png"/>
	<license href=""/>
	<content encoding="utf-8" src="index/index.html"/>
	<updateurl/>
	<logserverip>192.168.31.130</logserverip> 
	<showmyspace>false</showmyspace>
	<obfuscation>true</obfuscation>
	<bgcolor>#fefefe</bgcolor>
	<orientation>15</orientation>
<debug>true</debug>
<partobfuscation/>
<webapp>false</webapp>
</widget>
