/* panel-add style
 * =============== */

.y-panel-add {
	vertical-align: middle;
	line-height: 300px;
	height: 372px;
}

.y-panel-add i {
	font-size: 80px;
	-webkit-transition: font-size 0.3s ease-out 0s;
	-moz-transition: font-size 0.3s ease-out 0s;
	transition: font-size 0.3s ease-out 0s;
}

.y-panel-add i:hover,
.y-panel-add i:focus {
	color: #099fdd;
	font-size: 120px;
}