.content{
   width: 100%;
   -webkit-overflow-scrolling:touch;
  //  overflow: scroll;
  //  height:100%;
}

.content iframe{
  width: 100vw;   /* vw = viewport width */
  min-height: 600px;
  //height: 100vh;  /* vh = viewport heigh */
}
