body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1220px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:20px;
  width:1180px;
  height:100px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:51px;
  width:64px;
  height:42px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:42px;
}
#u3 {
  position:absolute;
  left:2px;
  top:13px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:130px;
  top:64px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#099FDD;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:319px;
  top:62px;
  width:531px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1088px;
  top:62px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:1133px;
  top:54px;
  width:70px;
  height:35px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:40px;
  top:240px;
  width:1180px;
  height:190px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:190px;
}
#u13 {
  position:absolute;
  left:2px;
  top:50px;
  width:1176px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:40px;
  top:470px;
  width:1180px;
  height:800px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:800px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:1176px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:100px;
  top:1114px;
  width:340px;
  height:136px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:136px;
}
#u17 {
  position:absolute;
  left:2px;
  top:60px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:410px;
  top:140px;
  width:200px;
  height:70px;
  font-size:16px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:70px;
}
#u19 {
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:610px;
  top:140px;
  width:200px;
  height:70px;
  font-size:16px;
  color:#0000FF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:70px;
}
#u21 {
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:570px;
  top:1300px;
  width:120px;
  height:50px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23 {
  position:absolute;
  left:110px;
  top:610px;
  width:1052px;
  height:504px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1052px;
  height:504px;
}
#u24 {
  position:absolute;
  left:2px;
  top:244px;
  width:1048px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:32px;
  top:1385px;
  width:1171px;
  height:425px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:425px;
}
#u26 {
  position:absolute;
  left:2px;
  top:204px;
  width:1167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:112px;
  top:1475px;
  width:96px;
  height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:112px;
  top:1505px;
  width:96px;
  height:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:112px;
  top:1535px;
  width:96px;
  height:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:266px;
  top:1535px;
  width:96px;
  height:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
