/* breadcrumb style
 * ================ */

.y-header .breadcrumb {
	font-size: 16px;
}

.y-header .breadcrumb i {
	font-size: 26px;
	margin-right: 6px;
}

.y-header .breadcrumb b {
	margin-bottom: 4px;
}
.y-header .breadcrumb a {
	text-decoration: none;
}
.y-header .breadcrumb .y-ellipsis {
	display: inline-block;
	max-width: 60px;
	vertical-align: bottom;
}