body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:110px;
  top:75px;
  width:1223px;
  height:1005px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:1005px;
}
#u1 {
  position:absolute;
  left:2px;
  top:494px;
  width:1219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:110px;
  top:75px;
  width:1220px;
  height:1005px;
  opacity:0.4;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:1005px;
}
#u3 {
  position:absolute;
  left:2px;
  top:494px;
  width:1216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:280px;
  top:360px;
  width:980px;
  height:340px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:340px;
}
#u5 {
  position:absolute;
  left:2px;
  top:162px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:280px;
  top:360px;
  width:980px;
  height:90px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:90px;
}
#u7 {
  position:absolute;
  left:2px;
  top:37px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:336px;
  top:392px;
  width:169px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:524px;
  top:398px;
  width:99px;
  height:24px;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:24px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:1360px;
  top:90px;
  width:430px;
  height:250px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:250px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:426px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:633px;
  top:400px;
  width:181px;
  height:19px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:1191px;
  top:380px;
  width:50px;
  height:50px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:443px;
  top:525px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:575px;
  top:525px;
  width:110px;
  height:34px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u21 {
  position:absolute;
  left:705px;
  top:530px;
  width:21px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:681px;
  top:599px;
  width:186px;
  height:30px;
  font-size:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:3px;
  width:182px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:765px;
  top:533px;
  width:361px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:593px;
  top:569px;
  width:133px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:575px;
  top:569px;
  width:16px;
  height:18px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u30 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
