<div class="">
	<div class="container-fluid y-mt120">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar text-xs-center">
				<img class="img-responsive img-rounded center-block" width="200px" height="200px" src="../../components/public/html5.png">
				<h4 class="text-truncate y-mt30">123123123@qq.com</h4>
				<ul class="nav nav-sidebar y-mt30">
					<li ui-sref-active="active">
						<a ui-sref="user.person" class="row">
							<div class="col-sm-2">
								<i class="iconfont y-fs26">&#xe61c;</i>
							</div>
							<div class="col-sm-8">
								<h4>基本信息</h4>
							</div>
							<div class="col-sm-2">
								<i class="iconfont y-fs26">&#xe623;</i>
							</div>
						</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="user.account" class="row">
							<div class="col-sm-2">
								<i class="iconfont y-fs26">&#xe61e;</i>
							</div>
							<div class="col-sm-8">
								<h4>结算信息</h4>
							</div>
							<div class="col-sm-2">
								<i class="iconfont y-fs26">&#xe623;</i>
							</div>
						</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="user.password" class="row">
							<div class="col-sm-2">
								<i class="iconfont y-fs26">&#xe61d;</i>
							</div>
							<div class="col-sm-8">
								<h4>密码管理</h4>
							</div>
							<div class="col-sm-2">
								<i class="iconfont y-fs26">&#xe623;</i>
							</div>
						</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="user.data" class="row">
							<div class="col-sm-2">
								<i class="iconfont y-fs26">&#xe620;</i>
							</div>
							<div class="col-sm-8">
								<h4>隐私数据</h4>
							</div>
							<div class="col-sm-2">
								<i class="iconfont y-fs26">&#xe623;</i>
							</div>
						</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="user.agreement" class="row">
							<div class="col-sm-2">
								<i class="iconfont y-fs26">&#xe621;</i>
							</div>
							<div class="col-sm-8">
								<h4>技术协议</h4>
							</div>
							<div class="col-sm-2">
								<i class="iconfont y-fs26">&#xe623;</i>
							</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-push-3 col-md-10 col-md-push-2" ui-view="content"></div>
			<div ui-view="modal"></div>
		</div>
	</div>
</div>