<link rel="import" href="../components/head/index.html?__inline">
<body class="y-bgc-f3">
<link rel="import" href="../components/ie/index.html?__inline">
<div class="y-bgfull-lg">
    <div class="container-fluid">
        <link rel="import" href="nav/index.html?__inline">
        <div class="center-block y-wt-p-95">
            <div class="row y-mb-30">
                <div class="col-sm-1">
                    <h2 class="y-fw-b y-cl-3f">账户管理</h2>
                </div>
                <div class="col-sm-4 y-mt-15 y-ml-60">
                    <button type="button" class="y-btn y-btn-lg y-btn-info">充&nbsp;&nbsp;值</button>
                    <button type="button" class="y-btn y-btn-lg y-btn-info-outline">账户明细</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-8">
                    <div>
                        <label>商户名称</label>
                        <span>飞龙游戏</span>
                    </div>
                    <div>
                        <label>商户名称</label>
                        <span>飞龙游戏</span>
                    </div>

                </div>
                <div class="col-sm-4">

                </div>
            </div>
        </div>
    </div>
    <link rel="import" href="../view/record/order.html?__inline">
    <link rel="import" href="footer/index.html?__inline">
    <link rel="import" href="../components/required/index.html?__inline">