<link rel="import" href="../components/head/index.html?__inline">
<body class="y-bgc-f3 y-wt-p-100">
<link rel="import" href="../components/ie/index.html?__inline">
<div class="y-container-full">
    <div class="y-login">
        <div class="y-center text-center">
            <img class="y-mt-36" src="login/fklogo1.png" alt="logo" height="55">
        </div>
        <div class="row">
            <div class="col-xs-offset-3 y-mt-32 y-mb-8 y-cl-ff0000 y-pl-25">
                <p class="">密码输入错误</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-xs-push-2 y-pl-35">
                <i class="icon iconfont y-fs-24 y-cl-26a2e9" style="margin-right: -15px">&#xe606;</i>
            </div>
            <div class="col-xs-7 col-xs-push-2">
                <input type="text" class="" placeholder="输入用户名">
            </div>

        </div>
        <div class="row">
            <div class="col-xs-1 col-xs-push-2 y-pl-35">
                <i class="icon iconfont y-fs-24 y-cl-26a2e9">&#xe605;</i>
            </div>
            <div class="col-xs-7 col-xs-push-2">
                <input type="password" class="" placeholder="输入密码">
            </div>

        </div>
        <div class="row">
            <div class="col-xs-1 col-xs-push-2 y-pl-35">
                <i class="icon iconfont y-fs-24 y-cl-26a2e9">&#xe607;</i>
            </div>
            <div class="col-xs-9 col-xs-push-2">
                <input type="text" class="y-check y-mr-14" placeholder="输入验证码">
                <img id="code" src="login/yzm.png" width="106" height="44">
                <a class="y-cl-26a2e9 y-fs-16" href="javascript:changeimg()">看不清，换一张 </a>
            </div>
        </div>
        <div class="row">
            <a href="payee.html" class="col-xs-9 col-xs-push-3 y-pl-15">
                <button class="" type="button">登录</button>
            </a>
        </div>
    </div>
</div>
<link rel="import" href="footer/index.html?__inline">
<link rel="import" href="../components/required/index.html?__inline">