<link rel="import" href="../components/head/index.html?__inline">
<link rel="import" href="../components/ie/index.html?__inline">
<div class="container-fluid">
    <link rel="import" href="nav/index.html?__inline">
    <div class="center-block y-wt95 y-mt20">
        <div class="row y-mb30">
            <div class="col-xs-6">
                <h2 class="y-fwb y-cl3f3f3f">收款账户管理</h2>
            </div>
            <div class="col-xs-6 text-right y-mt20">
                <button type="button" class="y-btn y-btn-lg y-btn-blue-outline" data-toggle="modal" data-target=".bs-modal">添加收款账户</button>
            </div>
        </div>
        <hr>
        <div class="table-responsive y-mt36">
            <table class="table table-bordered text-center y-table-default">
                <tr class="y-ht65">
                    <td>支付宝账号</td>
                    <td>智能收款切换额度(元)</td>
                    <td>收款顺序</td>
                    <td>状态</td>
                    <td>操作</td>
                </tr>
                <tr class="y-ht65">
                    <td style="line-height: 65px">13554775555</td>
                    <td class="y-lh65">200,000</td>
                    <td>1</td>
                    <td>正常</td>
                    <td class="y-btn-link">
                        <button type="button" class="btn btn-link">修改</button>
                        <button type="button" class="btn btn-link">删除</button>
                        <button type="button" class="btn btn-link" data-toggle="modal"
                                data-target="[y-modal='payee.freeze']">冻结
                        </button>
                    </td>
                </tr>
                <tr class="y-ht65">
                    <td>13454544555</td>
                    <td>300,000</td>
                    <td>3</td>
                    <td class="y-clec4828">冻结</td>
                    <td class="y-btn-link">
                        <button type="button" class="btn btn-link">修改</button>
                        <button type="button" class="btn btn-link">删除</button>
                        <button type="button" class="btn btn-link">正常</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


<link rel="import" href="../view/payee/freeze.html?__inline">
<link rel="import" href="../view/payee/add.html?__inline">
<link rel="import" href="footer/index.html?__inline">
<link rel="import" href="../components/required/index.html?__inline">
