<link rel="import" href="../components/head/index.html?__inline">
<link rel="import" href="../components/ie/index.html?__inline">

<header class="y-logo-ali">
    <div class="container">
        <img src="scanPay/logo-alipay.jpg" alt="">
    </div>
</header>
<div class="y-bgfull-sm">
    <div class="container">
        <div class="row">
            <h4 class="col-sm-6">收款方: 13588525424
                <small>(本次交易将直达收款账户)</small>
            </h4>
            <h4 class="col-sm-3 col-sm-push-3 text-right">支付金额: 10元</h4>
        </div>

    </div>
</div>
<div class="y-bgfull-md">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-push-1">
                <ul class="y-breadcrumb-pay">
                    <span class="y-breadcrumb-title">支付流程演示: </span>
                    <li class="">
                        <i class="iconfont">&#xe609;</i>
                        扫一扫
                    </li>
                    <li class="">
                        <i class="iconfont">&#xe60a;</i>
                        选择转账
                    </li>
                    <li class="active">
                        <i class="iconfont">&#xe60b;</i>
                        输入充值金额和备注内容</li>
                </ul>
                <img class="y-qrcode" src="scanPay/QR-code.jpg" alt="">
                <h4 class="y-clff0000 y-fwb">备注内容
                    <span class="y-mglr-4">:</span>
                    <span class="y-fs40">FKB001</span>
                </h4>

            </div>
        </div>
    </div>
</div>

<footer class="">
    <div class="container">

    </div>
</footer>

<link rel="import" href="../components/required/index.html?__inline">