.App-title :global .apppostcss {
        font-size: 18px
    }

.App-title :global(.apppostcss.apppostcss2) .apppostcss3 {
        font-size: 18px
    }

.localA :global .global-b .global-c :local(.localD.localE) .global-d{
  font-size: 18px
}

:global(.apppostcss3) {
    color: green;
}
