<div class="panel panel-default y-account tab-content">
	<div role="tabpanel" class="tab-pane fade in active" id="y-account-home">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-12 col-sm-4  y-account-title-money">
					<span>可提现金额：</span><span class="y-num">1743万</span>
				</div>
				<div class="col-xs-12 col-sm-5 col-sm-push-3 y-account-title-btn">
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#y-account-record">提现记录</button>
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#y-account-details">账户明细</button>
				</div>
			</div>
			<!--row-->
		</div>
		<div class="panel-body">
			<form class="form-horizontal" action="">
				<div class="form-group">
					<label for="withdraw-cash" class="col-xs-12 col-sm-3 col-sm-push-1 control-label">提现金额</label>
					<div class="col-xs-12 col-sm-7 col-sm-push-1">
						<input type="text" class="form-control" name="" id="withdraw-cash" value="" placeholder="请您输入金额...">
					</div>
					<div class="col-xs-12 col-sm-6 col-sm-push-4">
						<p class="y-account-hint">提现之后，资金将在下一个工作日到账，每日限额50万
							<span class="text-danger">（余额满1000元才能提现）</span></p>
					</div>
				</div>
			</form>
		</div>
		<div class="panel-footer">
			<button type="button" class="btn btn-info">下一步</button>
		</div>
	</div>
	<div role="tabpanel" class="tab-pane fade" id="y-account-home">
		
	</div>
</div>