body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:183px;
  top:198px;
  width:1219px;
  height:1020px;
  opacity:0.3;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:1020px;
}
#u2 {
  position:absolute;
  left:2px;
  top:502px;
  width:1215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:183px;
  top:298px;
  width:1219px;
  height:10px;
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:1202px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1219px;
  height:1px;
}
#u4 {
  position:absolute;
  left:1038px;
  top:239px;
  width:203px;
  height:33px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:33px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u5 {
  position:absolute;
  left:1241px;
  top:239px;
  width:38px;
  height:33px;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:33px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:218px;
  top:218px;
  width:125px;
  height:70px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:70px;
}
#u8 {
  position:absolute;
  left:2px;
  top:27px;
  width:121px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:370px;
  top:235px;
  width:73px;
  height:43px;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:43px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:930px;
  top:238px;
  width:50px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1333px;
  top:228px;
  width:50px;
  height:50px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1202px;
  top:303px;
}
#u15_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:205px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:205px;
}
#u17 {
  position:absolute;
  left:2px;
  top:94px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:12px;
  top:26px;
  width:174px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:41px;
  top:73px;
  width:120px;
  height:30px;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:75px;
  top:128px;
  width:50px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:484px;
  top:239px;
  width:93px;
  height:40px;
  font-size:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:837px;
  top:244px;
  width:74px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:434px;
  top:328px;
  width:946px;
  height:682px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:946px;
  height:682px;
}
#u29 {
  position:absolute;
  left:2px;
  top:333px;
  width:942px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:434px;
  top:328px;
  width:946px;
  height:92px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:946px;
  height:92px;
}
#u31 {
  position:absolute;
  left:2px;
  top:38px;
  width:942px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:475px;
  top:364px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:481px;
  top:709px;
  width:838px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:821px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:838px;
  height:1px;
}
#u35 {
  position:absolute;
  left:517px;
  top:460px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:630px;
  top:461px;
  width:220px;
  height:23px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:23px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u38 {
  position:absolute;
  left:517px;
  top:536px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:630px;
  top:537px;
  width:220px;
  height:23px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:23px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u41 {
  position:absolute;
  left:483px;
  top:616px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:630px;
  top:617px;
  width:220px;
  height:23px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:23px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u44 {
  position:absolute;
  left:1160px;
  top:664px;
  width:100px;
  height:30px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:517px;
  top:756px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:630px;
  top:757px;
  width:220px;
  height:23px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:23px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u49 {
  position:absolute;
  left:517px;
  top:832px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:630px;
  top:833px;
  width:220px;
  height:23px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:23px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u52 {
  position:absolute;
  left:483px;
  top:912px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:630px;
  top:913px;
  width:220px;
  height:23px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:23px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u55 {
  position:absolute;
  left:1160px;
  top:960px;
  width:100px;
  height:30px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:878px;
  top:762px;
  width:53px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:183px;
  top:198px;
  width:1210px;
  height:734px;
  opacity:0.5;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:734px;
}
#u60 {
  position:absolute;
  left:2px;
  top:359px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:531px;
  top:481px;
  width:519px;
  height:409px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:409px;
}
#u62 {
  position:absolute;
  left:2px;
  top:196px;
  width:515px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:531px;
  top:481px;
  width:519px;
  height:72px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:72px;
}
#u64 {
  position:absolute;
  left:2px;
  top:20px;
  width:515px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:980px;
  top:492px;
  width:50px;
  height:50px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u66 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:550px;
  top:583px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:703px;
  top:583px;
  width:200px;
  height:34px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:34px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u70 {
  position:absolute;
  left:560px;
  top:723px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:703px;
  top:717px;
  width:200px;
  height:34px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:34px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u73 {
  position:absolute;
  left:930px;
  top:583px;
  width:100px;
  height:30px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:531px;
  top:796px;
  width:519px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:502px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:519px;
  height:1px;
}
#u76 {
  position:absolute;
  left:720px;
  top:824px;
  width:120px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u77 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:720px;
  top:627px;
  width:105px;
  height:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:702px;
  top:627px;
  width:16px;
  height:18px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u81 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:720px;
  top:768px;
  width:118px;
  height:16px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:702px;
  top:768px;
  width:16px;
  height:18px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u85 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:562px;
  top:664px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:703px;
  top:667px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:1540px;
  top:232px;
  width:430px;
  height:250px;
  text-align:left;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:250px;
}
#u91 {
  position:absolute;
  left:2px;
  top:2px;
  width:426px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:208px;
  top:316px;
  width:210px;
  height:784px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:784px;
}
#u94 {
  position:absolute;
  left:2px;
  top:384px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:226px;
  top:382px;
  width:174px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:208px;
  top:470px;
  width:210px;
  height:10px;
}
#u97_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_end {
  position:absolute;
  left:193px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u98 {
  position:absolute;
  left:213px;
  top:534px;
  width:200px;
  height:10px;
}
#u98_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u98_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u98_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u99 {
  position:absolute;
  left:226px;
  top:490px;
  width:42px;
  height:40px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u100 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:280px;
  top:502px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:374px;
  top:502px;
  width:32px;
  height:22px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
}
#u104 {
  position:absolute;
  left:2px;
  top:3px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:213px;
  top:615px;
  width:200px;
  height:10px;
}
#u105_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u105_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u105_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u106 {
  position:absolute;
  left:226px;
  top:571px;
  width:42px;
  height:40px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u107 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:280px;
  top:583px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:212px;
  top:699px;
  width:200px;
  height:10px;
}
#u110_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u110_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u110_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u111 {
  position:absolute;
  left:225px;
  top:655px;
  width:42px;
  height:40px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u112 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:279px;
  top:667px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:213px;
  top:575px;
  width:188px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u116 {
  position:absolute;
  left:218px;
  top:484px;
  width:188px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u117 {
  position:absolute;
  left:219px;
  top:649px;
  width:188px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u118 {
  position:absolute;
  left:219px;
  top:826px;
  width:188px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u119 {
  position:absolute;
  left:218px;
  top:779px;
  width:200px;
  height:10px;
}
#u119_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u119_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u119_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u120 {
  position:absolute;
  left:231px;
  top:735px;
  width:42px;
  height:40px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u121 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:285px;
  top:747px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:219px;
  top:868px;
  width:200px;
  height:10px;
}
#u124_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u124_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u124_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u125 {
  position:absolute;
  left:232px;
  top:824px;
  width:42px;
  height:40px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u126 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:286px;
  top:836px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:224px;
  top:732px;
  width:188px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
