<script type="text/ng-template" id="helpCenter.html">
	<div class=" y-help-center d-help-center" role="dialog" aria-labelledby="help-center">
		<div class="modal-header y-modal-header-default">
			<button type="button" class="close" ng-click="cancel()">
			    <span aria-hidden="true">&times;</span>
			</button>
			<h3 class="modal-title" id="myModalLabel">帮助中心</h3>
		</div>
		<div class="modal-body">
			<div class="list-group">
				<a href="#" class="list-group-item active row">
					<div class="col-xs-3 col-xs-push-1">
						<i class="iconfont">&#xe604;</i>
					</div>
					<div class="col-xs-9 col-xs-pull-1">
						Android SDK demo下载
					</div>
				</a>
				<a href="#" class="list-group-item row">
					<div class="col-xs-3 col-xs-push-1">
						<i class="iconfont">&#xe616;</i>
					</div>
					<div class="col-xs-9 col-xs-pull-1">
						IOS SDK demo下载
					</div>
				</a>
				<a href="#" class="list-group-item row">
					<div class="col-xs-3 col-xs-push-1">
						<i class="iconfont">&#xe61b;</i>
					</div>
					<div class="col-xs-9 col-xs-pull-1">
						pc/wap demo下载
					</div>
				</a>
				<a href="#" class="list-group-item row">
					<div class="col-xs-3 col-xs-push-1">
						<i class="iconfont">&#xe618;</i>
					</div>
					<div class="col-xs-9 col-xs-pull-1">
						渠道管理帮助文档
					</div>
				</a>
				<a href="#" class="list-group-item row">
					<div class="col-xs-3 col-xs-push-1">
						<i class="iconfont">&#xe615;</i>
					</div>
					<div class="col-xs-9 col-xs-pull-1">
						在线支持 4000385908
					</div>
				</a>
			</div>
		</div>
	</div>
</script>