<div class="panel">
	<div class="panel-heading row">
		<div class="col-sm-6">
			<h3>应用信息</h3>
		</div>
		<div class="col-sm-6 text-xs-right y-mt15">
			<button type="button" class="btn btn-default btn-lg">JAVA</button>
			<button type="button" class="btn btn-default btn-lg">PHP</button>
			<button type="button" class="btn btn-default btn-lg">.NET/C#</button>
		</div>
	</div>
	<hr>
	<div class="panel-body y-pd30">
		<div class="row">
			<div class="col-sm-6">
				<h4>商户号（PARTNER_ID）</h4>
				<p>对接必需字段，是商户身份标志，具有唯一性</p>
			</div>
			<div class="col-sm-6 text-xs-right">
				<h4>14061428331481887536</h4>
				<p>测试号：test_25061428331481887536</p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-6">
				<h4>应用号（APP_ID）</h4>
				<p>对接必需字段，是应用的身份标志，具有唯一性</p>
			</div>
			<div class="col-sm-6 text-xs-right">
				<h4>8un5iPyH4K085O8u</h4>
				<p>测试号：test_8un5iPyH4K085O8u</p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-6">
				<h4>商户密钥</h4>
				<p>查看商户公钥、私钥，商户密钥用来验证您发送到聚宝云计费的订单信息、支付结果通知真实与否等信息</p>
			</div>
			<div class="col-sm-3  col-sm-push-3 text-xs-center">
				<button class="btn btn-default">修改</button>
				<br>
				<button class="btn btn-link">测试密钥</button>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-6">
				<h4>通知地址</h4>
				<p>设置支付结果通知地址，以及支付成功后页面回跳地址</p>
			</div>
			<div class="col-sm-3  col-sm-push-3 text-xs-center">
				<button class="btn btn-default">修改</button>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-6">
				<h4>重新支付地址</h4>
				<p>当用户支付失败时，点击“重新支付”时跳转到的支付页面</p>
			</div>
			<div class="col-sm-3  col-sm-push-3 text-xs-center">
				<button class="btn btn-default">设置</button>
			</div>
		</div>
		<hr>
	</div>
</div>
<!--panel-->