<div class="container text-center y-pd-lg">
    <h2>全支付场景覆盖</h2>
    <h4 class="y-mt40">提供PC、H5、Android、IOS等终端技术解决方案</h4>
    <div class="row y-mt100">
        <div class="col-sm-3 y-color-blue y-tsc-dark">
            <i class="icon iconfont y-pc">&#xe615;</i>
            <h4>pc端</h4>
        </div>
        <div class="col-sm-3 y-color-blue y-tsc-dark">
            <i class="icon iconfont y-pc">&#xe612;</i>
            <h4>HTML5</h4>
        </div>
        <div class="col-sm-3 y-color-blue y-tsc-dark">
            <i class="icon iconfont y-pc">&#xe613;</i>
            <h4>Android</h4>
        </div>
        <div class="col-sm-3 y-color-blue y-tsc-dark">
            <i class="icon iconfont y-pc">&#xe614;</i>
            <h4>IOS</h4>
        </div>
    </div>
</div>