<div class="row y-account-head y-mlr0">
	<div class="col-xs-12 col-sm-4">
		<div class="y-account-head-money">
			<span><i class="iconfont y-iconfont-xs">&#xe610;</i></span>
			<span class="y-font-b">&nbsp;&nbsp;账户余额:</span>
			<span class="y-ellipsis">174万</span>
		</div>
		<div class="y-mb20">
			<button class="btn y-btn-blue y-btn-sm-sm" data-toggle="tab" data-target="#y-account-withdraw">提现</button>
			<button class="btn btn-default y-mlr10 y-btn-sm-sm" data-toggle="tab" data-target="#y-account-detail">账户详情</button>
			<button class="btn btn-default y-btn-sm-sm" data-toggle="tab" data-target="#y-account-record">提现记录</button>
		</div>
	</div>
	<div class="col-xs-6 col-sm-4 y-account-head-center y-border-none-xs">
		<div class="row y-mt34">
			<div class="col-xs-6 y-transition-color-info">
				<p>可提现金额</p>
				<div class="y-box-sm y-transition-border-color-info">
					176万
				</div>
			</div>
			<div class="col-xs-6 y-transition-color-info">
				<p>提现中金额</p>
				<div class="y-box-sm y-transition-border-color-info">
					88万
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-6 col-sm-4 y-account-head-right">
		<div class="row y-mt34">
			<div class="col-xs-6 y-transition-color-info">
				<p>收款总金额</p>
				<div class="y-box-sm y-transition-border-color-info">
					1760万
				</div>
			</div>
			<div class="col-xs-6 y-transition-color-info">
				<p>结算总金额</p>
				<div class="y-box-sm y-transition-border-color-info">
					880万
				</div>
			</div>
		</div>
	</div>
</div>
<div class="tab-content">
	<div class="tab-pane fade in active" id="y-account-withdraw">
		<div class="panel panel-default">
	<div class="panel-heading">
		<h3>功能模块</h3>
	</div>
	<div class="panel-body y-color-default y-card-empty-md">
		<i class="iconfont y-iconfont-md y-transition-color-info">&#xe60d;</i>
		<h4>此功能即将开通</h4>
	</div>
</div>
	</div>
	<div class="tab-pane fade" id="y-account-detail">
		<div class="panel panel-default">
	<div class="panel-heading">
		<h3>功能模块</h3>
	</div>
	<div class="panel-body y-color-default y-card-empty-md">
		<i class="iconfont y-iconfont-md y-transition-color-info">&#xe60d;</i>
		<h4>此功能即将开通</h4>
	</div>
</div>
	</div>
	<div class="tab-pane fade" id="y-account-record">
		<div class="panel panel-default" data-modal="account-record">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-12 col-sm-3 y-panel-title">提现记录</div>
			<div class="col-xs-6 col-sm-3 col-sm-pull-1 y-lh52">
				<div class="btn-group" role="group">
					<button type="button" class="btn y-btn-blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <span class="j-date">选择日期</span><span class="caret"></span></button>
					<ul class="dropdown-menu j-menu-date">
						<li><a href="#">今日</a></li>
						<li><a href="#">昨日</a></li>
						<li><a href="#">近7日</a></li>
						<li><a href="#">近30日</a></li>
						<li><a href="#">全部</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3 col-sm-push-3 y-lh52">
				<button class="btn y-btn-blue">导出</button>
				<button class="btn y-btn-blue">刷新</button>
			</div>
		</div>
		<!--row-->
	</div>
	<div class="panel-body">
		<div class="table-responsive y-dashboard-payment-table">
			<table class="table table-striped table-hover table-condensed table-bordered y-table-md">
				<thead>
					<tr>
						<th>提现时间</th>
						<th>姓名</th>
						<th>帐号</th>
						<th>银行</th>
						<th>分行</th>
						<th>省份</th>
						<th>城市</th>
						<th>商家实付</th>
						<th>商家实收</th>
						<th>手续费</th>
					</tr>
				</thead>
				<tbody data-js="repeat2">
					<tr>
						<td>Data</td>
						<td>Data</td>
						<td>Data</td>
						<td>Data</td>
						<td>Data</td>
						<td>Data</td>
						<td>Data</td>
						<td class="text-danger">Data</td>
						<td class="text-success">Data</td>
						<td class="text-warning">Data</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!--y-dashboard-payment-table-->
		<p class="text-info visible-xs">左右滑动显示完整的表格内容</p>
		<div class="text-center">
			<ul class="pagination">
				<li><a href="#">&laquo;&nbsp;上一页</a></li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">...</a></li>
				<li><a href="#">下一页&nbsp;&raquo;</a></li>
			</ul>
		</div>
	</div>
</div>
	</div>
</div>