<div class="panel panel-default" data-modal="account-record">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-12 col-sm-3 y-panel-title">提现记录</div>
			<div class="col-xs-6 col-sm-3 col-sm-pull-1 y-lh52">
				<div class="btn-group" role="group">
					<button type="button" class="btn y-btn-blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <span class="j-date">选择日期</span><span class="caret"></span></button>
					<ul class="dropdown-menu j-menu-date">
						<li><a href="#">今日</a></li>
						<li><a href="#">昨日</a></li>
						<li><a href="#">近7日</a></li>
						<li><a href="#">近30日</a></li>
						<li><a href="#">全部</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3 col-sm-push-3 y-lh52">
				<button class="btn y-btn-blue">导出</button>
				<button class="btn y-btn-blue">刷新</button>
			</div>
		</div>
		<!--row-->
	</div>
	<div class="panel-body">
		<div class="table-responsive y-dashboard-payment-table">
			<table class="table table-striped table-hover table-condensed table-bordered y-table-md">
				<thead>
					<tr>
						<th>提现时间</th>
						<th>姓名</th>
						<th>帐号</th>
						<th>银行</th>
						<th>分行</th>
						<th>省份</th>
						<th>城市</th>
						<th>商家实付</th>
						<th>商家实收</th>
						<th>手续费</th>
					</tr>
				</thead>
				<tbody data-js="repeat2">
					<tr>
						<td>Data</td>
						<td>Data</td>
						<td>Data</td>
						<td>Data</td>
						<td>Data</td>
						<td>Data</td>
						<td>Data</td>
						<td class="text-danger">Data</td>
						<td class="text-success">Data</td>
						<td class="text-warning">Data</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!--y-dashboard-payment-table-->
		<p class="text-info visible-xs">左右滑动显示完整的表格内容</p>
		<div class="text-center">
			<ul class="pagination">
				<li><a href="#">&laquo;&nbsp;上一页</a></li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">...</a></li>
				<li><a href="#">下一页&nbsp;&raquo;</a></li>
			</ul>
		</div>
	</div>
</div>