.dashboard{
  position: fixed;
  z-index:100;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eee;
  // opacity: 0.5;
}

.test-button{
  border-radius:50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
}

.test-button-bg{
  position: fixed;
  z-index: 100;
  top: 20%;
  left:0;
}
