<footer class="footer">
    <div class="container">
        <div class="fw-about">
            <span><a href="about-us.html#fw-about-us1" target="_blank">关于我们</a></span>丨
            <span><a href="about-us.html#fw-about-us2" target="_blank">联系我们</a></span>丨
            <span><a href="about-us.html#fw-about-us3" target="_blank">加入我们</a></span>丨
            <span><a href="about-us.html#fw-about-us4" target="_blank">隐私条款</a></span>丨
            <span><a href="about-us.html#fw-about-us5" target="_blank">发货须知</a></span>丨
            <span><a href="about-us.html#fw-about-us6" target="_blank">退货须知</a></span>
        </div>
        <div class="fw-copyright">
            <span>©&nbsp;2005-2016&nbsp;</span>
            <span>51综合代充平台&nbsp;&nbsp;</span>
            <span><a href="http://jubaobar.cn" target="_blank">衢州华创</a></span>
            <span>&nbsp;版权所有，并保留所有权利&nbsp;</span>
            <span><a href="http://jubaobar.cn" target="_blank">站长统计</a></span>
        </div>
        <div class="fw-certified center-block">
            <div>
                <a href=""><img src="http://static.jubaobar.cn/51pay/res/img/icon/certified-icon1.png" alt="certified-icon"></a>
            </div>
            <div>
                <a href=""><img src="http://static.jubaobar.cn/51pay/res/img/icon/certified-icon3.png" alt="certified-icon"></a>
            </div>
            <div>
                <a href=""><img src="http://static.jubaobar.cn/51pay/res/img/icon/certified-icon2.png" alt="certified-icon"></a>
            </div>
        </div>
    </div>
</footer>