<div class="container text-center y-pd-lg">
    <h2>支持主流支付通道</h2>
    <h4 class="y-mt40">覆盖主流支付通道，为开发者提供一站式通道技术服务解决方案</h4>
    <h4>如您有其它通道需求，请联系我们</h4>
    <div class="row y-mt100">
        <div class="col-sm-3">
            <img src="zfb.png" class="img-responsive img-rounded center-block">
        </div>
        <div class="col-sm-3">
            <img src="wxzf.png" class="img-responsive img-rounded center-block">
        </div>
        <div class="col-sm-3">
            <img src="pgp.png" class="img-responsive img-rounded center-block">
        </div>
        <div class="col-sm-3">
            <img src="bd.png" class="img-responsive img-rounded center-block">
        </div>
    </div>
    <div class="row y-mt60">
        <div class="col-sm-3">
            <img src="cft.png" class="img-responsive img-rounded center-block">
        </div>
        <div class="col-sm-3">
            <img src="zgyl.png" class="img-responsive img-rounded center-block">
        </div>
        <div class="col-sm-3">
            <img src="jd.png" class="img-responsive img-rounded center-block">
        </div>
        <div class="col-sm-3">
            <img src="yb.png" class="img-responsive img-rounded center-block">
        </div>
    </div>
    <div class="row y-mt60">
        <div class="col-sm-3">
            <img src="kq.png" class="img-responsive img-rounded center-block">
        </div>
    </div>
</div>