/*@require bootstrap.js
    @require "bootstrap.css"*/

.y-logo{
	display: block;
    width: 200px;
    margin:10px 20px;
    float: left;
}
.y-logo img{
	width: 100%;
}
.y-header-nav{
	margin-top: 18px;
}
.y-header-close{
	margin-top: 10px;
}

