<link rel="stylesheet" type="text/css" href="2.css" />
<script src="1.js" type="text/javascript" charset="utf-8"></script>
<header>
	<nav class="navbar navbar-default navbar-fixed-top container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="y-logo" href="index.html">
				<img src="logo-sdk.png" class="" alt="sdk 商户后台" title="sdk 商户后台">
			</a>
		</div>
		<div class="collapse navbar-collapse y-header-nav" id="navbarCollapse">
			<ul class="nav nav-pills">
				<li class="js-header-nav active"><a href="">控制台</a></li>
				<li class="js-header-nav"><a href="">成员管理</a></li>
				<li class="js-header-nav"><a href="">结算管理</a></li>
				<li class="js-header-nav"><a href="">帮助</a></li>
				<li>
					<form method="GET" action="" accept-charset="UTF-8" class="form-inline" onsubmit="">
						<div class="form-group">
							<input class="form-control" placeholder="请输入要搜索的内容..." name="kw" type="text">
							<span class="glyphicon glyphicon-search"></span>
						</div>
					</form>
				</li>
				<li class="js-header-nav y-header-close">退出 X</li>
			</ul>
		</div>
	</nav>
</header>