html {
	font-size: 62.5%;
}

body {
	font-size: 20px;
	font-size: 2rem;
	background-color: #FFFFFF;
	font-family: Microsoft YaHei;
}


/*考虑IE兼容,万恶的IE6*/

.fw-1rem {
	font-size: 10px;
	font-size: 1rem;
}

.fw-2rem {
	font-size: 20px;
	font-size: 2rem;
}

.fw-3rem {
	font-size: 30px;
	font-size: 3rem;
}

.fw-4rem {
	font-size: 40px;
	font-size: 4rem;
}

* {
	margin: 0;
	padding: 0;
}

p {
	color: #e0ff87;
	line-height: 3rem;
}

.fw-img-box {
	width: 100%;
}

.fw-img-box img {
	width: 100%;
	min-width: 320px
}

.fw-img2 {
	margin-top: 30px;
	margin-left: 50px;
}

.fw-font-center {
	text-align: center;
}

.fw-center {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.fw-center2 {
	margin-left: auto;
	margin-right: auto;
}

.fw-bg {
	background-color: #9fc934
}

.fw-content2 {
	background-color: #343746;
}

.fw-content3 {
	background-color: #f5f5f5;
}

.fw-white {
	color: #ffffff;
}

.fw-black {
	color: #222222;
}

.fw-7ca11d {
	color: #7ca11d;
}

.fw-mb {
	margin-bottom: 20px;
}

.fw-mg {
	margin: 5px;
}

.fw-mt {
	margin-top: 30px;
}

.fw-ml {
	margin-left: 20px;
}

.fw-ml2 {
	margin-left: 40px;
}

.fw-nz {
	position: absolute;
	z-index: 11;
	left: 10%;
}

.fw-wd6 {
	width: 60%;
}

.fw-fl {
	float: left;
}

.fw-il {
	display: inline;
}

.fw-clear {
	clear: both
}

.fw-inz2 {
	width: 640px;
}

.fw-foot {
	background-color: #324524;
	padding-bottom: 40px;
	margin-bottom: 0px;
}

.fw-foot3 {
	width: 100%;
}

.fw-peo {
	margin-left: 80px;
	margin-top: -30px;
}

.fw-peo1 {
	float: left;
	margin: 10px;
}

.fw-head-p {
	margin-left: 25%;
	margin-top: -70px;
}

.fw-pd {
	padding-bottom: 20px;
}

.fw-pt3 {
	padding-top: 30px;
}


.fw-btn {
	left: 30%;
	width: 30%;
	display: inline-block;
	position: relative;
	margin-top: 30px;
	padding: 0 20px;
	text-align: center;
	text-decoration: none;
	font: bold 12px/25px Arial, sans-serif;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .22);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .29), inset 1px 1px 1px rgba(255, 255, 255, .44);
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, .29), inset 1px 1px 1px rgba(255, 255, 255, .44);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .29), inset 1px 1px 1px rgba(255, 255, 255, .44);
	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	transition: all 0.15s ease;
}

.fw-btn2 {
	margin-top: -200px;
	width: 50%;
	/*margin-left: auto;
    margin-right:auto;*/
	display: inline-block;
	position: relative;
	/*padding: 0 20px;*/
	text-align: center;
	text-decoration: none;
	font: bold 12px/25px Arial, sans-serif;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .22);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .29), inset 1px 1px 1px rgba(255, 255, 255, .44);
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, .29), inset 1px 1px 1px rgba(255, 255, 255, .44);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .29), inset 1px 1px 1px rgba(255, 255, 255, .44);
	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	transition: all 0.15s ease;
}

.fw-btn-orange {
	color: #19667d;
	background: #ffff00;
	/* Old browsers */
	background: -moz-linear-gradient(top, #ffff00 0%, #ffff00 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffff00), color-stop(100%, #ffff00));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffff00 0%, #ffff00 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffff00 0%, #ffff00 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffff00 0%, #ffff00 100%);
	/* IE10+ */
	background: linear-gradient(top, #ffff00 0%, #ffff00 100%);
	/* W3C */
}

.fw-btn-66ac25 {
	color: #19667d;
	background: #66ac25;
	/* Old browsers */
	background: -moz-linear-gradient(top, #66ac25 0%, #66ac25 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66ac25), color-stop(100%, #66ac25));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #66ac25 0%, #66ac25 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #66ac25 0%, #66ac25 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #66ac25 0%, #66ac25 100%);
	/* IE10+ */
	background: linear-gradient(top, #66ac25 0%, #66ac25 100%);
	/* W3C */
}

.fw-btn-ffffff {
	color: #19667d;
	background: #ffffff;
	/* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ffffff));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	/* IE10+ */
	background: linear-gradient(top, #ffffff 0%, #ffffff 100%);
	/* W3C */
}

.fw-btn-big {
	padding: 0 40px;
	padding-top: 10px;
	text-transform: uppercase;
	font: bold 26px/28px Arial, sans-serif;
}


/*height: 45px;*/

.fw-btn-big2 {
	/*padding: 0 40px;*/
	padding-top: 30px;
	text-transform: uppercase;
	font: bold 26px/28px Arial, sans-serif;
}

.fw-btn-big span {
	display: block;
	text-transform: none;
	font: italic normal 16px/20px Georgia, sans-serif;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .12);
}

.fw-ul {
	margin: 30px;
}

.fw-list-num {
	color: #787e9b;
	padding-bottom: 10px;
	margin: 5px;
}

.fw-inl {
	display: inline;
}

.fw-list-img {
	margin-left: 20px;
	margin-right: 20px;
}

.fw-down31 {
	margin-top: 60px;
	margin-bottom: 60px;
}

.fw-pd2 {
	padding: 30px;
}

.fw-pd3 {
	padding: 20px;
}

.fw-ffffff {
	color: #ffffff;
}

.fw-bgcffffff {
	background-color: #FFFFFF;
}
.fw-c343746{
	color: #343746;
}
.fw-c666666{
	color: #666666;
}
.fw-bgc343746 {
	background-color: #343746;
}

.fw-66ac25 {
	background-color: #66ac25;
}

.fw-222222 {
	color: #222222;
}

.fw-nz2 {
	position: absolute;
	z-index: 11;
	left: 60%;
}

#div3 {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	display: none;
	z-index: 99
}

.fw-p2 {
	font-size: 18px;
	/*font-size：3rem;*/
	color: #6e6e6e;
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
}

#down1 {
	position: absolute;
	display: none;
}