body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1104px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:701px;
  width:1084px;
  height:585px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:585px;
}
#u1 {
  position:absolute;
  left:2px;
  top:284px;
  width:1080px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:38px;
  width:294px;
  height:32px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:32px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:50px;
  top:130px;
  width:869px;
  height:561px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  height:561px;
}
#u5 {
  position:absolute;
  left:2px;
  top:272px;
  width:865px;
  visibility:hidden;
  word-wrap:break-word;
}
