.App-title :global .apppostcss {
        font-size: 18px
    }

.App-title :global(.apppostcss.apppostcss2) .apppostcss3 {
        font-size: 18px
    }

.localA :global .global-b .global-c :local(.localD.localE) .global-d{
  font-size: 18px
}

:global(.apppostcss3) {
    color: green;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


