body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:98px;
  top:240px;
  width:200px;
  height:170px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:170px;
}
#u1 {
  position:absolute;
  left:2px;
  top:77px;
  width:196px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:70px;
  top:51px;
  width:1180px;
  height:58px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:58px;
}
#u3 {
  position:absolute;
  left:2px;
  top:21px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:98px;
  top:72px;
  width:64px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:210px;
  top:73px;
  width:328px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:1150px;
  top:72px;
  width:74px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:148px;
  top:444px;
  width:99px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:370px;
  top:240px;
  width:200px;
  height:170px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:170px;
}
#u13 {
  position:absolute;
  left:2px;
  top:77px;
  width:196px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:440px;
  top:444px;
  width:72px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:640px;
  top:240px;
  width:200px;
  height:170px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:170px;
}
#u17 {
  position:absolute;
  left:2px;
  top:77px;
  width:196px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:710px;
  top:444px;
  width:68px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:920px;
  top:240px;
  width:200px;
  height:170px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:170px;
}
#u21 {
  position:absolute;
  left:2px;
  top:77px;
  width:196px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:990px;
  top:444px;
  width:70px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:98px;
  top:540px;
  width:200px;
  height:170px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:170px;
}
#u25 {
  position:absolute;
  left:2px;
  top:77px;
  width:196px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:168px;
  top:744px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:96px;
  top:142px;
  width:121px;
  height:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
