<div class="col-sm-4 col-lg-3 col-xs-6">
    <div class="y-card">
        <img class="y-card-img-top" src="../components/public/daigoupic2.jpg" alt="Card image cap">
        <div class="y-card-block">
            <a href="http://jubaobar.cn" class="y-card-font">游戏金币充值，44金金币金币</a>
            <div class="fw-sale">
                <span class="y-fs-20 y-cl-d63535" href="http://jubaobar.cn">￥30.00</span>
                <a href="###" class="btn btn-danger pull-right">抢购</a>
            </div>
        </div>
    </div>
</div>