<div class="container text-center">
    <h2>产品优势</h2>
    <div class="row y-mt100">
        <div class="col-sm-3">
            <div class="y-card-default">
                <i class="icon iconfont y-jisufahuo">&#xe61a;</i>
                <h3>极速</h3>
                <h4 class="y-lh30">您仅需集成SDK，敲几行代码即可接入支付</h4>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="y-card-default">
                <i class="icon iconfont y-jisufahuo">&#xe619;</i>
                <h3>便捷</h3>
                <h4 class="y-lh30">简洁流畅的操作体验，让支付和收钱更简单</h4>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="y-card-default">
                <i class="icon iconfont y-jisufahuo">&#xe618;</i>
                <h3>安全</h3>
                <h4 class="y-lh30">多重数据加密，严控访问权限，保障交易安全</h4>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="y-card-default">
                <i class="icon iconfont y-jisufahuo">&#xe617;</i>
                <h3>稳定</h3>
                <h4 class="y-lh30">统计系统运行状态，随时随地查看系统运转情况</h4>
            </div>
        </div>
    </div>
</div>