<link href="member-add.css" />
<script src="member-add.js"></script>
<div class="modal fade y-member-add" id="y-member-add" tabindex="1" role="dialog" aria-labelledby="member-add">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header y-modal-header-default">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title" id="myModalLabel">添加成员</h3>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" action="">
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 col-sm-push-1 control-label">邮箱地址</label>
						<div class="col-sm-8 col-sm-push-1">
							<input type="email" class="form-control" name="" id="inputEmail3" value="" placeholder="请输入邮箱地址...">
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail" class="col-sm-2 col-sm-push-1 control-label">输入密码</label>
						<div class="col-sm-8 col-sm-push-1">
							<input type="email" class="form-control" name="" id="inputEmail" value="" placeholder="请输入您的密码...">
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail" class="col-sm-2 col-sm-push-1 control-label">确认密码</label>
						<div class="col-sm-8 col-sm-push-1">
							<input type="email" class="form-control" name="" id="inputEmail" value="" placeholder="请确认您的密码...">
						</div>
					</div>
					<div class="form-group">
						<label for="userName" class="col-sm-2 col-sm-push-1 control-label">成员名称</label>
						<div class="col-sm-8 col-sm-push-1">
							<input type="email" class="form-control" name="" id="userName" value="" placeholder="请输入成员名称...">
						</div>
					</div>
					<div class="form-group">
						<label for="userName" class="col-sm-2 col-sm-push-1 control-label">选择应用</label>
						<div class="col-sm-8 col-sm-push-1">
							<select class="form-control" name="">
							<option value="">英雄联盟</option>
							<option value="">Dota传奇</option>
							<option value="">极品飞车</option>
							<option value="">三国杀</option>
						</select>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer y-modal-footer-default">
				<button class="btn btn-info y-member-add-create center-block" type="button" data-loading-text="添加中.." autocomplete="off">添加</button>
			</div>
		</div>
		<!--modal-content-->
	</div>
</div>