<link rel="import" href="../components/head/head.html?__inline">

<body class="y-template-dashboard">
	<link rel="import" href="../components/dashboard-header/dashboard-header.html?__inline">
	<div class="container y-body tab-content">
		<div role="tabpanel" class="tab-pane fade d-dashboard-payment" id="">
			<link rel="import" href="../components/dashboard-payment/dashboard-payment.html?__inline">
		</div>
		<div role="tabpanel" class="tab-pane fade d-dashboard-analyse" id="">
			<link rel="import" href="../components/undeveloped/undeveloped.html?__inline">
		</div>
		<div role="tabpanel" class="tab-pane fade in active d-dashboard-set" id="">
			<link rel="import" href="../components/dashboard-set/dashboard-set.html?__inline">
		</div>
	</div>
	<div class="container y-defer">
		<link rel="import" href="../components/help-center/help-center.html?__inline">
		<link rel="import" href="../components/dashboard-delete/dashboard-delete.html?__inline">
	</div>
	<link rel="import" href="../components/footer/footer.html?__inline">