<div class="modal fade y-help-center d-help-center" id="" tabindex="-1" role="dialog" aria-labelledby="help-center">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header y-modal-header-default">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title" id="myModalLabel">帮助中心</h3>
			</div>
			<div class="modal-body">
				<div class="list-group">
					<a href="#" class="list-group-item active row">
						<div class="col-xs-3 col-xs-push-1">
							<i class="iconfont">&#xe604;</i>
						</div>
						<div class="col-xs-9 col-xs-pull-1">
							Android SDK 下载
						</div>
					</a>
					<a href="#" class="list-group-item row">
						<div class="col-xs-3 col-xs-push-1">
							<i class="iconfont">&#xe616;</i>
						</div>
						<div class="col-xs-9 col-xs-pull-1">
							IOS SDK 下载
						</div>
					</a>
					<a href="#" class="list-group-item row">
						<div class="col-xs-3 col-xs-push-1">
							<i class="iconfont">&#xe617;</i>
						</div>
						<div class="col-xs-9 col-xs-pull-1">
							渠道打包工具 下载
						</div>
					</a>
					<a href="#" class="list-group-item row">
						<div class="col-xs-3 col-xs-push-1">
							<i class="iconfont">&#xe618;</i>
						</div>
						<div class="col-xs-9 col-xs-pull-1">
							帮助文档
						</div>
					</a>
					<a href="#" class="list-group-item row">
						<div class="col-xs-3 col-xs-push-1">
							<i class="iconfont">&#xe615;</i>
						</div>
						<div class="col-xs-9 col-xs-pull-1">
							在线支持 8892820
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>