<div class="panel">
	<div class="panel-heading">
		<h3>密码管理</h3>
		<hr>
	</div>
	<div class="panel-body y-pd30 y-mt-30">
		<form action="" class="form-horizontal">
			<div class="form-group">
				<!-- 白豆腐密码修改, 安全密码修改 -->
				<label for="" class="col-sm-2 control-label">原登录密码</label>
				<div class="col-sm-4">
					<input type="password" class="form-control" ng-model="data.loginPwd" name="" id="" value="" placeholder="请输入原始密码">
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-2 control-label">新登录密码</label>
				<div class="col-sm-4">
					<input type="password" class="form-control" name="" id="" value="" placeholder="6-32位数字、字母组合">
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-2 control-label">确认密码</label>
				<div class="col-sm-4">
					<input type="password" class="form-control" ng-model="data.confirmPwd" placeholder="请再输入一次">
					<button type="button" class="btn y-btn-blue y-mt15" ng-click="userPasswordLoginSave()">保存</button>
				</div>
			</div>
			<hr>
			<div class="form-group">
				<label for="" class="col-sm-2 control-label">原安全密码</label>
				<div class="col-sm-4">
					<input type="password" class="form-control" ng-model="data.safetyPwd" name="" id="" value="" placeholder="请输入原始安全密码">
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-2 control-label">新安全密码</label>
				<div class="col-sm-4">
					<input type="password" class="form-control" name="" id="" value="" placeholder="6-32位数字、字母组合">
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-2 control-label">确认密码</label>
				<div class="col-sm-4">
					<input type="password" class="form-control" ng-model="data.confirmSafetyPwd" name="" id="" value="" placeholder="请再输入一次">
					<button type="button" class="btn y-btn-blue y-mt15" ng-click="userPasswordSecuritySave()">保存</button>
					<button type="button" class="btn btn-link y-mt15" ng-click="userPasswordSecurityRetrieveOpen()">忘记密码</button>
				</div>
			</div>
		</form>
	</div>
	<!-- 白豆腐密码修改, 安全密码修改 -->

	<!--<label for="" class="col-sm-2 control-label">原登录密码</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" name="" id="" value="" placeholder="请输入原始密码">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">新登录密码</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" name="" id="" value="" placeholder="6-32位数字、字母组合">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">确认密码</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" name="" id="" value="" placeholder="请再输入一次">
                    <button type="button" class="btn y-btn-blue y-mt15" ng-click="userPasswordLoginSave()">保存</button>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">原安全密码</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" name="" id="" value="" placeholder="请输入原始安全密码">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">新安全密码</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" name="" id="" value="" placeholder="6-32位数字、字母组合">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">确认密码</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" name="" id="" value="" placeholder="请再输入一次">
                    <button type="button" class="btn y-btn-blue y-mt15" ng-click="userPasswordSecuritySave()">保存</button>
                    <button type="button" class="btn btn-link y-mt15" ng-click="userPasswordSecurityRetrieveOpen()">忘记密码</button>
                </div>
            </div>
        </form>
    </div>
	<script type="text/ng-template" id="userPasswordSecurityRetrieve.html">
		<div class="modal-header y-modal-header-default">
			<h3 class="y-mg0">找回密码
                <button type="button" class="close" ng-click="cancel()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h3>
		</div>
		<div class="modal-body y-pt30">
			<form class="form-horizontal" action="" method="" ng-show="passwordFormEnabled">
				<div class="form-group">
					<label class="col-sm-3 control-label">安全问题</label>
					<div class="col-sm-6">
						<h5 class="">凡伟什么时候上市？</h5>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">问题答案</label>
					<div class="col-sm-6">
						<input class="form-control" type="text" name="" id="" value="" placeholder="请输入安全问题答案">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">短信验证码</label>
					<div class="col-sm-6">
						<input class="form-control" type="password" name="" id="" value="" placeholder="请输入短信验证码">
					</div>
					<div class="col-sm-3">
						<button type="" class="btn btn-default">发送验证码</button>
					</div>
				</div>
			</form>
			<form class="form-horizontal" action="" method="" ng-show="newPasswordFormEnabled">
				<div class="form-group">
					<label class="col-sm-4 control-label">新安全密码</label>
					<div class="col-sm-6">
						<input class="form-control" type="password" name="" id="" value="" placeholder="请输入安全密码">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">确认密码</label>
					<div class="col-sm-6">
						<input class="form-control" type="password" name="" id="" value="" placeholder="请再输入一次">
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer y-modal-footer-default text-xs-center">
			<button type="button" class="btn y-btn-blue" ng-click="next()" ng-hide="isNext">下一步</button>
			<button type="button" class="btn y-btn-blue" ng-click="confirm()" ng-show="isConfirm">确认</button>
		</div>
	</script>-->

	<!-- 找回安全密码 -->

	<script type="text/ng-template" id="userPasswordSecurityRetrieve.html">
		<div class="modal-header y-modal-header-default">
			<h3 class="y-mg0">找回密码
                <button type="button" class="close" ng-click="cancel()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h3>
		</div>
		<div class="modal-body y-pt30">
			<form class="form-horizontal" action="" method="" ng-show="passwordFormEnabled">
				<div class="form-group">
					<label class="col-sm-3 control-label">安全问题</label>
					<div class="col-sm-6">
						<h5 class="">凡伟什么时候上市？</h5>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">问题答案</label>
					<div class="col-sm-6">
						<input class="form-control" type="text" ng-model="data.pwdAnswer" name="" id="" value="" placeholder="请输入安全问题答案">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">短信验证码</label>
					<div class="col-sm-6">
						<input class="form-control" type="password" ng-model="data.authCode" name="" id="" value="" placeholder="请输入短信验证码">
					</div>
					<div class="col-sm-3">
						<button type="button" ng-disabled="isDisabled" ng-click="send()" class="btn btn-info" ng-bind="buttonText">获取验证码</button>
					    <!--<a href="javascript:" ng-click="sendphonecode(reg_phone)" ng-class="paraclass" ng-bind="buttonText">获取验证码</a>-->
					</div>
				</div>
			</form>
			<form class="form-horizontal" action="" method="" ng-show="newPasswordFormEnabled">
				<div class="form-group">
					<label class="col-sm-4 control-label">新安全密码</label>
					<div class="col-sm-6">
						<input class="form-control" type="password" ng-model="data.newSafetyPwd" name="" id="" value="" placeholder="请输入安全密码">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">确认密码</label>
					<div class="col-sm-6">
						<input class="form-control" type="password" ng-model="data.confirmPwd" name="" id="" value="" placeholder="请再输入一次">
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer y-modal-footer-default text-xs-center">
			<button type="button" class="btn y-btn-blue" ng-click="next()" ng-hide="isNext">下一步</button>
			<button type="button" class="btn y-btn-blue" ng-click="confirm()" ng-show="isConfirm">确认</button>
		</div>
	</script>
	<!-- 找回安全密码 -->
</div>
<!--panel-->