<div class="" ng-controller="yhtml5.appsetting">
	<div class="container-fluid y-mt160 y-mb40">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar text-xs-center">
				<img class="img-responsive img-rounded center-block" width="200px" height="200px" src="girl.gif">
				<h3>yhtml5.com</h3>
				<ul class="nav nav-sidebar">
					<li class="active">
						<a href="#" class="row">
							<div class="col-sm-2">
								<i class="iconfont y-fs16 ">&#xe608;</i>
							</div>
							<div class="col-sm-8">
								应用信息
							</div>
							<div class="col-sm-2">
								<i class="iconfont"></i>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div ui-view="content"></div>
	</div>
</div>