body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:183px;
  top:198px;
  width:1219px;
  height:1020px;
  opacity:0.3;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:1020px;
}
#u2 {
  position:absolute;
  left:2px;
  top:502px;
  width:1215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:183px;
  top:298px;
  width:1219px;
  height:10px;
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:1202px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1219px;
  height:1px;
}
#u4 {
  position:absolute;
  left:1052px;
  top:237px;
  width:191px;
  height:33px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:33px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#CCCCCC;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u5 {
  position:absolute;
  left:1243px;
  top:239px;
  width:36px;
  height:33px;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:33px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:218px;
  top:218px;
  width:125px;
  height:70px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:70px;
}
#u8 {
  position:absolute;
  left:2px;
  top:27px;
  width:121px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:370px;
  top:235px;
  width:73px;
  height:43px;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:43px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:774px;
  top:238px;
  width:50px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1333px;
  top:228px;
  width:50px;
  height:50px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1202px;
  top:303px;
}
#u15_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:205px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:205px;
}
#u17 {
  position:absolute;
  left:2px;
  top:94px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:12px;
  top:26px;
  width:174px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:41px;
  top:73px;
  width:120px;
  height:30px;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:75px;
  top:128px;
  width:50px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:484px;
  top:239px;
  width:93px;
  height:40px;
  font-size:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:681px;
  top:244px;
  width:74px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:963px;
  top:237px;
  width:89px;
  height:31px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:31px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u29 {
  position:absolute;
  left:1350px;
  top:230px;
  width:50px;
  height:50px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u30 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:434px;
  top:328px;
  width:946px;
  height:752px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:946px;
  height:752px;
}
#u32 {
  position:absolute;
  left:2px;
  top:368px;
  width:942px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:434px;
  top:328px;
  width:946px;
  height:92px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:946px;
  height:92px;
}
#u34 {
  position:absolute;
  left:2px;
  top:38px;
  width:942px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:475px;
  top:364px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:1470px;
  top:230px;
  width:430px;
  height:250px;
  text-align:left;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:250px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:491px;
  top:441px;
  width:350px;
  height:60px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:60px;
}
#u40 {
  position:absolute;
  left:2px;
  top:22px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:670px;
  top:460px;
  width:109px;
  height:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:20px;
}
#u42 {
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:511px;
  top:496px;
  width:669px;
  height:272px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:272px;
}
#u44 {
  position:absolute;
  left:2px;
  top:128px;
  width:665px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:218px;
  top:326px;
  width:210px;
  height:784px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:784px;
}
#u47 {
  position:absolute;
  left:2px;
  top:384px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:236px;
  top:392px;
  width:174px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:218px;
  top:480px;
  width:210px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:193px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u51 {
  position:absolute;
  left:223px;
  top:544px;
  width:200px;
  height:10px;
}
#u51_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u52 {
  position:absolute;
  left:236px;
  top:500px;
  width:42px;
  height:40px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u53 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:290px;
  top:512px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:384px;
  top:512px;
  width:32px;
  height:22px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
}
#u57 {
  position:absolute;
  left:2px;
  top:3px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:223px;
  top:625px;
  width:200px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u59 {
  position:absolute;
  left:236px;
  top:581px;
  width:42px;
  height:40px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u60 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:290px;
  top:593px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:222px;
  top:709px;
  width:200px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u64 {
  position:absolute;
  left:235px;
  top:665px;
  width:42px;
  height:40px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u65 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:289px;
  top:677px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:223px;
  top:585px;
  width:188px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u69 {
  position:absolute;
  left:228px;
  top:494px;
  width:188px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u70 {
  position:absolute;
  left:229px;
  top:659px;
  width:188px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u71 {
  position:absolute;
  left:229px;
  top:836px;
  width:188px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u72 {
  position:absolute;
  left:228px;
  top:789px;
  width:200px;
  height:10px;
}
#u72_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u73 {
  position:absolute;
  left:241px;
  top:745px;
  width:42px;
  height:40px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u74 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:295px;
  top:757px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:229px;
  top:878px;
  width:200px;
  height:10px;
}
#u77_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u78 {
  position:absolute;
  left:242px;
  top:834px;
  width:42px;
  height:40px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u79 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:296px;
  top:846px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:234px;
  top:742px;
  width:188px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u83 {
  position:absolute;
  left:530px;
  top:550px;
  width:260px;
  height:40px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u84 {
  position:absolute;
  left:2px;
  top:12px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
