body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:51px;
  width:1180px;
  height:58px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:58px;
}
#u1 {
  position:absolute;
  left:2px;
  top:21px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:98px;
  top:72px;
  width:64px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:210px;
  top:73px;
  width:328px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:1150px;
  top:72px;
  width:74px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:190px;
  top:210px;
  width:14px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:1124px;
  top:135px;
  width:100px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:96px;
  top:136px;
  width:145px;
  height:28px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:80px;
  top:190px;
  width:1165px;
  height:95px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:229px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:233px;
  top:0px;
  width:232px;
  height:30px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:465px;
  top:0px;
  width:232px;
  height:30px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:697px;
  top:0px;
  width:233px;
  height:30px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:229px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:930px;
  top:0px;
  width:230px;
  height:30px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:226px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:30px;
  width:233px;
  height:30px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:229px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:233px;
  top:30px;
  width:232px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:465px;
  top:30px;
  width:232px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:697px;
  top:30px;
  width:233px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:229px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:930px;
  top:30px;
  width:230px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:226px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:60px;
  width:233px;
  height:30px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:229px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:233px;
  top:60px;
  width:232px;
  height:30px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:465px;
  top:60px;
  width:232px;
  height:30px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:697px;
  top:60px;
  width:233px;
  height:30px;
  color:#FF0000;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:229px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:930px;
  top:60px;
  width:230px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:226px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:136px;
  top:320px;
  width:463px;
  height:230px;
  color:#FF0000;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:230px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:630px;
  top:330px;
  width:360px;
  height:210px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:210px;
}
#u47 {
  position:absolute;
  left:2px;
  top:97px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:793px;
  top:360px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:726px;
  top:414px;
  width:169px;
  height:16px;
  font-size:14px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:836px;
  top:465px;
  width:100px;
  height:25px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u53 {
  position:absolute;
  left:716px;
  top:465px;
  width:100px;
  height:25px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u54 {
  position:absolute;
  left:1030px;
  top:330px;
  width:360px;
  height:210px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:210px;
}
#u55 {
  position:absolute;
  left:2px;
  top:97px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:1179px;
  top:360px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:1126px;
  top:414px;
  width:169px;
  height:16px;
  font-size:14px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:1236px;
  top:465px;
  width:100px;
  height:25px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u61 {
  position:absolute;
  left:1116px;
  top:465px;
  width:100px;
  height:25px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u62 {
  position:absolute;
  left:630px;
  top:580px;
  width:360px;
  height:210px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:210px;
}
#u63 {
  position:absolute;
  left:2px;
  top:97px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:787px;
  top:610px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:726px;
  top:664px;
  width:169px;
  height:16px;
  font-size:14px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:836px;
  top:715px;
  width:100px;
  height:25px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u69 {
  position:absolute;
  left:716px;
  top:715px;
  width:100px;
  height:25px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
