/*
 * 
 * 洋葱网络工作室提供技术支持（http://yhtml5.com）
 * 
 */


/*table style*/

.y-table-div {
	margin-top: 10%;
	left: 20%;
	right: 20%;
	min-width: 600px;
	max-width: 880px;
	background: #AAAAAA;
	box-shadow: 1px 1px 10px 1px #888888;
	position: fixed;
	z-index: 99;
	display: none;
}

#y-table {
	width: 100%;
	font-family: verdana, arial, sans-serif;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #666666;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
	background-color: #f6f6f6;
}

#y-td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #e9e9e9;
	font-size: 1em;
}


/*blue style*/

#y-tr-blue {
	background-color: #f6f6f6;
}

#y-th-blue {
	border-width: 1px;
	padding: 1% 2%;
	background-color: #52beeb;
	border-style: solid;
	border-color: #a9c6c9;
	color: #FFFFFF;
	font-size: 22px;
	text-align: left;
	font-family: "微软雅黑";
}

#y-tr-blue2 {
	background-color: #fbfbfb;
}

#y-tr-blue2:nth-of-type(odd) {
	background-color: #f6f6f6;
}


/*class*/

.y-tac {
	text-align: center;
}

.y-tal {
	text-align: left;
}

.y-tar {
	text-align: right;
}

.y-fr {
	float: right;
}

.fa-exclamation-circle {
	color: #808080;
}

.font-2 {
	font-size: 2em;
}


/*font*/