body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1231px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1121 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1122 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1123 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1124 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1125 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1126 {
  position:absolute;
  left:508px;
  top:-8px;
  width:376px;
  height:792px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1127 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1128 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:788px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1129 {
  position:absolute;
  left:510px;
  top:-6px;
  width:372px;
  height:788px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1130 {
  position:absolute;
  left:2px;
  top:386px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1131 {
  position:absolute;
  left:512px;
  top:68px;
  width:360px;
  height:640px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1132 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1133 {
  position:absolute;
  left:251px;
  top:383px;
  width:168px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1134 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1135 {
  position:absolute;
  left:963px;
  top:383px;
  width:168px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1136 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1137 {
  position:absolute;
  left:808px;
  top:364px;
  width:360px;
  height:48px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1138 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1139 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1140 {
  position:absolute;
  left:980px;
  top:481px;
  width:16px;
  height:16px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1141 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 0);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1142 {
  position:absolute;
  left:941px;
  top:465px;
  width:94px;
  height:48px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1142_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.298039215686275);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1142.mouseDown {
}
#u1143 {
  position:absolute;
  left:2px;
  top:16px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1144 {
  position:absolute;
  left:980px;
  top:381px;
  width:16px;
  height:16px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1145 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(250, 250, 250, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1146 {
  position:absolute;
  left:980px;
  top:281px;
  width:16px;
  height:16px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1147 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 0);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1148 {
  position:absolute;
  left:941px;
  top:365px;
  width:94px;
  height:48px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1148_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.298039215686275);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1148.mouseDown {
}
#u1149 {
  position:absolute;
  left:2px;
  top:16px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 0);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1150 {
  position:absolute;
  left:941px;
  top:265px;
  width:94px;
  height:48px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1150_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.298039215686275);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1150.mouseDown {
}
#u1151 {
  position:absolute;
  left:2px;
  top:16px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:361px;
}
#u1152 {
  position:absolute;
  left:372px;
  top:208px;
  width:592px;
  height:360px;
}
#u1153 {
  position:absolute;
  left:2px;
  top:172px;
  width:588px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u1154 {
  position:absolute;
  left:903px;
  top:222px;
  width:41px;
  height:41px;
}
#u1155 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1156 {
  position:absolute;
  left:627px;
  top:342px;
  width:85px;
  height:20px;
}
#u1157 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1158 {
  position:absolute;
  left:641px;
  top:362px;
  width:57px;
  height:20px;
}
#u1159 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u1160 {
  position:absolute;
  left:893px;
  top:489px;
  width:51px;
  height:51px;
}
#u1161 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:72px;
}
#u1162 {
  position:absolute;
  left:869px;
  top:342px;
  width:78px;
  height:72px;
}
#u1163 {
  position:absolute;
  left:2px;
  top:28px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1164 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1165_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1165 {
  position:absolute;
  left:949px;
  top:222px;
  width:30px;
  height:40px;
}
#u1166 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1167 {
  position:absolute;
  left:979px;
  top:242px;
  width:0px;
  height:0px;
}
#u1167_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:117px;
  height:8px;
}
#u1168 {
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1169 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
}
#u1170 {
  position:absolute;
  left:1092px;
  top:222px;
  width:43px;
  height:40px;
}
#u1171 {
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1172 {
  position:absolute;
  left:1092px;
  top:272px;
  width:53px;
  height:18px;
  font-size:13px;
  color:#FF0000;
}
#u1173 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1174 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1175_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1175 {
  position:absolute;
  left:957px;
  top:354px;
  width:30px;
  height:40px;
}
#u1176 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1177 {
  position:absolute;
  left:987px;
  top:374px;
  width:0px;
  height:0px;
}
#u1177_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:117px;
  height:8px;
}
#u1178 {
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1179 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
}
#u1180 {
  position:absolute;
  left:1100px;
  top:354px;
  width:43px;
  height:40px;
}
#u1181 {
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u1182 {
  position:absolute;
  left:1100px;
  top:404px;
  width:131px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u1183 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u1184 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1185_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1185 {
  position:absolute;
  left:953px;
  top:489px;
  width:30px;
  height:40px;
}
#u1186 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1187 {
  position:absolute;
  left:983px;
  top:509px;
  width:0px;
  height:0px;
}
#u1187_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:117px;
  height:8px;
}
#u1188 {
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1189 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
}
#u1190 {
  position:absolute;
  left:1096px;
  top:489px;
  width:43px;
  height:40px;
}
#u1191 {
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u1192 {
  position:absolute;
  left:1096px;
  top:539px;
  width:105px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u1193 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
