body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2371px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1450px;
  top:210px;
  width:430px;
  height:150px;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:150px;
}
#u1 {
  position:absolute;
  left:2px;
  top:2px;
  width:426px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1450px;
  top:378px;
  width:921px;
  height:762px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:762px;
}
#u3 {
  position:absolute;
  left:2px;
  top:373px;
  width:917px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:220px;
  top:220px;
  width:1219px;
  height:930px;
  opacity:0.3;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:930px;
}
#u6 {
  position:absolute;
  left:2px;
  top:457px;
  width:1215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:220px;
  top:320px;
  width:1219px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:1202px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1219px;
  height:1px;
}
#u8 {
  position:absolute;
  left:1251px;
  top:261px;
  width:44px;
  height:33px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:33px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:255px;
  top:240px;
  width:125px;
  height:70px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:70px;
}
#u11 {
  position:absolute;
  left:2px;
  top:27px;
  width:121px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:420px;
  top:261px;
  width:85px;
  height:33px;
  font-size:28px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:517px;
  top:271px;
  width:23px;
  height:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u15 {
  position:absolute;
  left:2px;
  top:1px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:543px;
  top:265px;
  width:97px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:24px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:662px;
  top:269px;
  width:23px;
  height:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u19 {
  position:absolute;
  left:2px;
  top:1px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:685px;
  top:264px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:642px;
  top:270px;
  width:16px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u23 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:838px;
  top:256px;
  width:50px;
  height:40px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:728px;
  top:270px;
  width:16px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u27 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:673px;
  top:317px;
  visibility:hidden;
}
#u28_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u28_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:85px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:85px;
}
#u30 {
  position:absolute;
  left:2px;
  top:34px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:22px;
  top:10px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:21px;
  top:44px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:543px;
  top:313px;
  visibility:hidden;
}
#u35_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u35_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:120px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:120px;
}
#u37 {
  position:absolute;
  left:2px;
  top:52px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  height:16px;
  font-size:14px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:2px;
  top:44px;
  width:84px;
  height:16px;
  font-size:14px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:6px;
  top:80px;
  width:84px;
  height:16px;
  font-size:14px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:1370px;
  top:250px;
  width:50px;
  height:50px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u45 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1239px;
  top:325px;
}
#u46_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u46_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:205px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:205px;
}
#u48 {
  position:absolute;
  left:2px;
  top:94px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:12px;
  top:26px;
  width:174px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:41px;
  top:73px;
  width:120px;
  height:30px;
  font-size:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:75px;
  top:128px;
  width:50px;
  height:50px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u54 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:1056px;
  top:259px;
  width:191px;
  height:33px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:33px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#CCCCCC;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u56 {
  position:absolute;
  left:967px;
  top:259px;
  width:89px;
  height:31px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:31px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u57 {
  position:absolute;
  left:223px;
  top:325px;
  width:210px;
  height:784px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:784px;
}
#u58 {
  position:absolute;
  left:2px;
  top:384px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:223px;
  top:479px;
  width:210px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:193px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u60 {
  position:absolute;
  left:287px;
  top:447px;
  width:70px;
  height:25px;
  color:#000000;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u61 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:228px;
  top:625px;
  width:200px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u63 {
  position:absolute;
  left:241px;
  top:581px;
  width:42px;
  height:40px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u64 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:295px;
  top:593px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:389px;
  top:593px;
  width:32px;
  height:22px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
}
#u68 {
  position:absolute;
  left:2px;
  top:3px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:225px;
  top:688px;
  width:200px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u70 {
  position:absolute;
  left:238px;
  top:644px;
  width:42px;
  height:40px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u71 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:292px;
  top:656px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:386px;
  top:656px;
  width:32px;
  height:22px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
}
#u75 {
  position:absolute;
  left:2px;
  top:3px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:250px;
  top:334px;
  width:150px;
  height:70px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:70px;
}
#u77 {
  position:absolute;
  left:2px;
  top:27px;
  width:146px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:292px;
  top:414px;
  width:53px;
  height:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:230px;
  top:543px;
  width:200px;
  height:10px;
}
#u80_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u81 {
  position:absolute;
  left:243px;
  top:499px;
  width:42px;
  height:40px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u82 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:297px;
  top:511px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:391px;
  top:511px;
  width:32px;
  height:22px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
}
#u86 {
  position:absolute;
  left:2px;
  top:3px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:434px;
  top:325px;
  width:1006px;
  height:784px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:784px;
}
#u88 {
  position:absolute;
  left:2px;
  top:384px;
  width:1002px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:433px;
  top:325px;
  width:1006px;
  height:85px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:85px;
}
#u90 {
  position:absolute;
  left:2px;
  top:34px;
  width:1002px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:474px;
  top:357px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:450px;
  top:429px;
  width:970px;
  height:50px;
  text-align:left;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:50px;
}
#u94 {
  position:absolute;
  left:2px;
  top:17px;
  width:966px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:450px;
  top:516px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:676px;
  top:519px;
  width:79px;
  height:16px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:986px;
  top:505px;
  width:14px;
  height:16px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:1319px;
  top:530px;
  width:40px;
  height:16px;
  color:#FF0000;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:450px;
  top:569px;
  width:960px;
  height:10px;
}
#u103_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u103_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u103_line {
  position:absolute;
  left:0px;
  top:5px;
  width:960px;
  height:1px;
}
#u104 {
  position:absolute;
  left:680px;
  top:613px;
  width:31px;
  height:16px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:850px;
  top:595px;
  width:154px;
  height:64px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:64px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:986px;
  top:595px;
  width:14px;
  height:16px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:1316px;
  top:605px;
  width:57px;
  height:16px;
  color:#0000FF;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:450px;
  top:656px;
  width:960px;
  height:10px;
}
#u112_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_line {
  position:absolute;
  left:0px;
  top:5px;
  width:960px;
  height:1px;
}
#u113 {
  position:absolute;
  left:680px;
  top:694px;
  width:31px;
  height:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:849px;
  top:676px;
  width:154px;
  height:64px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:64px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:986px;
  top:676px;
  width:14px;
  height:16px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:450px;
  top:740px;
  width:960px;
  height:10px;
}
#u119_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u119_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u119_line {
  position:absolute;
  left:0px;
  top:5px;
  width:960px;
  height:1px;
}
#u120 {
  position:absolute;
  left:450px;
  top:609px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:680px;
  top:784px;
  width:31px;
  height:16px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:849px;
  top:766px;
  width:154px;
  height:64px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:64px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:986px;
  top:766px;
  width:14px;
  height:16px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:1314px;
  top:777px;
  width:53px;
  height:16px;
  color:#0000FF;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:450px;
  top:860px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:680px;
  top:867px;
  width:31px;
  height:16px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:986px;
  top:849px;
  width:14px;
  height:16px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:450px;
  top:910px;
  width:960px;
  height:10px;
}
#u136_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u136_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u136_line {
  position:absolute;
  left:0px;
  top:5px;
  width:960px;
  height:1px;
}
#u137 {
  position:absolute;
  left:851px;
  top:850px;
  width:106px;
  height:48px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:48px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:1313px;
  top:866px;
  width:53px;
  height:16px;
  color:#0000FF;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u141 {
  position:absolute;
  left:1318px;
  top:621px;
  width:40px;
  height:16px;
  color:#FF0000;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:1317px;
  top:699px;
  width:40px;
  height:16px;
  color:#FF0000;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u145 {
  position:absolute;
  left:449px;
  top:826px;
  width:960px;
  height:10px;
}
#u145_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u145_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u145_line {
  position:absolute;
  left:0px;
  top:5px;
  width:960px;
  height:1px;
}
#u146 {
  position:absolute;
  left:453px;
  top:692px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:454px;
  top:777px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:1087px;
  top:522px;
  width:23px;
  height:16px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:1087px;
  top:614px;
  width:23px;
  height:16px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u154 {
  position:absolute;
  left:1087px;
  top:690px;
  width:23px;
  height:16px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:1087px;
  top:782px;
  width:23px;
  height:16px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:1088px;
  top:867px;
  width:23px;
  height:16px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u160 {
  position:absolute;
  left:450px;
  top:950px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u162 {
  position:absolute;
  left:680px;
  top:957px;
  width:31px;
  height:16px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u164 {
  position:absolute;
  left:450px;
  top:1000px;
  width:960px;
  height:10px;
}
#u164_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u164_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u164_line {
  position:absolute;
  left:0px;
  top:5px;
  width:960px;
  height:1px;
}
#u165 {
  position:absolute;
  left:853px;
  top:940px;
  width:106px;
  height:48px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:48px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u167 {
  position:absolute;
  left:1318px;
  top:963px;
  width:40px;
  height:16px;
  color:#FF0000;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u169 {
  position:absolute;
  left:1089px;
  top:957px;
  width:23px;
  height:16px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u171 {
  position:absolute;
  left:451px;
  top:1040px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u173 {
  position:absolute;
  left:681px;
  top:1047px;
  width:45px;
  height:16px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u175 {
  position:absolute;
  left:451px;
  top:1090px;
  width:960px;
  height:10px;
}
#u175_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u175_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u175_line {
  position:absolute;
  left:0px;
  top:5px;
  width:960px;
  height:1px;
}
#u176 {
  position:absolute;
  left:852px;
  top:1030px;
  width:106px;
  height:48px;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:48px;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u178 {
  position:absolute;
  left:1311px;
  top:1046px;
  width:53px;
  height:16px;
  color:#0000FF;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u180 {
  position:absolute;
  left:1090px;
  top:1047px;
  width:23px;
  height:16px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u182 {
  position:absolute;
  left:1320px;
  top:512px;
  width:53px;
  height:16px;
  color:#0000FF;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u184 {
  position:absolute;
  left:1322px;
  top:947px;
  width:27px;
  height:16px;
  color:#0000FF;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u186 {
  position:absolute;
  left:1260px;
  top:368px;
  width:154px;
  height:16px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u188 {
  position:absolute;
  left:851px;
  top:519px;
  width:79px;
  height:16px;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
