body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:530px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:96px;
  top:136px;
  width:1px;
  height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:28px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:241px;
  top:130px;
  width:289px;
  height:84px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:84px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
