<div class="container y-mt120 text-center">
    <h2>联系我们</h2>
    <h2><small>CONTACT US</small></h2>
    <img class="img-responsive center-block img-rounded" src="../../components/contact/adress.jpg">
    <div class="row y-mt60">
        <div class="col-sm-4 y-tsc-info">
            <h3><i class="icon iconfont y-fs120">&#xe62b;</i></h3>
            <h3>商务合作电话</h3>
            <h3><small>400 0385 908</small></h3>
        </div>
    </div>
    <h2>联系我们</h2>
    <h2><small>CONTACT US</small></h2>
</div>