body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2791px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:200px;
  top:200px;
  width:1219px;
  height:1020px;
  opacity:0.3;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:1020px;
}
#u2 {
  position:absolute;
  left:2px;
  top:502px;
  width:1215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:200px;
  top:300px;
  width:1219px;
  height:10px;
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:1202px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1219px;
  height:1px;
}
#u4 {
  position:absolute;
  left:1055px;
  top:241px;
  width:203px;
  height:33px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:33px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u5 {
  position:absolute;
  left:1258px;
  top:241px;
  width:38px;
  height:33px;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:33px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:235px;
  top:220px;
  width:125px;
  height:70px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:70px;
}
#u8 {
  position:absolute;
  left:2px;
  top:27px;
  width:121px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:387px;
  top:237px;
  width:73px;
  height:43px;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:43px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:947px;
  top:240px;
  width:50px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1350px;
  top:230px;
  width:50px;
  height:50px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1219px;
  top:305px;
}
#u15_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:205px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:205px;
}
#u17 {
  position:absolute;
  left:2px;
  top:94px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:12px;
  top:26px;
  width:174px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:41px;
  top:73px;
  width:120px;
  height:30px;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:75px;
  top:128px;
  width:50px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:501px;
  top:241px;
  width:93px;
  height:40px;
  font-size:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:854px;
  top:246px;
  width:74px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:270px;
  top:336px;
  width:210px;
  height:270px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:270px;
}
#u29 {
  position:absolute;
  left:2px;
  top:127px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:322px;
  top:374px;
  width:118px;
  height:24px;
  font-size:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:24px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:319px;
  top:541px;
  width:45px;
  height:37px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:37px;
}
#u33 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:327px;
  top:578px;
  width:27px;
  height:16px;
  color:#999999;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:387px;
  top:541px;
  width:45px;
  height:37px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:37px;
}
#u37 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:395px;
  top:578px;
  width:27px;
  height:16px;
  color:#999999;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:570px;
  top:340px;
  width:210px;
  height:270px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:270px;
}
#u41 {
  position:absolute;
  left:2px;
  top:127px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:628px;
  top:378px;
  width:97px;
  height:24px;
  font-size:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:24px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:623px;
  top:546px;
  width:45px;
  height:37px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:37px;
}
#u45 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:631px;
  top:582px;
  width:27px;
  height:16px;
  color:#999999;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:686px;
  top:546px;
  width:45px;
  height:37px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:37px;
}
#u49 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:694px;
  top:582px;
  width:27px;
  height:16px;
  color:#999999;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:870px;
  top:340px;
  width:210px;
  height:270px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:270px;
}
#u53 {
  position:absolute;
  left:2px;
  top:127px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:937px;
  top:434px;
  width:90px;
  height:85px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u55 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:1450px;
  top:210px;
  width:430px;
  height:250px;
  text-align:left;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:250px;
}
#u57 {
  position:absolute;
  left:2px;
  top:2px;
  width:426px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:296px;
  top:432px;
  width:54px;
  height:28px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
}
#u59 {
  position:absolute;
  left:2px;
  top:-2px;
  width:50px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:378px;
  top:440px;
  width:47px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:285px;
  top:474px;
  width:78px;
  height:31px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:31px;
}
#u63 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:385px;
  top:482px;
  width:36px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:686px;
  top:440px;
  width:47px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:694px;
  top:482px;
  width:36px;
  height:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:609px;
  top:438px;
  width:54px;
  height:28px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
}
#u71 {
  position:absolute;
  left:2px;
  top:6px;
  width:50px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:598px;
  top:480px;
  width:78px;
  height:31px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:31px;
}
#u73 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:1930px;
  top:200px;
  width:861px;
  height:706px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:861px;
  height:706px;
}
#u75 {
  position:absolute;
  left:2px;
  top:345px;
  width:857px;
  visibility:hidden;
  word-wrap:break-word;
}
