<header>
    <div id="header-top"></div>
    <div class="container hidden-xs">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <a href="index.html" class="fw-top-bar-logo center-block" onclick="">
                    <img src="51logoHD.png" class="fw-wt80" alt="51代充" title="51代充">
                </a>
            </div>
            <div class="col-sm-6">
                <div class="fw-top-bar-search">
                    <form method="GET" action="http://app.shafa.com/search" accept-charset="UTF-8" class="form-inline" onsubmit="">
                        <div class="form-group fw-wt100">
                            <input class="form-control" placeholder="请输入要搜索的内容..." name="kw" type="text">
                            <span class="glyphicon glyphicon-search"></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="fw-top-bar-login js-front">
                    <a class="js-turn" href="#" onclick="javascript:return false;">[登录</a>&nbsp;/&nbsp;<a href="login.html">注册]</a>
                </div>
                <div class="fw-top-bar-login fw-displayn js-back">
                    <a href="user-center.html" target="_blank">[叶叶叶</a>&nbsp;/&nbsp;<a class="js-turn-back" href="#" onclick="javascript:return false;">登出]</a>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-inverse fw-bd0">
        <div class="navbar-header">
            <div class="container">
                <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="pull-right fw-user-nav clearfix visible-xs">
                    <ul class="nav nav-login js-front">
                        <li class="js-turn"><a href="#" onclick="javascript:return false;">登陆</a></li>
                        <li><a href="login.html">注册</a></li>
                    </ul>
                    <ul class="nav nav-login fw-displayn js-back">
                        <li><a href="user-center.html">叶叶</a></li>
                        <li class="js-turn-back"><a href="#" onclick="javascript:return false;">登出</a></li>
                    </ul>
                </div>
                <div class="navbar-brand visible-xs fw-logo2">
                    <a href="index.html">
                        <img src="http://static.jubaobar.cn/51pay/res/img/logo/51logo2.png" class="fw-wt100" alt="51代充" title="51代充">
                    </a>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li>
                        <form class="navbar-form navbar-left visible-xs" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                        </form>
                    </li>
                    <li class="js-header-nav active"><a href="index.html" target="_blank">首页</a></li>
                    <li class="js-header-nav"><a href="pay-info-oversea.html" target="_blank">海外购代充</a></li>
                    <li class="js-header-nav"><a href="http://jubaobar.cn" target="_blank">游戏代充</a></li>
                    <li class="js-header-nav"><a href="http://jubaobar.cn" target="_blank">苹果代充</a></li>
                    <li class="js-header-nav"><a href="http://jubaobar.cn" target="_blank">话费代充</a></li>
                    <li class="js-header-nav"><a href="http://jubaobar.cn" target="_blank">QQ代充</a></li>
                    <li class="js-header-nav"><a href="http://jubaobar.cn" target="_blank">VIP会员</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <ul class="fw-fixed-bar">
        <li class="fw-qq">
            <a><i class="iconfont">&#xe606;</i></a>
        </li>
        <li class="fw-call" data-toggle="popover" data-placement="left" data-trigger="hover" data-content="123456789">
            <a href="#">
                <i class="iconfont">&#xe607;</i></a>
        </li>
        <li class="go-top">
            <a class="" href="#header-top">
                <i class="iconfont">&#xe604;</i>
            </a>
        </li>
    </ul>
</header>