body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1333px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:110px;
  top:75px;
  width:1223px;
  height:1005px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:1005px;
}
#u1 {
  position:absolute;
  left:2px;
  top:494px;
  width:1219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:110px;
  top:75px;
  width:1220px;
  height:1005px;
  opacity:0.4;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:1005px;
}
#u3 {
  position:absolute;
  left:2px;
  top:494px;
  width:1216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:232px;
  top:302px;
  width:978px;
  height:542px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:542px;
}
#u5 {
  position:absolute;
  left:2px;
  top:263px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:232px;
  top:756px;
  width:989px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:972px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:989px;
  height:1px;
}
#u7 {
  position:absolute;
  left:232px;
  top:212px;
  width:980px;
  height:90px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:90px;
}
#u8 {
  position:absolute;
  left:2px;
  top:37px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1142px;
  top:232px;
  width:50px;
  height:50px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u10 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:260px;
  top:242px;
  width:50px;
  height:50px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u12 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:496px;
  top:313px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:723px;
  top:315px;
  width:113px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:650px;
  top:315px;
  width:53px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:510px;
  top:383px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:656px;
  top:391px;
  width:29px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:496px;
  top:439px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:656px;
  top:447px;
  width:32px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:513px;
  top:503px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:656px;
  top:511px;
  width:32px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:485px;
  top:559px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:653px;
  top:555px;
  width:200px;
  height:34px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:34px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u34 {
  position:absolute;
  left:468px;
  top:653px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:655px;
  top:648px;
  width:200px;
  height:34px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:34px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u37 {
  position:absolute;
  left:874px;
  top:652px;
  width:100px;
  height:30px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:671px;
  top:613px;
  width:92px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:653px;
  top:613px;
  width:16px;
  height:18px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u42 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:671px;
  top:692px;
  width:105px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:653px;
  top:692px;
  width:16px;
  height:18px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u46 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:592px;
  top:776px;
  width:250px;
  height:40px;
  font-size:28px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u48 {
  position:absolute;
  left:2px;
  top:4px;
  width:246px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:604px;
  top:240px;
  width:145px;
  height:42px;
  font-size:36px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
