@keyframes bg-generator {
    0% {
        background-position: 0% 84%
    }
    50% {
        background-position: 100% 17%
    }
    100% {
        background-position: 0% 84%
    }
}

@-webkit-keyframes bg-generator {
    0% {
        background-position: 0% 84%
    }
    50% {
        background-position: 100% 17%
    }
    100% {
        background-position: 0% 84%
    }
}

.y-tsc-info,
.y-tsc-dark {
    -webkit-transition: color 0.4s ease-out 0s;
    -moz-transition: color 0.4s ease-out 0s;
    transition: color 0.4s ease-out 0s;
}

.y-tsc-info:hover,
.y-tsc-info:focus {
    color: #099fdd;
}

.y-tsc-dark:hover,
.y-tsc-dark:focus {
    color: #555;
}