/*
 * === costom ===
 */

.y-card-default{
    border: solid 2px #555;
    padding: 30px 10px;
    margin: auto;
}

.y-pc {
    font-size: 120px;
}

.y-jisufahuo {
    font-size: 120px;
}

.y-slide-font {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 1200px;
}

#fp-nav ul li {
    height: 14px !important;
    margin-bottom: 10px !important;
    width: 14px !important;
}
#fp-nav ul li a span {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: 1px solid #6090b6 !important;
    height: 14px !important;
    left: 0 !important;
    margin: 0 !important;
    top: 0 !important;
    width: 14px !important;
}
#fp-nav ul li .active span {
    background: #6090b6 none repeat scroll 0 0 !important;
}

.y-bg-transition {
    overflow: hidden;
    padding: 2em 2em 1em;
    position: relative;
    transition: padding 0.2s ease 0s;
    z-index: -1;
}

.y-bg-transition-info {
    background-color: #F7F9FA;
    width: 110%;
    height: 110%;
    position: absolute;
    left: -5%;
    top: -5%;
    z-index: -1;
    transition: -webkit-filter 0.2s ease, background-image 0.2s ease;
    background: linear-gradient(223deg, #1c81df, #e48ba4, #37b5e4, #8dd088);
    background-size: 600% 600%;
    -webkit-animation: bg-generator 50s ease infinite;
    animation: bg-generator 20s ease infinite;
}

.navbar-transparent {}

.navbar-transparent .navbar-brand {
    color: #777;
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}

.navbar-transparent .navbar-text {
    color: #777;
}

.navbar-transparent .navbar-nav > li > a {
    color: #fff;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}

.navbar-transparent .navbar-nav > .active > a,
.navbar-transparent .navbar-nav > .active > a:hover,
.navbar-transparent .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

.navbar-transparent .navbar-nav > .disabled > a,
.navbar-transparent .navbar-nav > .disabled > a:hover,
.navbar-transparent .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}

.navbar-transparent .navbar-toggle {
    border-color: #ddd;
}

.navbar-transparent .navbar-toggle:hover,
.navbar-transparent .navbar-toggle:focus {
    background-color: #ddd;
}

.navbar-transparent .navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-transparent .navbar-collapse,
.navbar-transparent .navbar-form {
    border-color: #e7e7e7;
}

.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

@media (max-width: 767px) {
    .navbar-transparent .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .navbar-transparent .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-transparent .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .navbar-transparent .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-transparent .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-transparent .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .navbar-transparent .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-transparent .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-transparent .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}

.navbar-transparent .navbar-link {
    color: #777;
}

.navbar-transparent .navbar-link:hover {
    color: #333;
}

.navbar-transparent .btn-link {
    color: #777;
}

.navbar-transparent .btn-link:hover,
.navbar-transparent .btn-link:focus {
    color: #333;
}

.navbar-transparent .btn-link[disabled]:hover,
fieldset[disabled] .navbar-transparent .btn-link:hover,
.navbar-transparent .btn-link[disabled]:focus,
fieldset[disabled] .navbar-transparent .btn-link:focus {
    color: #ccc;
}