body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:200px;
  top:200px;
  width:1260px;
  height:1010px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:1010px;
}
#u1 {
  position:absolute;
  left:2px;
  top:497px;
  width:1256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:740px;
  top:226px;
  width:145px;
  height:42px;
  font-size:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:200px;
  top:298px;
  width:1259px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:1242px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1259px;
  height:1px;
}
#u5 {
  position:absolute;
  left:446px;
  top:342px;
  width:73px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:664px;
  top:345px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u8 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u7_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9 {
  position:absolute;
  left:564px;
  top:345px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u10 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11 {
  position:absolute;
  left:463px;
  top:399px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:556px;
  top:398px;
  width:195px;
  height:23px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:23px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u14 {
  position:absolute;
  left:1049px;
  top:407px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:424px;
  top:542px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:556px;
  top:541px;
  width:195px;
  height:23px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:23px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u19 {
  position:absolute;
  left:1045px;
  top:547px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:1155px;
  top:543px;
  width:203px;
  height:23px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:23px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u22 {
  position:absolute;
  left:471px;
  top:600px;
  width:56px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:555px;
  top:600px;
  width:196px;
  height:23px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:23px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u25 {
  position:absolute;
  left:1082px;
  top:605px;
  width:29px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:1150px;
  top:605px;
  width:203px;
  height:23px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:23px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u28 {
  position:absolute;
  left:436px;
  top:658px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:556px;
  top:658px;
  width:195px;
  height:22px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u31 {
  position:absolute;
  left:771px;
  top:658px;
  width:180px;
  height:22px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u32 {
  position:absolute;
  left:556px;
  top:704px;
  width:435px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u33 {
  position:absolute;
  left:436px;
  top:757px;
  width:838px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:821px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:838px;
  height:1px;
}
#u34 {
  position:absolute;
  left:435px;
  top:793px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:567px;
  top:792px;
  width:220px;
  height:23px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:23px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u37 {
  position:absolute;
  left:465px;
  top:963px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:559px;
  top:889px;
  width:184px;
  height:39px;
  font-size:8px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:39px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:756px;
  top:852px;
  width:110px;
  height:100px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u42 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:757px;
  top:963px;
  width:113px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:1040px;
  top:852px;
  width:110px;
  height:100px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u46 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1041px;
  top:962px;
  width:113px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:221px;
  top:612px;
  width:37px;
  height:34px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:34px;
}
#u50 {
  position:absolute;
  left:2px;
  top:9px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:266px;
  top:626px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:221px;
  top:890px;
  width:45px;
  height:48px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:48px;
}
#u54 {
  position:absolute;
  left:2px;
  top:16px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:266px;
  top:897px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:435px;
  top:1061px;
  width:838px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:821px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:838px;
  height:1px;
}
#u58 {
  position:absolute;
  left:697px;
  top:1096px;
  width:272px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:42px;
}
#u59 {
  position:absolute;
  left:2px;
  top:10px;
  width:268px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:235px;
  top:663px;
  width:10px;
  height:227px;
}
#u60_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u60_end {
  position:absolute;
  left:-5px;
  top:210px;
  width:20px;
  height:18px;
}
#u60_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:227px;
}
#u61 {
  position:absolute;
  left:1148px;
  top:404px;
  width:205px;
  height:25px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:25px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u62 {
  position:absolute;
  left:424px;
  top:494px;
  width:838px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:821px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:838px;
  height:1px;
}
#u63 {
  position:absolute;
  left:1530px;
  top:207px;
  width:430px;
  height:250px;
  text-align:left;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:250px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:426px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:760px;
  top:404px;
  width:239px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:1011px;
  top:703px;
  width:287px;
  height:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:574px;
  top:431px;
  width:104px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:556px;
  top:431px;
  width:16px;
  height:18px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u72 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:1166px;
  top:439px;
  width:92px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:1148px;
  top:439px;
  width:16px;
  height:18px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u76 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:574px;
  top:572px;
  width:105px;
  height:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:556px;
  top:572px;
  width:16px;
  height:18px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u80 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:574px;
  top:630px;
  width:77px;
  height:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:556px;
  top:630px;
  width:16px;
  height:18px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u84 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:1167px;
  top:572px;
  width:92px;
  height:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:1149px;
  top:572px;
  width:16px;
  height:18px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u88 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:1165px;
  top:638px;
  width:60px;
  height:16px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:1147px;
  top:638px;
  width:16px;
  height:18px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u92 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:574px;
  top:735px;
  width:92px;
  height:16px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:556px;
  top:735px;
  width:16px;
  height:18px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u96 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:464px;
  top:1012px;
  width:92px;
  height:16px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:446px;
  top:1012px;
  width:16px;
  height:18px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u100 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:775px;
  top:1009px;
  width:131px;
  height:16px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:757px;
  top:1009px;
  width:16px;
  height:18px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u104 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:1059px;
  top:1010px;
  width:131px;
  height:16px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:1041px;
  top:1010px;
  width:16px;
  height:18px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u108 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:583px;
  top:825px;
  width:131px;
  height:16px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:565px;
  top:825px;
  width:16px;
  height:18px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u112 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:574px;
  top:680px;
  width:122px;
  height:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:556px;
  top:680px;
  width:16px;
  height:18px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u116 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:221px;
  top:339px;
  width:37px;
  height:48px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:48px;
}
#u118 {
  position:absolute;
  left:2px;
  top:16px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:266px;
  top:346px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:235px;
  top:390px;
  width:10px;
  height:222px;
}
#u121_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u121_end {
  position:absolute;
  left:-5px;
  top:205px;
  width:20px;
  height:18px;
}
#u121_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:222px;
}
#u122 {
  position:absolute;
  left:229px;
  top:349px;
  width:23px;
  height:41px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:41px;
}
#u123 {
  position:absolute;
  left:2px;
  top:12px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:1045px;
  top:348px;
  width:73px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:1153px;
  top:348px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u127 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u126_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u128 {
  position:absolute;
  left:1283px;
  top:348px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u129 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u128_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u130 {
  position:absolute;
  left:235px;
  top:220px;
  width:126px;
  height:70px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:70px;
}
#u131 {
  position:absolute;
  left:2px;
  top:27px;
  width:122px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:1356px;
  top:230px;
  width:51px;
  height:49px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:49px;
}
#u133 {
  position:absolute;
  left:2px;
  top:16px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:439px;
  top:852px;
  width:110px;
  height:100px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u135 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:559px;
  top:936px;
  width:74px;
  height:16px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u137 {
  position:absolute;
  left:2px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:876px;
  top:889px;
  width:184px;
  height:39px;
  font-size:8px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:39px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:876px;
  top:936px;
  width:74px;
  height:16px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u141 {
  position:absolute;
  left:2px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:1160px;
  top:889px;
  width:184px;
  height:39px;
  font-size:8px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:39px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:1160px;
  top:936px;
  width:74px;
  height:16px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u145 {
  position:absolute;
  left:2px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:460px;
  top:986px;
  width:74px;
  height:16px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u147 {
  position:absolute;
  left:2px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:776px;
  top:986px;
  width:74px;
  height:16px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u149 {
  position:absolute;
  left:2px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:1062px;
  top:987px;
  width:74px;
  height:16px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u151 {
  position:absolute;
  left:2px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:200px;
  top:200px;
  width:1260px;
  height:1010px;
  opacity:0.4;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:1010px;
}
#u153 {
  position:absolute;
  left:2px;
  top:497px;
  width:1256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:638px;
  top:656px;
  width:435px;
  height:192px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:192px;
}
#u155 {
  position:absolute;
  left:2px;
  top:88px;
  width:431px;
  visibility:hidden;
  word-wrap:break-word;
}
