<div class="panel panel-default" ng-controller="yhtml5.account">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12 col-sm-2">
                <h3>代发</h3>
            </div>
            <div class="col-xs-6 col-sm-4 col-sm-pull-1 y-mt15">
                <button type="button" class="btn btn-default" ng-click="accountTopayBatchOpen()">批量代付</button>
            </div>
        </div>
        <!--row-->
    </div>
    <div class="panel-body">
        <form action="" class="form-horizontal y-mt30">
            <div class="form-group">
                <label for="name" class="col-sm-4 control-label">收款方姓名</label>
                <div class="col-xs-12 col-sm-6">
                    <input type="text" class="form-control" name="" id="" value="" placeholder="请核实对方姓名...">
                </div>
            </div>
            <div class="form-group">
                <label for="websiteDomain" class="col-sm-4 control-label">账户类型</label>
                <div class="col-sm-6">
                    <label class="radio-inline">
						<input type="radio" name="accountClass" id="" value="1" checked="">个人
					</label>
                    <label class="radio-inline">
						<input type="radio" name="accountClass" id="" value="2">企业
					</label>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-4 control-label">身份证号</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="" id="" value="" placeholder="请输入身份证号...">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-4 control-label">收款方开户行</label>
                <div class="col-sm-6">
                    <select class="form-control" name="">
						<option value="">中国银行</option>
						<option value="">建设银行</option>
						<option value="">工商银行</option>
						<option value="">农业银行</option>
					</select>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-4 control-label">收款方银行卡号</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="" id="" value="" placeholder="请输入卡号...">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-4 control-label">开户行所在地</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="" id="" value="" placeholder="请输入开户行所在地...">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-4 control-label">开户行支行名称</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="" id="" value="" placeholder="请输入开户行支行名称...">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-4 control-label">打款金额</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="" id="" value="" placeholder="请输入金额数...">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-4 control-label">打款原因</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="" id="" value="" placeholder="">
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn y-btn-blue" ng-click="accountTopayConfirmOpen()">下一步</button>
    </div>
    <script type="text/ng-template" id="accountTopayBatch.html">
        <div class="modal-header y-modal-header-default">
            <h3 class="y-mg0">批量代付
			    <button type="button" class="close" ng-click="cancel()">
			        <span aria-hidden="true">&times;</span>
		        </button>
			</h3>
        </div>
        <div class="modal-body">
            <form name="myForm" class="form-horizontal y-mt15" action="" method="">
                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="">付款文件</label>
                        <div class="col-sm-8">
                            <input class="form-group y-mt6 y-mlr0" type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile">
                            <p class="text-left">模板文件下载：
                                <button type="button" class="btn btn-link">xls文件</button>
                            </p>
                            <p class="text-danger" ng-show="myForm.file.$error.required">请选择一个文件</p>
                            <p ng-show="myForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M</p>
                            <button class="btn btn-danger" ng-click="picFile = null" ng-show="picFile">删除文件</button>
                        </div>
                        <!--<div class="progress" ng-show="picFile.progress >= 0">
                            <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
                        </div>
                        <span ng-show="picFile.result">Upload Successful</span>
                        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>-->
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer y-modal-footer-default">
            <button type="button" class="btn y-btn-blue center-block" ng-disabled="!myForm.$valid" ng-click="uploadPic(picFile)">下一步</button>
        </div>
    </script>
    <script type="text/ng-template" id="accountTopayConfirm.html">
        <div class="modal-header y-modal-header-default">
            <h3 class="y-mg0">代付确认
			    <button type="button" class="close" ng-click="cancel()">
			        <span aria-hidden="true">&times;</span>
		        </button>
			</h3>
        </div>
        <div class="modal-body y-pt20">
            <form class="form-horizontal" action="" method="">
                <div class="form-group">
                    <label class="col-sm-4 control-label">银行卡信息：</label>
                    <div class="col-sm-7">
                        <p class="y-color-red">招商银行</p>
                        <p>沈贤丁（********2113）<span class="label label-info">签约账户</span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">提现金额：</label>
                    <div class="col-sm-7">
                        <p>2,324.00 元</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">商家实付：</label>
                    <div class="col-sm-7">
                        <p>5,324.00 元</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">手续费：</label>
                    <div class="col-sm-7">
                        <p>324.00 元</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">安全密码：</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="password" name="" id="" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">短信验证码：</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="" id="" value="" />
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn y-btn-blue">发送验证码</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer y-modal-footer-default">
            <button type="button" class="btn y-btn-blue center-block">下一步</button>
        </div>
    </script>
</div>