<div class="y-bg-fff y-pt60">
	<div class="container y-scroll-y-md">
		<p class="text-indent2">杭州凡伟网络科技有限公司（以下简称“聚宝云计费”），同意按照本协议的规定及其不时发布的操作规则提供基于互联网的相关服务（以下称“网络服务”），服务使用人（以下称“商户”）应当同意本协议的全部条款并按照页面上的提示完成全部的签约程序。商户在进行签约程序过程中点“同意”按钮即表示个人完全接受本协议项下的全部条款。</p>
<p>一、服务内容</p>
<p class="text-indent2">聚宝云计费在互联网上搭建聚宝云计费服务平台，商户通过聚宝云计费服务平台在互联网上受理用人民币银行卡、游戏点卡、移动运营商充值卡、手机话费、支付宝等进行支付的商品交易。</p>
<p>包括：</p>
<p>1．安全加密和身份认证</p>
<p>为商户使用聚宝云计费的平台支付功能提供高质量的网络传输加密通道。</p>
<p>2．提供网上安全支付服务</p>
<p>商户的商务网站产生的交易所需的在线支付与结算功能，通过聚宝云计费的网上支付网关与聚宝云计费所连通的国内商业银行、第三方支付公司、移动运营商等交换信息，并将银行、第三方支付公司、移动运营商的确认信息反馈给商户。</p>
<p>3．提供安全技术支持</p>
<p>为商户提供订单信息传输的接口规范，配置安全传输协议，后台管理权限设定；为消费者的支付等重要信息提供高质量的网络传输加密通道。</p>
<p>4．向商户提供其在网上支付结算的相关信息查询服务。</p>
<p>5．当且仅当商户完成签约之后，方可使用聚宝云计费提供的网络服务；若商户在未完成签约的情况下，使用聚宝云计费提供的网络服务，则对于商户账户余额中的资金，聚宝云计费有权自主决定如何处理，商户无权要求聚宝云计费进行退还、结算等。</p>
<p></p>
<br>
<p>二、聚宝云计费的权利与义务</p>
<p>1．实时地将商户发来的网上支付的交易请求传递给银行、第三方支付公司、移动运营商，并将银行、第三方支付公司、移动运营商对该支付请求的应答及时、安全、保密地传递给商户。聚宝云计费对其支付服务平台的支付接入系统中信息传递过程的安全、保密、实时性负责，承担且仅承担因此项原因造成的直接经济损失。因《合同法》规定之不可抗力（灾害、战争等）原因造成损失时，聚宝云计费免除本条款所述责任，但应为商户提供书面证明资料并协助商户寻求补救办法。</p>
<p>2．每个交易日（正常工作日）后，聚宝云计费及时向商户提供所有的交易和结算数据，并按本协议规定及时将结算资金划入商户账户。</p>
<p>3．负责为商户提供至少三个月内的交易信息查询功能。</p>
<p>4．聚宝云计费有权根据系统升级等需要暂时中止提供在线支付服务，一般应提前三天在聚宝云计费网站上明示、告知商户，并预告恢复日期。聚宝云计费有权自行决定对支付平台的功能和服务进行改动和升级，对改进服务事项，将在聚宝云计费网站上提前公示。</p>
<p>5．商户有下列情形之一的，聚宝云计费有权立即终止本协议，并有权追偿因这些情形所导致的损失：</p>
<p>(a) 与客户串通诈骗资金；</p>
<p>(b) 无理拒绝受理客户使用在线支付平台而发生的成功交易；</p>
<p>(c) 商户交易中存在过多的交易纠纷或过大的交易风险、且经双方友好协商无法解决；</p>
<p>(d) 商户网站上没有提供真实有效的客服联系方式（即商户的客户无法通过商户网站提供的联系方式与商户取得联系、无法及时得到商户反馈）；</p>
<p>(e) 银行出具的要求中止商户交易的书面通知。</p>
<p>(f) 第三条第12款中所列情形。</p>
<p>6．商户业务变更或终止未及时通知聚宝云计费，聚宝云计费在联系无回应的情况下，有权中止本协议，并对持卡人提出的退款请求（在此款未转账给商户的情况下）进行处理，将持卡人在商户网站已提交的订单款项转回持卡人账户。</p>
<p>7. 在本协议有效期内，聚宝云计费有权根据《反洗钱法》相关规定、银行、有权机关或商户的资信、业务范围等综合因素随时要求商户提供商户用户信息及商户已发货或已提供服务的有效单据。</p>
<br>
<p>三、商户的权利与义务</p>
<p>1．商户在申请使用聚宝云计费的聚宝云计费平台服务时，必须向聚宝云计费准确提供必要的资料。</p>
<p>（1）若商户为企业法人或其他组织，应提供营业执照副本、组织机构代码证、税务登记证副本；控股股东或实际控制人、法定代表人（负责人）或授权办理业务人员的身份证等证明材料；银行开户许可证、产品经营许可证、域名ICP备案等相关证件。上述证明材料均须加盖商户的公章；</p>
<p>（2）若商户为自然人，应提供居民身份证等相关身份证明资料，域名ICP备案证等资料。</p>
<p>2．商户签约成功后，聚宝云计费为其开通一个账户，该账户的登录名和密码由商户负责保管；商户应当对以其账户进行的所有活动和事件负法律责任。</p>
<p>3．商户必须同意接受聚宝云计费通过电子邮件或其他方式向其发送的产品促销或其他相关商业信息。 </p>
<p>4．商户在网上发布的信息和从事的商务活动，需严格遵守政府及工商管理部门的有关规定并独自承担与此相应的责任。</p>
<p>(a) 提供基本业务情况说明及相关法律证明；承担由于其所提供的资质材料不准确、不真实等情况而导致的经济和法律方面的责任。聚宝云计费对此保留终止为商户提供支付服务的权力。</p>
<p>(b) 商户应在其网站页面上如实描述聚宝云计费支付业务，商户不得采用技术手段或其它非法手段截获持卡人的卡信息、代持卡人提交订单，商户必须在商户网站引导持卡人到聚宝云计费平台亲自提交订单，否则聚宝云计费保留终止为商户提供支付服务的权力。</p>
<p>(c) 及时处理持卡人的消费投诉，并负责处理因货物、价格以及售后服务等方面原因引起的与持卡人的纠纷。聚宝云计费可提供相关协助。由于商户原因造成商户所提供服务引起的一切客户投诉或引起的法律上的责任，由商户负责或追究有关方面的责任，与聚宝云计费无关。</p>
<p>(d) 商户终止服务或业务发生变更，应提前一个月书面通知聚宝云计费，否则造成损失由商户负责。</p>
<p>5. 商户应采取有效措施监控、防范违法违规的资金操作，按照国家有关法律、法规规范经营，不得从事任何形式的违法违规行为。该等行为包括但不限于：</p>
<p>（1） 侵害他人名誉、隐私权、商业秘密、商标权、著作权、专利权、其他人身和财产权利；</p>
<p>（2） 冒用他人名义使用本服务；</p>
<p>（3） 从事任何非法交易行为，如欺诈、洗钱、套现、赌博等行为；</p>
<p>（4） 使用盗窃、伪造的银行卡账号或无效银行卡账号交易；</p>
<p>（5） 利用聚宝云计费支付系统进行无真实交易背景的虚假交易；</p>
<p>（6） 聚宝云计费有正当理由认为不适当之其他行为。</p>
<p>商户及商户客户从事上述违法违规行为产生的相应后果与责任，由商户自行承担。如因从事上述行为遭致索赔、诉讼及其他程序致使聚宝云计费权益受到损害的，商户应负责消除上述损害对聚宝云计费造成的不利影响并承担赔偿责任。</p>
<p>6. 若商户的用户向银行提出拒付、否认交易等情形时而给聚宝云计费照成损失，该损失由商户承担，包括但不限于聚宝云计费可从后续结算给商户的资金中扣除相应的金额等。</p>
<p>7. 若发生商户的用户向银行提出拒付、否认交易等事件时，聚宝云计费有权从后续结算给商户的资金中冻结同等金额的资金结算。若事件结束后，需要对用户进行赔付，则聚宝云计费可直接将冻结的商户资金赔付给用户；若事件结束后，无需向用户赔付，则聚宝云计费将冻结的商户资金结算给商户。</p>
<p>8. 商户应确保其提供的经营业务情况说明及相关法律证明的真实性和有效性，如遇上述说明或证明过期、失效的情况，商户应及时重新提供最新的有效证件或说明，聚宝云计费可予以适当提示以便商户尽快提供新的有效资料。商户承担由于其所提供的资质材料不完整、不准确、不真实等情况而导致的经济和律方面的责仁并且赔偿由此给聚宝云计费造成的损失。聚宝云计费保留终止为商户提供支付服务的权利。</p>
<p>9. 聚宝云计费不介入商户和持卡消费者之间或任何第三方的交易纠纷，商户应独自承担因其销售的商品或服务的质量、性能、价格及售后服务等方面引起的民事、刑事和行政责任。因此给聚宝云计费造成损失的，商户应负责赔偿。由于商户责任造成聚宝云计费所提供服务引起的一切客户投诉或引起的法律上的责任，由商户负责或追究有关方面的责任，与聚宝云计费无关，因此给聚宝云计费造成损失的，商户应予赔偿。</p>
<p>10. 商户如需修改在聚宝云计费平台注册的内容信息或出现下列事项时，应提前五个工作日以书面且加盖商户公章或签字的形式通知给聚宝云计费。否则聚宝云计费有权单方终止本协议，终止立即生效，聚宝云计费有权对消费者提出的退款请求进行处理。由此给聚宝云计费造成的损失由商户负责承担：</p>
<p>（1）商户终止向持卡消费者提供服务或者发更业务、经营范围；</p>
<p>（2）商户名称或为履行本协议而设立的资金清算账户发生发更；</p>
<p>（3）商户的营业地点、联系电话、联系方式、控股股东或实际控制人、法定代表人（负责人）或授权办理业务人员发生发更；</p>
<p>（4）商户破产、歇业、解散、合并、分立、上市、停业整顿或被吊销营业执照；</p>
<p>（5）商户其他可能会影响本协议履行的亊项。</p>
<p>11. 商户承认本协议第四条第2款第4点的风险说明内容，并自行承担由此产生的任何损失。</p>
<p>12. 商户所从事的商务活动，须严格遵守政府及工商管理部门的有关规定并独自承担与此相应的责任。商户只能将聚宝云计费提供的支付服务用于签约的网站中使用，此网站不得刊登中国国家法律、行政法规禁止的内容。商户不得将聚宝云计费提供的支付服务直接或变相延伸至商户之外的任何第三方使用，否则聚宝云计费有权要求商户停止此行为，或终止此协议，并有权追偿因商户此行为给聚宝云计费所带来的损失。</p>
<br>
<p>四、资费及结算</p>
<p>1、资费标准：请在聚宝云计费商户后台查看。</p>
<p>2、结算说明</p>
<p>1）结算方式：</p>
<p>自助结算：当商户同意该签约协议时，即表示商户已经同意聚宝云计费网站上现在或将来发布的结算方法和收费标准，聚宝云计费有权对“自助结算”的方法和收费标准进行调整。</p>
<p>2）交易手续费：</p>
<p>交易手续费直接从结算款中扣除，且按每笔交易金额计算。</p>
<p>3）划款方式：</p>
<p>聚宝云计费以电子转账的形式将扣除交易手续费和结算费用的金额划转到商户提供的法定账号内。</p>
<p>4）风险说明</p>
<p>目前国内电子商务环境尚未成熟，其电子商务立法，以及信用体制还不完善，在这种情况下，商户在开展电子商务业务时存在一定的风险性。如：有些不法分子盗用他人银行卡通过网络进行违法犯罪活动，或持卡人拒绝付款等恶性支付事件等，会给商户造成直接经济损失。商户完全知晓上述风险，并愿意自行承担由此产生的经济损失。聚宝云计费发现可能的风险交易时，以书面或邮件形式向商户确认风险交易的逐笔信息，包括金额、发生时间、风险报告来源（银行、公安部门、消费者）等。聚宝云计费有权暂时冻结所发现的可能风险交易的资金。双方应共同配合公安部门、银行以及消费者等其他利益相关者进行调查与处理。双方按照国家法律和司法部门的处理结果执行，尽快保证商户相关资金回笼。</p>
<p>5）聚宝云计费会存在暂时无法结算的情况：</p>
<p>因上游通道出现投诉，举报等原因，账号以及资金被冻结，聚宝云计费会在上游对我方完成资金结算后，将资金结算给商户。</p>
<p>3. 风险保证金</p>
<p>聚宝云计费有权根据商户业务发展和风险控制需要，要求商户缴纳风险保证金。聚宝云计费有权从商户的后续结算款中，将资金转为该商户的风险保证金。</p>
<p>当商户月交易额达到1000万元时，商户必须保证在聚宝云计费的保证金金额不能低于交易金额的10%。因快捷支付业务引发的风险及损失全由商户承担。对于款项赔付，若商户未在规定时限内履行赔付义务，则聚宝云计费有权从商户所缴纳的风险保证金中扣除相应款项。聚宝云计费将在终止或解除本协议后的180个工作日后的一周内按照以下方式返还商户所缴纳的风险保证金（不计利息）：</p>
<p>（1）如果在本协议终止或解除后的180个工作日内，商户交易中无任何因商户存在主要或全部过错造成的交易纠纷或其他退款的情况，则全额返还商户所缴纳的风险保证金；</p>
<p>（2）如果在本协议终止或解除后的180个工作日内，商户交易中存在因商户存在主要或全部过错造成的交易纠纷或退款的情况，则返还其剩余金额的风险保证金；</p>
<p>（3）续签商户或自动续延的商户不再另行收取风险保证金。</p>
<p>4. 因商户原因，聚宝云计费终止或解除本协议的，聚宝云计费将暂扣商户的后续交易款项及尚未结算款项并按下列情形予以处理：</p>
<p>（a）如果在商户最后一笔交易完成之日起的180日内，商户无任何交易纠纷或其他退款的情况发生且聚宝云计费未收到有权机关要求暂扣商户结算款项的通知的，则自第180日后的30 日内将暂扣金额结算给商户；</p>
<p>（b）如果在商户最后一笔交易完成之日起的180日内，商户交易中存在交易纠纷或退款的情况，则自第180日后的 30 日内将其剩余金额（暂扣金额－退款金额或纠纷金额）结算给商户。</p>
<p>（c）如果在商户最后一笔交易完成之日起的180日内，暂扣的结算款项不足以清偿交易纠纷中所涉及的款项或应退款金额时，商户应在接到聚宝云计费书面通知的三日内向聚宝云计费支付其差额。否则聚宝云计费有权要求商户每天按照应付款项总额的千分之五支付违约金；</p>
<p>（d）如果在商户最后一笔交易完成之日起的180日内，聚宝云计费收到有权机关下发的暂扣商户结算款项或冻结商户账户通知的，聚宝云计费将依有权机关的通知执行，待有权机关出具处理办法。</p>
<p>5. 聚宝云计费商户后台满1000才可提现，因商户原因可提现金额无法满足提现要求的，聚宝云计费有权不进行结算。</p>
<br>
<p>五、退款处理</p>
<p>1．据银行的有关规定，对于网上交易流程中出现的、由于商户的原因（例：缺货、无法运货等）造成不能发货、做退款处理的情况，按如下处理：</p>
<p>(a) 商户按聚宝云计费及银行、第三方支付公司、移动运营商要求，在银行、第三方支付公司、移动运营商规定时限内，提交退款处理所需要的文字材料。</p>
<p>(b) 当商户向聚宝云计费提出退款请求时，商户在聚宝云计费账户中应有足够退款的账存资金，或者商户须按要求退款的金额将款项转账至聚宝云计费账户，聚宝云计费收到该款项后向持卡人做出退款处理。否则造成的一切后果均由商户承担。</p>
<p>(c) 退款时聚宝云计费不再另收取手续费，但若银行、第三方支付公司、移动运营商方面需要另行收取相关费用，则此费用由商户承担。</p>
<p>(d) 扣款过程中收取的手续费不再退还，此费用由商户承担。</p>
<p>(e) 商户负责解决消费者无故拒付而导致的退款问题。</p>
<p>(f) 退款时，聚宝云计费原则上不接受消费者的直接指令，聚宝云计费有权将消费者的指令传达给商户，并由商户自行进行处理。但在商户与消费者发生纠纷时，如果聚宝云计费认为商户存在未发货、退货、欺诈等情况，或聚宝云计费认为不立即退款给消费者将影响聚宝云计费的声誉或者给聚宝云计费带来经济损失时，聚宝云计费有权直接向消费者退款，如果商户的账存资金不足时，商户应及时向聚宝云计费补偿相应的金额。</p>
<p>(g) 商户发起的退款指令须在交易发生后的40天内提出。</p>
<p>2. 若因商户和持卡消费者之间发生交易纠纷，引起持卡消费者提出赔付或退款申请，聚宝云计费将根据银行或有权机关的规定，按如下约定处理：</p>
<p>(a). 商户按聚宝云计费、银行或有权机关的要求，在2个工作日内，通过电子邮件的形式向聚宝云计费提交赔付或退款处理所需要的相关材料，包括但不限于：购买记录网页截图、已提供商品（或服务）的证明、发货物流凭证。聚宝云计费根据银行或有权机关的决定，为商户做的赔付或退款处理。</p>
<p>(b). 根据银行或有权机关的赔付或退款要求，聚宝云计费在2个工作日内按照商户提供的联系方式未能联系到商户或商户对该赔付或退款事宜无任何答复时，聚宝云计费有权从商户后续交易款项中直接扣除相应款项赔付或退至持卡消费者。若商户的后续交易款项不足而由聚宝云计费进行了代垫，按本协议第十一条规定办理。</p>
<p>(c). 当持卡消费者向聚宝云计费或银行提出赔付或退款申请时，聚宝云计费根据该申请向商户提出赔付或退款，商户在聚宝云计费账户中应有不低于赔付或退款金额的账存资金，若商户在聚宝云计费账户中的账存资金低于赔付或退款金额时，商户应在接到聚宝云计费书面通知之日起三日内将账存资金补足至赔付或退款金额，或者将赔付或退款金额全部划转至聚宝云计费账户。若商户同时使用聚宝云计费提供的多项支付服务，聚宝云计费有权将商户其他支付服务业务中的账存资金冲抵聚宝云计费代垫金额。</p>
<p>(d). 退款时聚宝云计费不再另行收取退款手续费，但若银行及相关方面需要另行收取相关费用，则此费用由商户承担。</p>
<p>3. 在退款过程中，由于商户在聚宝云计费账户的资金余额低于退款金额，并在接到聚宝云计费通知之日起三日内未将退款金额全部划转至聚宝云计费账户，因此商户除应当偿还聚宝云计费所垫付款项本金外，每延期一日，还应按照聚宝云计费垫付本金的千分之五比例向聚宝云计费支付违约金。若商户在五个工作日内仍未将聚宝云计费的垫付款项返还到聚宝云计费账户内，聚宝云计费有权单方解除本协议，并停止自产生垫付之日起的商户全部后续交易款项的结算工作。</p>
<p>4. 商户若发生某笔交易被银行调查亊件（即调单），聚宝云计费将根据银行的要求通知商户提供相关材料，并暂扣该笔交易金额，如该笔交易的款项已经划转给商户，则聚宝云计费有权暂扣商户后续交易款项，直至该银行调查亊件解决完毕（即向持卡人退款处理完毕、商户向聚宝云计费偿还聚宝云计费所垫付的退款及向聚宝云计费支付违约金完毕）；如果没有后续交易或者后续交易金额不足，则在聚宝云计费发出调单通知之日起7日内（以电子邮件形式发通知，自聚宝云计费电子邮件发出之日起算）商户必须将该金额支付到聚宝云计费账户中，如因商户违反本条约定而使聚宝云计费在退款操作中产生垫付情形的，商户除向聚宝云计费偿还聚宝云计费所垫付的退款金额以外，每延期一日，还应向聚宝云计费支付相当于垫付金额千分之五的违约金。</p>
<br>
<p>六、内容所有权</p>
<p>聚宝云计费提供的在线支付服务内容可能包括：文字、软件、声音、图片、录像、图表等。所有这些内容受版权、商标和其它财产所有权法律的保护。</p>
<p>商户只有在获得聚宝云计费或其他相关权利人的授权之后才能使用这些内容，不得擅自复制、再造这些内容、或制造与内容有关的派生产品。 </p>
<br>
<p>七、隐私保护</p>
<p>保护商户隐私是聚宝云计费一项基本政策，聚宝云计费保证不对外公开或向第三方提供商户注册资料及商户在使用网络服务时存储在聚宝云计费的非公开内容，但下列情况除外：</p>
<p>(a) 事先获得商户的明确授权； </p>
<p>(b) 根据有关的法律法规要求； </p>
<p>(c) 按照相关政府主管部门的要求； </p>
<p>(d) 为维护社会公众的利益； </p>
<p>(e) 为维护聚宝云计费的合法权益。 </p>
<p>聚宝云计费可能会与第三方合作向商户提供相关的网络服务，在此情况下，如该第三方同意承担与聚宝云计费同等的保护商户隐私的责任，则聚宝云计费可将用户的注册资料等信息提供给该第三方。</p>
<p>在不透露单个商户隐私资料的前提下，聚宝云计费有权对整个商户数据库进行分析并对商户数据库进行商业上的利用。</p>
<br>
<p>八、免责声明</p>
<p>商户明确同意其使用聚宝云计费提供的在线支付服务所存在的风险将完全由其自己承担；因其使用聚宝云计费提供的服务而产生的一切后果也由其自行承担，聚宝云计费对商户及其网上交易行为的影响不承担任何责任。</p>
<p>聚宝云计费不担保网络服务一定能满足商户的要求，也不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。 </p>
<p>聚宝云计费不保证为向商户提供便利而设置的外部链接的准确性和完整性，同时，对于该等外部链接指向的不由聚宝云计费实际控制的任何网页上的内容，聚宝云计费不承担任何责任。</p>
<p>对于因不可抗力或聚宝云计费不能控制的原因造成的网络服务中断或其它缺陷，聚宝云计费不承担任何责任，但将尽力减少因此而给商户造成的损失和影响。 </p>
<br>
<p>九、服务变更、中断或终止</p>
<p>如因系统维护或升级的需要而需暂停网络服务，聚宝云计费将尽可能事先进行通告。</p>
<p>如发生下列任何一种情形，聚宝云计费有权随时中断或终止向商户提供本协议项下在线支付服务而无需通知商户： </p>
<p>(a) 商户提供的个人资料不真实； </p>
<p>(b) 商户违反本协议中规定的使用规则。 </p>
<br>
<p>十、违约赔偿</p>
<p>商户同意保障和维护聚宝云计费及其他用户的利益，如因商户违反有关法律、法规或本协议项下的任何条款而给聚宝云计费或任何其他第三方造成损失，用户同意承担由此造成的损害赔偿责任。 </p>
<br>
<p>十一、协议修改</p>
<p>聚宝云计费将有权随时修改本协议的有关条款，一旦本协议的内容发生变动，聚宝云计费将会通过适当方式向商户提示修改内容。 </p>
<p>如果不同意聚宝云计费对本协议相关条款所做的修改，商户有权停止使用在线支付服务，但必须事先向聚宝云计费提出书面通知。聚宝云计费会与商户结清交易款，并停止提供服务。如果商户继续使用在线支付服务，则视为商户接受聚宝云计费对本协议相关条款所做的修改。</p>
<br>
<p>十二、法律管辖</p>
<p>本协议的订立、执行和解释及争议的解决均应适用中国法律。</p>
<p>如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向聚宝云计费所在地的人民法院提起诉讼。</p>
<br>
<p>十三、通知和送达</p>
<p>本协议项下所有的通知均可通过重要页面公告、电子邮件或常规的信件传送等方式进行；该等通知于发送之日视为已送达收件人。 </p>
<br>
<p>十四、其他规定</p>
<p>本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。 </p>
<p>如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。</p>
<p>如本协议的条款与商户和聚宝云计费公司另行签署的书面支付服务协议条款发生冲突，则以书面协议条款为准。 </p>
<p>本协议中的标题仅为方便而设，在解释本协议时应被忽略。</p>
	</div>
	<div class="y-mt40 y-pb60 text-sm-center">
		<button type="button" ng-disabled="isDisabled" class="btn y-btn-blue" ui-sref="authentication.person" ng-click="toStep2()">同意签约协议<span ng-bind="num"></span></button>
		<!--<button type="button" ng-disabled="isDisabled" ng-click="send()" class="btn btn-info" ng-bind="buttonText">获取验证码</button>-->
	</div>
</div>