.App-title :global .apppostcss {
        font-size: 18px
    }

.App-title :global(.apppostcss.apppostcss2) .apppostcss3 {
        font-size: 18px
    }

.localA :global .global-b .global-c :local(.localD.localE) .global-d{
  font-size: 18px
}

:global(.apppostcss3) {
    color: green;
}

.App {
    text-align: center;
}

.App-logo {
    // position: absolute;
    // top:1rem;
    // margin: .1rem;
    animation: App-logo-spin infinite 20s linear;
    height: .8rem;
}
.App-logo-background {
    position: relative;
    z-index:2;
    height: 1.5rem;
    line-height: 1.5rem;
}

.App-header {
    background-color: #222;
    height: 1.5rem;
    padding: .2rem;
    color: white;
}

.App-title {
    position:relative;
    margin-top: -.3rem;
    font-size: .25rem;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.scanBtn{
  width: 50%;
  max-width: 1.2rem;
  margin: auto;
  margin-top: 1rem;
}

