<div class="y-pd-md text-center y-bgcf6">
    <div class="container y-mt80">
        <h2>功能完全免费</h3>
        <h3><small>另外提供渠道代申请服务</small></h3>
        <h2 class="y-clf25050">1680元／渠道</h2>
    </div>
</div>
<div class="container y-mt60 text-center">
    <h3>第三方支付渠道收费</h3>
    <h3><small class="y-clf25050">聚宝云计费只提供技术服务，不收取渠道费用</small></h3>
    <div class="table-responsive y-mt60 y-mb120">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th class="text-center y-fs18">支付通道</th>
                    <th class="text-center y-fs18">形式</th>
                    <th class="text-center y-fs18">接入费</th>
                    <th class="text-center y-fs18">到账周期</th>
                </tr>
            </thead>
            <tbody>
                <tr class="y-fs16" ng-repeat="data in costRecord">
                    <td ng-bind="data.channel"></td>
                    <td ng-bind="data.type"></td>
                    <td ng-bind="data.cost">/</td>
                    <td ng-bind="data.time"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>