/*#banner .box{position: absolute;z-index:2;width:1960px;width:500px; height:270px;left:-80px;top:25px;background:#ffffff;}*/
.box{
	overflow: visible;
	left: 50%;
	width: 356px;
	height:352px;
	margin-top: 110px;
	margin-left: 185px;
	position: absolute;
	top: 0;
	background:url(../images/login_bg.png) no-repeat;
	z-index: 10;}
/**全屏轮播**/
#glume {
	width: 100%;
	position: relative;
	overflow: hidden;
	height: 398px;
	margin: 0 auto;
	z-index: 2;
}
#glume .Limg {
	width: 100%;
	height: 398px;
	position: relative;
	cursor: pointer;
}
#glume .Limg li {
	width: 100%;
	height: 398px;
	position: absolute;
	cursor: pointer;
}
#glume .Nubbt {
	position: absolute;
	z-index: 100;
	left: 48%;
	bottom: 10px;
}
#glume .Nubbt span {
	width: 14px;
	height: 14px;
	background: #fff;
	padding: 1px 11px;
	margin: 0 2px;
	font-style: normal;
	cursor: pointer;
	background: url("../images/dot.png") no-repeat scroll;
}
#glume .Nubbt span.on {
	background: url("../images/dot_on.png") no-repeat scroll;
}
#glume .Limg li.bg_1 {
	background: #393939 url(../images/banner1.png) top center no-repeat;
}
#glume .Limg li.bg_2 {
	background: #393939 url(../images/banner2.png) top center no-repeat;
}
/**预订盒子**/
/*#banner .box{position: absolute;z-index:2;width:1960px;width:500px; height:270px;left:-80px;top:25px;background:#ffffff;}*/
#banner .box {
	overflow: visible;
	left: 50%;
	width: 500px;
	height: 270px;
	margin-top: 20px;
	margin-left: -590px;
	position: absolute;
	top: 0;
	background: #ffffff;
	z-index: 10;
	box-shadow: 0px 0px 10px #666666;
}
#banner .box .tit {
	height: 44px;
	line-height: 44px;
	text-indent: 34px;
	font-size: 16px;
	border-bottom: 1px solid #dddddd;
}
#banner .box .form {
	margin: 10px;
}
#banner .box .form td {
	height: 40px;
}
#banner .box .form .form-item {
	width: 190px;
	height: 32px;
	border: 1px solid #dddddd;
}
#banner .box .form .form-item .form-text {
	border: 0px;
	height: 24px;
	line-height: 24px;
	padding: 4px 3px;
	text-indent: 5px;
	width: 154px;
	cursor: pointer;
}
#banner .box .form .form-item .form-text-180 {
	border: 0px;
	height: 24px;
	line-height: 24px;
	padding: 4px 3px;
	text-indent: 5px;
	width: 144px;
	cursor: pointer;
}
#banner .box .form .form-item img {
	width: 20px;
	height: 20px;
}
#banner .box .form .form-item .lst {
	display: none;
	position: relative;
	width: 100%;
	margin-left: -1px;
	border: 1px solid #dddddd;
	overflow: visible;
	overflow-y: scroll;
	max-height: 300px;
}
#banner .box .form .form-item .lst a {
	display: block;
	cursor: pointer;
	height: 32px;
	line-height: 32px;
	text-indent: 10px;
	background: #ffffff;
	margin: 0px;
}
#banner .box .form .form-item .lst a:hover {
	background: #333333;
	color: #ffffff;
}
/******  box  ******/
.box_title{
	width:200px;
	height:30px;
	margin:20px 30px 0;
}
.box_title h1{
	font-size:18px;
	font-weight:100;
	color:#ec4411;
}
.login_input{
	width:325px;
	height:45px;
	margin:0 auto;
	border: solid 1px #c3dee8;
	margin-top:20px;
	+margin-top:5px;
	background:#FFF;
}
.login-notop{
	margin-top:0px ;
}
.login-layer-info{
	width:300px;
	height:20px;
	float:right;
	text-align:right;
	margin-top:3px;
}
.login-layer-info p{
	color:#ec4411;
	padding-right:30px;
}
.login-layer-info p a{
	color:#555858;
}
.login_input input{
	width:320px;
	height:45px;
	font-size:16px;
	padding-left:5px;
	border:none;
	+padding:0px;
	+padding-top:10px; /* ie7 */
	+height:35px;
	padding-top:10px\0; /* ie8-9 */
	height:35px\0;
	background:none;
}

#tel:focus,#password:focus{
    outline:none;
}
.btn{
	width:325px;
	height:48px;
	margin:0 auto;
	background:#ec4411;
	margin-top:20px;	
	border:solid 1px #f06941;
}

.btn p{
	font-size:18px;
	text-align:center;	
	letter-spacing:3px;
	color:#FFF;
	line-height:250%;
}
.login_input p{
	text-align:center;	
	font-size:15px;
	padding-top:15px;
}
.login_input p span a{
	font-size:15px;
	color:#ec4411;
}
.icon-hover{
	width:202px;
	height:64px;
	background:url(../images/section_img22.png) no-repeat;
	position: absolute;
	left:-30px;
	top:-52px;
}
.icon-hover p{
	color:#f94200;
	text-align:center;
	font-size:18px;
	padding-top:12px;
}
.icon-hover-weixin{
	width:204px;
	height:200px;
	background:url(../images/section_img23.png) no-repeat;
	position: absolute;
	left: 350px;
	top: -78px;
	z-index:222;
}
.icon-hover-weixin img{
	margin:15px 20px 0px;
}

.nav_line{
	width:100%;
	height:2px;
	background:url(../images/navlinebg.png) repeat;
}
.table-hide{
	display:none;
}








