.one_content{
	width:900px;
	height:500px;
	position:absolute;
}
.upward_img1{
	width:104px;
	height:104px;
	margin:0 auto;
}
.upward_img2{
	width:557px;
	height:74px;
	margin:0 auto;
	margin-top:30px;
}
.download_bg{
	width:550px;
	height:70px;
	margin:0 auto;
	margin-top:30px;
}
.iphone_down{
	width:244px;
	height:65px;
	background:url(../images/section_img3.png) no-repeat;
	float:left;		
	text-align:center;
}
.iphone_down a{
	font-size:26px;
	color:#FFF;
	line-height:250%;
}
.anzhuo_down{
	width:246px;
	height:67px;
	background:url(../images/section_img4.png) no-repeat;
	float:right;	
	text-align:center;
}
.anzhuo_down a{	
	color:#fd6800;
	font-size:24px;	
	line-height:250%;
}
.one_bottom{
	width:650px;
	height:47px;
	margin:0 auto;
	margin-top:60px;
}
.Mobileservice{
	width:140px;
	height:42px;
	float:left;
	background:url(../images/section_img5.png) no-repeat;
}
.Mobileservice p a{
	color:#535454;
	line-height:170%;
}
.trendservice{
	width:160px;
	height:42px;
	float:left;
	background:url(../images/section_img6.png) no-repeat;
}
.trendservice p a{
	color:#535454;
	line-height:170%;
}
.helpservice{
	width:160px;
	height:42px;
	float:left;
	background:url(../images/section_img7.png) no-repeat;
}
.one_bottom p{
	text-align:right;
}
.helpservice p a{
	color:#535454;
	line-height:170%;
}
.one_division{
	width:1px;
	height:40px;
	background:url(../images/one_division.png) no-repeat;
	float:left;
	margin:0px 47px 0px;
}
.two_bg{
	width:800px;
	position:absolute;
}
.iPhone_img{
	width:35%;
	height:732px;
	float:left;
}
.two_right{
	width:60%;
	height:732px;
	float:right;
}
.two_title{
	width:100%;
	text-align:center;
}
.two_title h1{
	font-size:42px;
	color:#7d3600;
	font-weight:100;
	line-height:180%;
	letter-spacing:6px;
}
.two_title p{
	font-size:12px;
	color:#b5b0a9;
}
.two_list{
	width:100%;
	margin-top:20px;
}
.two_list ul li img{
	width:110px;
	height:110px;
}
.two_list ul li{
	width:40%;
	float:left;
	margin-left:10%;
	margin-top:5%;
}
.two_list ul li p{
	width:60%;
	text-align:center;
	line-height:260%;
}
.two_list ul li p a{
	font-size:24px;
	color:#868686;
	font-weight:100;	
	letter-spacing:3px;
}
.Three{
	width:1024px;
	height:570px;
	position:absolute;
}
.Three_title{
	width:100%;
}
.Three_title h1{
	text-align:center;
	font-size:40px;
	color:#7d3600;
	font-weight:100;
	line-height:150%;
	letter-spacing:6px;
}

.Three_title p{
	text-align:center;
	font-size:12px;
	color:#868686;
	font-weight:100;	
	letter-spacing:3px;
}
.Three_list{
	width:100%;
	margin-top:8%;
}
.Three_list ul li{
	width:25%;
	float:left;
	text-align:center;
}
.Three_list ul li img{
	width:200px;
	height:231px;
	text-align:center;
}
.Three_list ul li p{
	font-weight:normal;
}
.Three_list ul li p a{
	font-weight:normal;
	font-size:24px;
	color:#868686;	
	line-height:180%;
}
.Three_list ul li span{
	color:#c4bfb8;
	font-size:12px;
}
.Four{
	width:100%;
	position:absolute;
}
.Four_title{
	width:100%;
	margin-top:2%;
}
.Four_title h1{
	text-align:center;
	font-size:40px;
	color:#7d3600;
	font-weight:100;
	line-height:180%;
	letter-spacing:6px;
}
.Four_title p{
	text-align:center;
	font-size:12px;
	color:#868686;
	font-weight:100;	
	letter-spacing:3px;
}
.Four_list{
	width:900px;
	height:509px;
	background:url(../images/section_img18.png) no-repeat;
	background-size:cover;
	background-size：contain;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	margin:0 auto;
	margin-top:1%;
}
.onelinelist{
	width:740px;
	height:45px;
	margin:0 auto;
	padding-top:32px;
}
.Four_list span{
	float:right;
}
.Four_list span a{
	font-size:22px;
	color:#656565;
}
.Four_list p{
	float:left;
	text-align:left;
}
.Four_list p a{	
	font-size:22px;
	color:#656565;
}
.twolinelist{
	width:830px;
	height:45px;
	margin:0 auto;
	padding-top:108px;
}
.thrlinelist{
	width:750px;
	height:45px;
	margin:0 auto;
	padding-top:125px;
}
.thrlinelist p{
	padding-top:20px;
}
.twolinelist span{
	padding-top:10px;
}
.Five{
	width:100%;
	position:absolute;
}
.Five_title{
	width:100%;
}
.Five_title h1{
	text-align:center;
	font-size:48px;
	color:#a03f00;
	font-weight:100;
	line-height:180%;
	letter-spacing:6px;
}
.Five_title h1 span{
	text-align:center;
	font-size:60px;
	color:#bebebe;
	font-weight:100;
	line-height:180%;
	letter-spacing:6px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.Five_down{
	width:530px;
	height:75px;
	margin:0 auto;
}
.Five_android{
	width:250px;
	height:60px;
	float:left;
	background:url(../images/section_img19.png) no-repeat;	
	background-size:cover;
	background-size: 100% 100%
	-moz-background-size:cover;
	-webkit-background-size:cover;	
}
.Five_android a{
	font-size:22px;
	font-weight:100;
	color:#FFF;	
	line-height:250%;
	padding-left:20px;
}
.Five_iphone{
	width:250px;
	height:60px;
	float:right;
	background:url(../images/section_img20.png) no-repeat;	
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
}
.Five_iphone a{
	font-size:22px;
	font-weight:100;
	color:#FFF;	
	line-height:250%;
	padding-left:20px;
}
.Fivecode{
	width:191px;
	height:187px;
	margin:0 auto;
	margin-top:20px;
}
