.page-header {
    color: #fff;
    text-align: center;
    background-size: 600% 600%;
    animation: bg-generator 10s ease infinite;
    -webkit-animation: bg-generator 50s ease infinite;
    transition: -webkit-filter 0.2s ease, background-image 0.2s ease;
    background-image: linear-gradient(223deg, #155799, #E48BA4, #00B4B4, #159957);
    background-color: #1c81df;
    position: relative;
    z-index: 1;
}

.page-demo {
    background-image: linear-gradient(120deg, #155799, #159957);
}

@media screen and (min-width: 64em) {
    .page-header {
        padding: 5rem 6rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
        padding: 3rem 4rem;
    }
}

@media screen and (max-width: 42em) {
    .page-header {
        padding: 2rem 1rem;
    }
}

.project-name {
    margin-top: 0;
    margin-bottom: 0.1rem;
}

@media screen and (min-width: 64em) {
    .project-name {
        font-size: 3.25rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-name {
        font-size: 2.25rem;
    }
}

@media screen and (max-width: 42em) {
    .project-name {
        font-size: 1.75rem;
    }
}

.project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7;
}

@media screen and (min-width: 64em) {
    .project-tagline {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-tagline {
        font-size: 1.15rem;
    }
}

@media screen and (max-width: 42em) {
    .project-tagline {
        font-size: 1rem;
    }
}

@keyframes bg-generator {
    0% {
        background-position: 0% 84%
    }
    50% {
        background-position: 100% 17%
    }
    100% {
        background-position: 0% 84%
    }
}

@-webkit-keyframes bg-generator {
    0% {
        background-position: 0% 84%
    }
    50% {
        background-position: 100% 17%
    }
    100% {
        background-position: 0% 84%
    }
}