@media print {
    hr {
        display: none
    }
    h2 {
        margin-top: 1rem
    }
    .page-header {
        display: none
    }
    .main-content {
        font-size: 0.9rem;
    }
}

@page {
    size: A4 portrait;
}