<nav class="navbar y-navbar-info navbar-fixed-top y-bgcfff">
    <div class="container y-pt20">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-main">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
        </button>
            <a class="navbar-brand y-nav-logo" href="###">
                <img src="../../components/nav/logo-blue.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="nav-main">
            <link rel="import" href="../../components/nav/nav.html?__inline">
        </div>
    </div>
</nav>