.fw-font-customer1 {
	font-size: 45px;
	color: #d9524e;
}

.fw-font-customer2 {
	font-size: 24px;
	font-family: "微软雅黑";
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #d9524e;
    border-color: #d9524e;
}