<div class="y-bg-fff y-pt60">
	<div class="container">
		<form action="" class="form-horizontal">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="" class="col-sm-3 control-label">开户名</label>
						<div class="col-sm-8">
							<h5>kyle</h5>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="" class="col-sm-3 control-label">账户类型</label>
						<div class="col-sm-8">
							<label for="" class="radio-inline">
								<input type="radio" name="merchantClass" id="" value="" checked="">&nbsp;个人
							</label>
							<label for="" class="radio-inline">
								<input type="radio" name="merchantClass" id="" value="">&nbsp;企业
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="" class="col-sm-3 control-label">开户帐号</label>
						<div class="col-sm-8">
							<input class="form-control" type="text" name="" id="" value="" placeholder="请输入开户帐号...">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="" class="col-sm-3 control-label">开户银行</label>
						<div class="col-sm-8">
							<select class="form-control">
								<option value="">请选择开户银行</option>
								<option value="">工商银行</option>
								<option value="">建设银行</option>
								<option value="">中国银行</option>
								<option value="">农业银行</option>
						    </select>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="" class="col-sm-3 control-label">开户行所在地</label>
						<div class="col-sm-5">
							<select class="form-control" name="">
						       <option value="">请选择开户行所在地</option>
					        </select>
						</div>
						<div class="col-sm-3">
							<select class="form-control" name="">
				       	       <option value="">浙江省</option>
					        </select>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="" class="col-sm-3 control-label">分支行</label>
						<div class="col-sm-8">
							<input class="form-control" type="text" name="" id="" value="" placeholder="请输入分支行">
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="" class="col-sm-3 control-label">联系人姓名</label>
						<div class="col-sm-8">
							<h5>青木</h5>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="" class="col-sm-3 control-label">支付宝帐号</label>
						<div class="col-sm-8">
							<input class="form-control" type="text" name="" id="" value="" placeholder="请输入电话...">
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="y-mt40 y-pb60 text-sm-center">
		<button type="button " class="btn y-btn-blue">提交审核</button>
	</div>
</div>