:global .eruda-container .eruda-entry-btn
{
   display: none !important;
}

:global .eruda-container
{
  top: 44px !important;
  height: auto !important;
  bottom: 50px !important;
}

:global .eruda-dev-tools{
  height: 100% !important;
}
