:global #__vconsole.vc-toggle .vc-mask,
:global #__vconsole .vc-mask,
:global #__vconsole .vc-switch
{
   display: none !important;
}

:global #__vconsole .vc-panel{
  top: 44px;
}

:global #__vconsole.vc-toggle .vc-panel{
  bottom: 50px;
}
