body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:51px;
  width:1180px;
  height:58px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:58px;
}
#u1 {
  position:absolute;
  left:2px;
  top:21px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:98px;
  top:72px;
  width:64px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:210px;
  top:73px;
  width:328px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:1150px;
  top:72px;
  width:74px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:188px;
  top:229px;
  width:14px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:96px;
  top:136px;
  width:97px;
  height:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:80px;
  top:293px;
  width:1226px;
  height:135px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:107px;
  top:0px;
  width:107px;
  height:36px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:214px;
  top:0px;
  width:107px;
  height:36px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:321px;
  top:0px;
  width:106px;
  height:36px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:427px;
  top:0px;
  width:106px;
  height:36px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:533px;
  top:0px;
  width:106px;
  height:36px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:639px;
  top:0px;
  width:106px;
  height:36px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:745px;
  top:0px;
  width:106px;
  height:36px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:851px;
  top:0px;
  width:106px;
  height:36px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:957px;
  top:0px;
  width:128px;
  height:36px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:1085px;
  top:0px;
  width:136px;
  height:36px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:36px;
  width:107px;
  height:52px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:52px;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:107px;
  top:36px;
  width:107px;
  height:52px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:52px;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:214px;
  top:36px;
  width:107px;
  height:52px;
  color:#000000;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:52px;
}
#u40 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:321px;
  top:36px;
  width:106px;
  height:52px;
  color:#000000;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:52px;
}
#u42 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:427px;
  top:36px;
  width:106px;
  height:52px;
  color:#000000;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:52px;
}
#u44 {
  position:absolute;
  left:2px;
  top:18px;
  width:102px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:533px;
  top:36px;
  width:106px;
  height:52px;
  color:#000000;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:52px;
}
#u46 {
  position:absolute;
  left:2px;
  top:18px;
  width:102px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:639px;
  top:36px;
  width:106px;
  height:52px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:52px;
}
#u48 {
  position:absolute;
  left:2px;
  top:18px;
  width:102px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:745px;
  top:36px;
  width:106px;
  height:52px;
  color:#000000;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:52px;
}
#u50 {
  position:absolute;
  left:2px;
  top:18px;
  width:102px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:851px;
  top:36px;
  width:106px;
  height:52px;
  color:#000000;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:52px;
}
#u52 {
  position:absolute;
  left:2px;
  top:18px;
  width:102px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:957px;
  top:36px;
  width:128px;
  height:52px;
  color:#000000;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:52px;
}
#u54 {
  position:absolute;
  left:2px;
  top:18px;
  width:124px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:1085px;
  top:36px;
  width:136px;
  height:52px;
  color:#0000FF;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:52px;
}
#u56 {
  position:absolute;
  left:2px;
  top:18px;
  width:132px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:88px;
  width:107px;
  height:42px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:42px;
}
#u58 {
  position:absolute;
  left:2px;
  top:5px;
  width:103px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:107px;
  top:88px;
  width:107px;
  height:42px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:42px;
}
#u60 {
  position:absolute;
  left:2px;
  top:13px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:214px;
  top:88px;
  width:107px;
  height:42px;
  color:#000000;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:42px;
}
#u62 {
  position:absolute;
  left:2px;
  top:13px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:321px;
  top:88px;
  width:106px;
  height:42px;
  color:#000000;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
}
#u64 {
  position:absolute;
  left:2px;
  top:5px;
  width:102px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:427px;
  top:88px;
  width:106px;
  height:42px;
  color:#000000;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
}
#u66 {
  position:absolute;
  left:2px;
  top:13px;
  width:102px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:533px;
  top:88px;
  width:106px;
  height:42px;
  color:#000000;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
}
#u68 {
  position:absolute;
  left:2px;
  top:13px;
  width:102px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:639px;
  top:88px;
  width:106px;
  height:42px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
}
#u70 {
  position:absolute;
  left:2px;
  top:13px;
  width:102px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:745px;
  top:88px;
  width:106px;
  height:42px;
  color:#000000;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
}
#u72 {
  position:absolute;
  left:2px;
  top:13px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:851px;
  top:88px;
  width:106px;
  height:42px;
  color:#000000;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
}
#u74 {
  position:absolute;
  left:2px;
  top:13px;
  width:102px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:957px;
  top:88px;
  width:128px;
  height:42px;
  color:#000000;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:42px;
}
#u76 {
  position:absolute;
  left:2px;
  top:13px;
  width:124px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:1085px;
  top:88px;
  width:136px;
  height:42px;
  color:#0000FF;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:42px;
}
#u78 {
  position:absolute;
  left:2px;
  top:13px;
  width:132px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:96px;
  top:209px;
  width:66px;
  height:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:172px;
  top:204px;
  width:116px;
  height:25px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u82 {
  position:absolute;
  left:318px;
  top:204px;
  width:116px;
  height:25px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u83 {
  position:absolute;
  left:303px;
  top:208px;
  width:5px;
  height:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:562px;
  top:228px;
  width:14px;
  height:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:470px;
  top:208px;
  width:79px;
  height:16px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:546px;
  top:203px;
  width:142px;
  height:25px;
}
#u89_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u90 {
  position:absolute;
  left:822px;
  top:228px;
  width:14px;
  height:16px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:730px;
  top:208px;
  width:79px;
  height:16px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:806px;
  top:203px;
  width:142px;
  height:25px;
}
#u94_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u95 {
  position:absolute;
  left:1082px;
  top:224px;
  width:14px;
  height:16px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:990px;
  top:204px;
  width:92px;
  height:16px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:1086px;
  top:199px;
  width:142px;
  height:25px;
}
#u99_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u100 {
  position:absolute;
  left:120px;
  top:244px;
  width:40px;
  height:16px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:172px;
  top:242px;
  width:200px;
  height:22px;
}
#u102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u103 {
  position:absolute;
  left:388px;
  top:240px;
  width:80px;
  height:25px;
}
#u103_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u104 {
  position:absolute;
  left:440px;
  top:490px;
  width:391px;
  height:36px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:36px;
}
#u105 {
  position:absolute;
  left:2px;
  top:10px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:411px;
  top:640px;
  width:561px;
  height:130px;
  color:#FF0000;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:130px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:80px;
  top:170px;
  width:1170px;
  height:10px;
}
#u108_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u108_end {
  position:absolute;
  left:1153px;
  top:-5px;
  width:18px;
  height:20px;
}
#u108_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1170px;
  height:1px;
}
#u109 {
  position:absolute;
  left:229px;
  top:144px;
  width:140px;
  height:16px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:394px;
  top:140px;
  width:68px;
  height:25px;
}
#u111_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u112 {
  position:absolute;
  left:481px;
  top:140px;
  width:109px;
  height:25px;
}
#u112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u113 {
  position:absolute;
  left:407px;
  top:891px;
  width:268px;
  height:130px;
  color:#FF0000;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:130px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:1170px;
  top:140px;
  width:80px;
  height:25px;
}
#u115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u116 {
  position:absolute;
  left:40px;
  top:20px;
  width:1300px;
  height:1110px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:1110px;
}
#u117 {
  position:absolute;
  left:2px;
  top:547px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:344px;
  top:265px;
  width:694px;
  height:404px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:404px;
}
#u119 {
  position:absolute;
  left:2px;
  top:194px;
  width:690px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:360px;
  top:284px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:350px;
  top:318px;
  width:681px;
  height:10px;
}
#u122_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u122_end {
  position:absolute;
  left:664px;
  top:-5px;
  width:18px;
  height:20px;
}
#u122_line {
  position:absolute;
  left:0px;
  top:5px;
  width:681px;
  height:1px;
}
#u123 {
  position:absolute;
  left:990px;
  top:288px;
  width:27px;
  height:16px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:390px;
  top:354px;
  width:105px;
  height:192px;
  text-align:right;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:192px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:505px;
  top:365px;
  width:304px;
  height:25px;
}
#u127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u128 {
  position:absolute;
  left:505px;
  top:415px;
  width:304px;
  height:25px;
}
#u128_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u129 {
  position:absolute;
  left:505px;
  top:463px;
  width:304px;
  height:25px;
}
#u129_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u130 {
  position:absolute;
  left:506px;
  top:585px;
  width:100px;
  height:25px;
}
#u130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u131 {
  position:absolute;
  left:1090px;
  top:265px;
  width:240px;
  height:415px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:415px;
}
#u132 {
  position:absolute;
  left:2px;
  top:200px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:1108px;
  top:288px;
  width:202px;
  height:304px;
  color:#FF0000;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:304px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:505px;
  top:508px;
  width:304px;
  height:25px;
}
#u135_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u136 {
  position:absolute;
  left:829px;
  top:585px;
  width:202px;
  height:64px;
  color:#FF0000;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:64px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
