/*
 * 
 * 洋葱网络工作室提供技术支持（yhtml5.com）
 * 
 */


/*覆盖*/

.fw-font-center {
	text-align: center;
}

.fw-fs50 {
	font-size: 50px;
}

.fw-fr {
	text-align: right;
}

.fw-p1 {
	color: #7D83A0;
	font-size: 14px;
	/*font-weight: bold;*/
	font-family: "微软雅黑";
}

.fw-p2 {
	color: #df1111;
	font-size: 19px;
	margin-top: 10px;
}

.fw-p3 {
	font-size: 16px;
	color: #feed93;
	line-height: 24px;
	font-family: "微软雅黑";
}

.fw-p4 {
	color: #2AC845;
	font-size: 20px;
}

.fw-w5 {
	width: 50%;
	margin: auto;
}

.fw-w70 {
	width: 70%;
	margin: auto;
}

.fw-w80 {
	width: 80%;
	margin: auto;
}

.fw-w9 {
	width: 90%;
}

.fw-w100 {
	width: 100%;
}

.fw-fc6fc544 {
	color: #6fc544;
}

.fw-fcc74c3f {
	color: #c74c3f;
}

.fw-fc43c48f {
	color: #43c48f;
}

.fw-center {
	margin-left: auto;
	margin-right: auto;
}

.fw-l10 {
	left: 10%;
}

.fw-m0 {
	margin: 0;
}

.fw-m1 {
	margin: 5%;
}

.fw-mt0 {
	margin-top: 0px;
}

.fw-mt10 {
	margin-top: 10%
}

.fw-mt15 {
	margin-top: 15%
}

.fw-mt20 {
	margin-top: 20%
}

.fw-mt30 {
	margin-top: 30px;
}

.fw-mt31 {
	margin-top: 31%;
}

.fw-mt80 {
	margin-top: 80%;
}

.fw-mr10 {
	margin-right: 10%;
}

.fw-mb8 {
	margin-bottom: 8px;
}

.fw-mb1 {
	margin-bottom: 10%;
}

.fw-mp0 {
	margin: 0;
	padding: 0;
}

.fw-fc7d83a0 {
	color: #7d83a0;
}

.fw-bgca43307 {
	background-color: #a43307;
}

.fw-bgc8ec000 {
	background-color: #8ec000;
}

#fw-bgcd0d1d8 {
	background-color: #d0d1d8;
}

.fw-bgcd0d1d8 {
	background-color: #d0d1d8;
}

#fw-bgca43307 {
	background-color: #a43307;
}

#fw-bgc685c7a {
	background-color: #685c7a;
}

.fw-bgc191b22 {
	background-color: #191b22;
}

.fw-bgc69696c {
	background-color: #69696c;
}

.fw-bgcf5f5f5 {
	background-color: #f5f5f5;
}

.fw-bgcffffff {
	background-color: #ffffff;
}

.fw-wm1 {
	/*writing-mode: vertical-rl;
	writing-mode: tb-rl;
	-webkit-writing-mode:vertical-rl;*/
	writing-mode: tb-rl;
	/*-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o- transform: rotate(90deg);*/
}

.fw-dn {
	display: none;
}

.fw-dz3 {
	z-index: 3;
	display: none;
}

.fw-dz4 {
	z-index: 4;
	display: none;
}

.fw-dz6 {
	z-index: 6;
	display: none;
}

.fw-dz9 {
	z-index: 9;
	display: none;
}

.fw-ti {
	text-indent: 2em
}

.fw-pl1 {
	padding-left: 10%;
}

.fw-pr0 {
	padding-right: 0;
}

.fw-pr1 {
	padding-right: 10%;
}

.fw-share-div1 {
	width: 90%;
	margin: 0 auto;
	margin-top: 10%;
	background-color: #ffffff;
	border-radius: 15px;
}

.fw-share-div2 {
	width: 100%;
	margin: 0 auto;
}

.fw-share-div2 img {
	width: 100%;
}

.fw-share-div3 {
	margin: 20px 20px;
}

.fw-share-div3 img {
	width: 100%;
}

.fw-share-div4 {
	text-align: center;
	padding-bottom: 30px;
	padding-left: 10%;
	padding-right: 10%;
}

.fw-share-icon {
	position: absolute;
	z-index: 10;
	font-size: 30px;
	color: #ffffff;
	margin-left: 79%;
	margin-top: 2%;
}

.fw-popover {
	position: fixed;
	top: 20%;
	left: 15%;
	width: 70%;
	background-color: #ffffff;
	margin: auto;
	border-radius: 18px;
}


/*
 * card-template-total
 */

#fw-ctt-btn {
	border: 1px solid #ffd800;
	background-color: #ffd800;
	color: #df1111;
	border-radius: 18px;
	margin-top: 18px;
}

#fw-ctt-btn2 {
	border: 1px solid #8ec000;
	background-color: #8ec000;
	margin: 18px auto;
}

#fw-ctt-popover1 {
	display: none;
}

#fw-ctt-popover2 img {
	width: 70%;
}

.fw-ctt-h4 {
	padding-top: 30px;
	margin-bottom: 5px;
}

#fw-ctt-p1 {
	color: #ff6738;
	margin-bottom: 10px;
	/*text-align: left;*/
}

#fw-ctt-ul1 {
	margin-top: 0px;
}

#fw-ctt-li1 {
	/*background-color: #ffffff;*/
}

#fw-ctt-div1 {
	background-color: #ffffff;
}

#fw-ctt-div1 img {
	margin-top: 6px;
	width: 95%;
}


/*#fw-ctt-div2{
	margin-bottom: 20px;
}*/

#fw-ctt-div3 {
	text-align: left;
	padding-left: 10px;
}

.fw-ctt-bgcaf3708 {
	background-color: #af3708;
}


/*
 * card-history-list
 */

#fw-chl-ul1 {
	background-color: #af3708;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0px;
}

#fw-chl-li1 {
	background-color: #ffffff;
	margin: 10px 15px;
	padding-right: 0px;
}

#fw-chl-img1 {
	height: 50px;
}

#fw-chl-span1 {
	color: #ff6738;
}

#fw-chl-span2 {
	width: 30%;
	text-align: center;
}


/*
 * card1-edit
 */

#fw-c1e-content {
	padding: 10px 0;
	background-color: #a43307;
}

.fw-c1e-div1 {
	width: 90%;
	margin: 0 auto;
	background-color: #ffffff;
}

.fw-c1e-div2 {
	width: 95%;
	padding-top: 7px;
	padding-bottom: 2px;
	margin: 0 auto;
	position: inherit;
	z-index: -1;
}

.fw-c1e-div2 img {
	width: 100%;
}

.fw-c1e-div3 {
	position: absolute;
	z-index: 2;
	margin-right: 8%;
}

.fw-c1e-div3 div {
	font-size: 16px;
	color: #feed93;
	line-height: 24px;
	font-family: "微软雅黑";
}

.fw-c2e-div3 {
	position: absolute;
	z-index: 2;
	margin-right: 8%;
}

.fw-c2e-div3 div {
	font-size: 16px;
	color: #feed93;
	line-height: 24px;
	font-family: "微软雅黑";
}

.fw-c2e-share-div1 {
	margin-top: 10%;
	color: #FFFFFF;
}

.fw-c2e-icon-paperplane {
	font-size: 50px;
	padding-left: 40%;
	padding-bottom: 10%;
	color: #4CD964;
}

#fw-c1e-div4 {
	text-indent: 2em;
	word-break: break-word;
}

#fw-c1e-div5 {
	margin-bottom: -20px;
}

#fw-c1e-btn1 {
	border: 1px solid #ffd800;
	background-color: #ffd800;
	color: #df1111;
	border-radius: 18px;
	margin: 10px;
}

#fw-c1e-btn2 {
	position: absolute;
	z-index: 2;
	width: 30%;
	margin-left: 8%;
}

#fw-c1e-btn2 img {
	width: 100%;
}

.fw-c1e-btn2 {
	position: absolute;
	z-index: 2;
	width: 30%;
	margin-left: 8%;
}

.fw-c1e-btn2 img {
	width: 100%;
}

.fw-c2e-btn2 {
	position: absolute;
	z-index: 2;
	width: 30%;
	margin-left: 42%;
	margin-top: 62%;
}

.fw-c2e-btn2 img {
	width: 100%;
}

#fw-c1e-btn5 {
	border: 1px solid #8ec000;
	/*background-color: #8ec000;*/
	margin: 18px 10px;
	color: #8ec000;
}

#fw-c1e-btn6 {
	border: 1px solid #8ec000;
	background-color: #8ec000;
	margin: 18px 10px;
}

#fw-c1e-popover1 {
	position: fixed;
	z-index: 3;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
}

#fw-c1e-popover2 {
	display: none;
}

#fw-c1e-popover3 {
	position: fixed;
	z-index: 6;
	top: 20%;
	left: 15%;
	width: 70%;
	background-color: #ffffff;
	margin: auto;
	border-radius: 18px;
}

#fw-c1e-popover4 {
	z-index: 9;
	display: none;
}

#fw-c1e-num1 {
	font-size: 12px;
}

#fw-c1e-num2 {
	color: #ff0000;
}

#fw-c1e-share-div1 {
	width: 90%;
	margin: 0 auto;
	margin-top: 10%;
	background-color: #ffffff;
	border-radius: 15px;
}

#fw-c1e-share-div2 {
	width: 100%;
	margin: 0 auto;
}

#fw-c1e-share-div2 img {
	width: 100%;
}

#fw-c1e-share-div3 {
	margin: 20px 20px;
}

#fw-c1e-share-div3 img {
	width: 100%;
}

#fw-c1e-share-div4 {
	text-align: center;
	padding-bottom: 30px;
	padding-left: 10%;
	padding-right: 10%;
}

#fw-c1e-icon-close {
	position: absolute;
	z-index: 10;
	font-size: 30px;
	color: #ffffff;
	margin-left: 79%;
	margin-top: 2%;
}


/*
 * sidebar-about-us
 */

#fw-sau-div1 {
	width: 50%;
	background: #8ec000;
	margin: 0 auto;
	padding: 6%
}

#fw-sau-div1 img {
	width: 100%;
}

#fw-sau-div2 {
	text-align: center;
}

#fw-sau-div2 p {
	color: #7D83A0;
	font-size: 14px;
	line-height: 16px;
	/*font-weight: bold;*/
	font-family: "微软雅黑";
}

#fw-sau-h1 {
	color: #7D83A0;
	font-size: 20px;
	margin: 20px auto;
}

#fw-sau-h2 {
	color: #ACAFBF;
	font-size: 14px;
	margin-top: 50px;
	margin-bottom: 10px;
}


/*
 * sidebar-my-money
 */

.fw-smm-div1 {
	position: relative;
	z-index: 2;
	margin-top: -65%;
	margin-bottom: 65%;
	color: #ff8a00;
	font-size: 30px;
}

.fw-smm-div1 h1 {
	font-size: 60px;
}

#fw-smm-div2 {
	width: 80%;
	margin: 0 auto;
	padding-top: 5%;
}

.fw-smm-p {
	font-size: 17px;
	font-family: "微软雅黑";
	padding-bottom: 50px;
	margin-top: -20%;
}


/*
 * sidebar-my-group
 */

#fw-smg-body {
	background-color: #D0D2D9;
}

.fw-smg-count {
	padding-left: 2%;
	padding-right: 2%;
}

#fw-smg-div1 {
	width: 50%;
	margin: 0 auto;
	padding: 6%
}

#fw-smg-div1 img {
	width: 100%;
}


/*.fw-smg-div2 {
	background-color: #D0D2D9;
}*/

#fw-smg-btn1 {
	border: 1px solid #8ec000;
	background-color: #8ec000;
	margin-top: 30px;
	width: 100%;
}

#fw-smg-btn2 {
	border: 1px solid #8ec000;
	background-color: #8ec000;
	margin-top: 20px;
	margin-bottom: 40px;
	width: 100%;
}

.fw-smg-h1 {
	font-size: 17px;
	font-family: "微软雅黑";
}

#fw-smg-h2 {
	color: #343746;
	font-size: 22px;
	margin-top: 40px;
	margin-bottom: 40px;
	font-family: "微软雅黑";
}

.fw-smg-div3 {}

.fw-smg-div3 img {
	width: 100%;
}

.fw-smg-div4 {
	position: relative;
	z-index: 2;
	margin-top: -115%;
	padding-bottom: 100%;
	color: #dd1d17;
	font-size: 30px;
}

#fw-smg-icon-info {
	position: absolute;
	z-index: 3;
	font-size: 30px;
	color: #ffffff;
	/*background-color: #ffffff;*/
	margin-left: 80%;
	margin-top: 5%;
}

#fw-smg-popover2 {
	position: fixed;
	top: 20%;
	left: 15%;
	width: 70%;
	background-color: #ffffff;
	margin: auto;
	border-radius: 10px;
	padding-left: 3%;
	padding-right: 3%;
}

.fw-smg-p2 {
	margin-top: 8%;
	margin-bottom: 6%;
}

.fw-smg-h4 {
	padding-top: 5%;
}


/*
 * weixin-down
 */


/*
 * weixin-share-success
 */

.fw-wss-QR-code img {
	width: 100%;
}

#fw-wss-div1 {
	margin-top: 5%;
	padding-bottom: 30px;
	padding-left: 10%;
	padding-right: 10%;
}


/*
 * weixin-my-friend
 */

#fw-smf-ul1 {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0px;
}

#fw-smf-li1 {
	padding-right: 0px;
	padding-top: 32px;
}

.fw-smf-span2 {
	color: #ff6738;
	text-align: center;
}

.fw-smf-img1 {
	margin-top: -32px;
	position: absolute;
}

.fw-smf-img2 {
	border-radius: 50%;
	width: 42px;
}

.fw-smfn-btn1 {
	border: 1px solid #8ec000;
	background-color: #8ec000;
	margin: 18px auto;
	border-radius: 20px;
}


/*
 * card2-edit-preview
 */

#fw-c2ep-btn1 {
	border: 1px solid #ffd800;
	color: #ffd800;
	border-radius: 18px;
	margin: 10px;
}

#fw-c2ep-btn2 {
	border: 1px solid #fe0000;
	background-color: #fe0000;
	/*color: #df1111;*/
	border-radius: 18px;
	margin: 10px;
}

.fw-bgc8797cd {
	background-color: #8797cd;
}

#fw-c2ep-content {
	padding: 10px 0;
	background-color: #323554;
}


/*
 * card-open
 */

.fw-co-body {
	width: 100%;
}

.fw-co-bg {
	position: absolute;
	z-index: 1;
}

.fw-co-bg-img1 {
	width: 100%;
}

.fw-co-bg-img2 {
	width: 100%;
}

.fw-co-img1 {
	width: 30%;
	margin-top: 40%;
	margin-bottom: 10%;
}

.fw-co-img2 {}

.fw-co-img2 {
	width: 70%;
	margin-top: 56%;
}

.fw-co-img3 {
	width: 60%;
	margin-top: 60%;
}

.fw-co-content {
	position: absolute;
	z-index: 3;
	width: 100%;
	text-align: center;
	margin-top: 20%;
}

.fw-co-content2 {
	position: absolute;
	z-index: 4;
	width: 100%;
	text-align: center
}

.fw-co-content3 {
	position: absolute;
	z-index: 9;
	width: 100%;
	text-align: center
}

.fw-co-content4 {
	position: absolute;
	z-index: 2;
	width: 100%;
	text-align: center
}

.fw-co-content5 {
	position: absolute;
	z-index: 2;
	width: 100%;
	text-align: center
}

.fw-co-content6 {
	position: absolute;
	z-index: 10;
	width: 100%;
	text-align: center
}

.fw-co-img6 {
	width: 100%;
	margin-top: -10%;
	display: none;
}

.fw-co-content7 {
	position: absolute;
	z-index: 3;
	width: 100%;
	text-align: center
}

.fw-co-content12 {
	position: absolute;
	z-index: 999;
	width: 100%;
	height: 100%;
	display: none;
	background: #000000;
	opacity: 0.7
}

.fw-co-img7 {
	width: 50%;
	display: none;
}

.fw-co-p1 {
	font-size: 32px;
	font-size: 5vw;
	color: #FFFFFF;
	font-family: "微软雅黑";
}

.fw-co-p2 {
	color: #ffdc09;
	margin: 0 2%;
}