<nav class="navbar y-navbar-info navbar-fixed-top" ng-controller="yhtml5.nav">
	<div class="container-fluid">
		<div class="row">
			<div class="navbar-header col-sm-3">
				<a class="navbar-brand y-header-logo" href="#" onclick="javascript:return false;"  ui-sref="dashboard">
					<img src="../../components/nav/logo-sdk.png?__inline">
				</a>
			</div>
			<div class="col-sm-6">
				<h2 class="text-xs-center">实名认证</h2>
			</div>
			<div class="col-sm-3">
				<a class="navbar-brand navbar-right y-header-close y-mt15" href="#" onclick="javascript:return false;" ng-click="toggle()">
					<i class="iconfont">&#xe608;</i>
				</a>
			</div>
		</div>
		<link rel="import" href="../../components/userPanel/userPanel.html?__inline">
	</div>
	<!-- container-fluid -->
</nav>