body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:51px;
  width:1180px;
  height:58px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:58px;
}
#u1 {
  position:absolute;
  left:2px;
  top:21px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:98px;
  top:72px;
  width:64px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:210px;
  top:73px;
  width:328px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:1150px;
  top:72px;
  width:74px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:190px;
  top:210px;
  width:14px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:96px;
  top:136px;
  width:145px;
  height:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:135px;
  top:244px;
  width:157px;
  height:191px;
  text-align:right;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:191px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:309px;
  top:240px;
  width:321px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:309px;
  top:510px;
  width:100px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u16 {
  position:absolute;
  left:309px;
  top:474px;
  width:100px;
  height:16px;
}
#u17 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u16_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18 {
  position:absolute;
  left:310px;
  top:373px;
  width:320px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:310px;
  top:418px;
  width:110px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20 {
  position:absolute;
  left:484px;
  top:718px;
  width:353px;
  height:16px;
  color:#FF0000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  visibility:hidden;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:877px;
  top:446px;
  width:313px;
  height:144px;
  color:#FF0000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:144px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:309px;
  top:295px;
  width:111px;
  height:39px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:39px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u25 {
  position:absolute;
  left:470px;
  top:306px;
  width:170px;
  height:16px;
  color:#0000FF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:654px;
  top:378px;
  width:157px;
  height:16px;
  color:#0000FF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:870px;
  top:287px;
  width:111px;
  height:39px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:39px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u30 {
  position:absolute;
  left:1007px;
  top:299px;
  width:105px;
  height:16px;
  color:#0000FF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:1160px;
  top:298px;
  width:170px;
  height:16px;
  color:#0000FF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:420px;
  top:510px;
  width:100px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
