<div id="dashboard" class="dashboard">
  <div class="btn-group">
    <button class="btn btn-primary" type="button" id="dashboardStart">重新开始</button>
  </div>
  <div class="btn-group">
    <button class="btn btn-primary" type="button" id="">悔棋</button>
    <button class="btn btn-primary" type="button" id="">认输</button>
    <button class="btn btn-primary" type="button" id="">难度</button>
  </div>
  <div class="btn-group">
    <button class="btn btn-primary" type="button" id="">开房</button>
    <button class="btn btn-primary" type="button" id="">积分</button>
    <button class="btn btn-primary" type="button" id="">历史</button>
  </div>
</div>
