<div class="dashboard">
  <div class="btn-group">
    <button class="btn btn-primary" type="button" id="dashboardModel">模式</button>
    <button class="btn btn-primary" type="button" id="dashboardStart">开始</button>
    <button class="btn btn-primary" type="button" id="dashboardGiveup">认输</button>
  </div>
  <div class="btn-group">
    <button class="btn btn-primary" type="button" id="dashboardHistory">历史</button>
    <button class="btn btn-primary" type="button" id="dashboardUndo">悔棋</button>
    <button class="btn btn-primary" type="button" id="dashboardRedo">重复</button>
  </div>
  <!-- <div class="btn-group">
    <button class="btn btn-primary" type="button" id="dashboardBig">放大</button>
    <button class="btn btn-primary" type="button" id="dashboardSmall">缩小</button>
    <button class="btn btn-primary" type="button" id="dashboardOther">其它</button>
  </div> -->
</div>