body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1419px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:200px;
  top:200px;
  width:1219px;
  height:890px;
  opacity:0.3;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:890px;
}
#u1 {
  position:absolute;
  left:2px;
  top:437px;
  width:1215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:200px;
  top:300px;
  width:1219px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1202px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1219px;
  height:1px;
}
#u3 {
  position:absolute;
  left:235px;
  top:220px;
  width:125px;
  height:70px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:70px;
}
#u4 {
  position:absolute;
  left:2px;
  top:27px;
  width:121px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:1350px;
  top:230px;
  width:50px;
  height:50px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:410px;
  top:547px;
  width:320px;
  height:180px;
  font-size:36px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:180px;
}
#u8 {
  position:absolute;
  left:2px;
  top:69px;
  width:316px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:960px;
  top:547px;
  width:320px;
  height:180px;
  font-size:36px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:180px;
}
#u10 {
  position:absolute;
  left:2px;
  top:69px;
  width:316px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1219px;
  top:300px;
}
#u11_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u11_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:205px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:205px;
}
#u13 {
  position:absolute;
  left:2px;
  top:94px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:12px;
  top:26px;
  width:174px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:41px;
  top:73px;
  width:120px;
  height:30px;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:75px;
  top:128px;
  width:50px;
  height:50px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
