/*=========================================================================================
 * Author:Kyle|张大漾
 * Author Website:http://yhtml5.com
 * Author Gihub:https://github.com/yhtml5
 * Description: A Website disgned by boostrap and Jquery.Do something awesome and have fun !
 *==========================================================================================*/


/* ali-font-icon
 * ============== */

@font-face {
	font-family: "iconfont";
	src: url('iconfont.eot');
	/* IE9*/
	src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('iconfont.woff') format('woff'), /* chrome, firefox */
	url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('iconfont.svg#iconfont') format('svg');
	/* iOS 4.1- */
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}


/* Expand bootstrap style
 * ====================== */

.y-navbar-info {}

.y-navbar-info .navbar-nav > li > a {
	color: #333;
	border-radius: 6px;
	font-size: 16px;
}

.y-navbar-info .navbar-nav > li > a:hover,
.y-navbar-info .navbar-nav > li > a:focus {
	color: #099fdd;
	background-color: transparent;
}

.y-navbar-info .navbar-nav > .active > a,
.y-navbar-info .navbar-nav > .active > a:hover,
.y-navbar-info .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: #099fdd;
}

.y-navbar-info .navbar-toggle {
	border-color: #099fdd;
}

.y-navbar-info .navbar-toggle:hover,
.y-navbar-info .navbar-toggle:focus {
	background-color: #f9f9f9;
}

.y-navbar-info .navbar-toggle .icon-bar {
	background-color: #099fdd;
}

.y-navbar-info .navbar-collapse,
.y-navbar-info .navbar-form {
	border-color: #e7e7e7;
}

.y-btn-blue {
  color: #fff;
  background-color: #099fdd;
  border-color: #46b8da;
}
.y-btn-blue:focus,
.y-btn-blue.focus {
  color: #fff;
  background-color: #0996d2;
  border-color: #1b6d85;
}
.y-btn-blue:hover {
  color: #fff;
  background-color: #0996d2;
  border-color: #269abc;
}
.y-btn-blue:active,
.y-btn-blue.active,
.open > .dropdown-toggle.y-btn-blue {
  color: #fff;
  background-color: #0996d2;
  border-color: #269abc;
}
.y-btn-blue:active:hover,
.y-btn-blue.active:hover,
.open > .dropdown-toggle.y-btn-blue:hover,
.y-btn-blue:active:focus,
.y-btn-blue.active:focus,
.open > .dropdown-toggle.y-btn-blue:focus,
.y-btn-blue:active.focus,
.y-btn-blue.active.focus,
.open > .dropdown-toggle.y-btn-blue.focus {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d85;
}
.y-btn-blue:active,
.y-btn-blue.active,
.open > .dropdown-toggle.y-btn-blue {
  background-image: none;
}
.y-btn-blue.disabled:hover,
.y-btn-blue[disabled]:hover,
fieldset[disabled] .y-btn-blue:hover,
.y-btn-blue.disabled:focus,
.y-btn-blue[disabled]:focus,
fieldset[disabled] .y-btn-blue:focus,
.y-btn-blue.disabled.focus,
.y-btn-blue[disabled].focus,
fieldset[disabled] .y-btn-blue.focus {
  background-color: #099fdd;
  border-color: #46b8da;
}
.y-btn-blue .badge {
  color: #099fdd;
  background-color: #fff;
}
/* cover bootstrap style
 * ===================== */

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
	background-color: #099fdd;
	border-color: #099fdd;
}

.modal-content .close {
	font-size: 30px;
}

.panel-default .panel-heading {
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
}


/* base style
 * ========== */

.y-mt15 {
	margin-top: 15px;
}

.y-min-h300 {
	min-height: 300px;
}

.y-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.y-modal-header-default {
	background: #f5f5f5;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.y-modal-footer-default {
	background: #f5f5f5;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}


/*#099fdd、#f25050*/


/* header style
 * ============ */

.y-header .navbar {
	background: #fff;
	box-shadow: 2px 3px 9px 0 rgba(0, 0, 0, 0.06);
	border-color: #e7e7e7;
}

.y-header .navbar-toggle {
	margin-top: 24px;
	margin-right: 18px;
}

.y-header .y-header-logo img {
	height: 100%;
	width: auto;
	margin-left: 10px;
}

.y-header-logo {
	float: left;
	height: 80px;
	margin-right: 20px;
}

.y-header-search {
	color: #099fdd;
}

.y-header-search input {
	height: 36px;
}

@media (max-width: 768px) {
	.y-header-close {
		width: 100%;
		text-align: center;
	}
}

.y-header-close {
	color: #777;
}

.y-header-close:hover,
.y-header-close:focus {
	color: #f25050;
	background-color: transparent;
}

.y-header-close i {
	font-size: 24px;
	margin-left: 10px;
}

.y-header-help {
	border: solid 1px #099fdd;
	color: #099fdd;
	margin-left: 20px;
}

.y-header-help i {
	font-size: 22px;
	margin-left: 8px;
}

.y-header-help i,
.y-header-help span {
	color: #099fdd;
}

.y-header-search {
	height: 36px;
}


/* body style
 * ============ */

.y-body {
	margin-top: 120px;
	text-align: center;
}

.y-body .panel {
	box-shadow: 0 0 9px 5px rgba(0, 0, 0, 0.06);
	-webkit-transition: box-shadow 0.3s ease-out 0s;
	-moz-transition: box-shadow 0.3s ease-out 0s;
	transition: box-shadow 0.3s ease-out 0s;
}

.y-body .panel:hover,
.y-body .panel:focus {
	-webkit-box-shadow: 0 0 11px 7px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 11px 7px rgba(0, 0, 0, 0.1);
}