body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:200px;
  top:200px;
  width:1219px;
  height:890px;
  opacity:0.3;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:890px;
}
#u1 {
  position:absolute;
  left:2px;
  top:437px;
  width:1215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:200px;
  top:300px;
  width:1219px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1202px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1219px;
  height:1px;
}
#u3 {
  position:absolute;
  left:235px;
  top:220px;
  width:125px;
  height:70px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:70px;
}
#u4 {
  position:absolute;
  left:2px;
  top:27px;
  width:121px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:387px;
  top:237px;
  width:113px;
  height:43px;
  font-size:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:43px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:521px;
  top:237px;
  width:113px;
  height:43px;
  font-size:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:43px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:655px;
  top:237px;
  width:113px;
  height:43px;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:43px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1350px;
  top:230px;
  width:50px;
  height:50px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u12 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:200px;
  top:306px;
  width:210px;
  height:784px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:784px;
}
#u14 {
  position:absolute;
  left:2px;
  top:384px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:218px;
  top:352px;
  width:174px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:247px;
  top:398px;
  width:120px;
  height:30px;
  font-size:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:200px;
  top:460px;
  width:210px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:193px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u20 {
  position:absolute;
  left:205px;
  top:524px;
  width:200px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u21 {
  position:absolute;
  left:218px;
  top:480px;
  width:42px;
  height:40px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:272px;
  top:492px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:366px;
  top:492px;
  width:32px;
  height:22px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
}
#u26 {
  position:absolute;
  left:2px;
  top:3px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:434px;
  top:328px;
  width:946px;
  height:752px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:946px;
  height:752px;
}
#u28 {
  position:absolute;
  left:2px;
  top:368px;
  width:942px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:434px;
  top:328px;
  width:946px;
  height:92px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:946px;
  height:92px;
}
#u30 {
  position:absolute;
  left:2px;
  top:38px;
  width:942px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:475px;
  top:364px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:486px;
  top:786px;
  width:838px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:821px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:838px;
  height:1px;
}
#u34 {
  position:absolute;
  left:485px;
  top:837px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:605px;
  top:1007px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:586px;
  top:886px;
  width:100px;
  height:100px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u39 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:873px;
  top:882px;
  width:110px;
  height:100px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u41 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:874px;
  top:1007px;
  width:113px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:1132px;
  top:884px;
  width:110px;
  height:100px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u45 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1133px;
  top:1009px;
  width:113px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:474px;
  top:544px;
  width:838px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:821px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:838px;
  height:1px;
}
#u49 {
  position:absolute;
  left:606px;
  top:840px;
  width:171px;
  height:19px;
  font-size:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:19px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:1260px;
  top:364px;
  width:100px;
  height:30px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:480px;
  top:586px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:612px;
  top:585px;
  width:220px;
  height:23px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:23px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u56 {
  position:absolute;
  left:964px;
  top:591px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:1085px;
  top:591px;
  width:220px;
  height:23px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:23px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u59 {
  position:absolute;
  left:527px;
  top:644px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:611px;
  top:644px;
  width:220px;
  height:23px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:23px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u62 {
  position:absolute;
  left:1001px;
  top:644px;
  width:29px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:1085px;
  top:644px;
  width:220px;
  height:23px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:23px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u65 {
  position:absolute;
  left:492px;
  top:702px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:612px;
  top:702px;
  width:195px;
  height:22px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u68 {
  position:absolute;
  left:827px;
  top:702px;
  width:180px;
  height:22px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u69 {
  position:absolute;
  left:612px;
  top:744px;
  width:435px;
  height:25px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u70 {
  position:absolute;
  left:205px;
  top:605px;
  width:200px;
  height:10px;
}
#u70_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u71 {
  position:absolute;
  left:218px;
  top:561px;
  width:42px;
  height:40px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u72 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:272px;
  top:573px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:366px;
  top:573px;
  width:32px;
  height:22px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
}
#u76 {
  position:absolute;
  left:2px;
  top:3px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:204px;
  top:689px;
  width:200px;
  height:10px;
}
#u77_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u78 {
  position:absolute;
  left:217px;
  top:645px;
  width:42px;
  height:40px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u79 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:271px;
  top:657px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:365px;
  top:657px;
  width:32px;
  height:22px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
}
#u83 {
  position:absolute;
  left:2px;
  top:3px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:207px;
  top:768px;
  width:200px;
  height:10px;
}
#u84_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u85 {
  position:absolute;
  left:220px;
  top:724px;
  width:42px;
  height:40px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u86 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:274px;
  top:736px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:368px;
  top:736px;
  width:32px;
  height:22px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
}
#u90 {
  position:absolute;
  left:2px;
  top:3px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:954px;
  top:444px;
  width:73px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:1062px;
  top:444px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u94 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u93_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u95 {
  position:absolute;
  left:1192px;
  top:444px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u96 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u95_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u97 {
  position:absolute;
  left:495px;
  top:444px;
  width:73px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:713px;
  top:447px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u100 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u99_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u101 {
  position:absolute;
  left:613px;
  top:447px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u102 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u101_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u103 {
  position:absolute;
  left:512px;
  top:501px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:605px;
  top:500px;
  width:220px;
  height:23px;
}
#u105_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:23px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u106 {
  position:absolute;
  left:960px;
  top:501px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:1076px;
  top:498px;
  width:222px;
  height:25px;
}
#u108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:25px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u109 {
  position:absolute;
  left:1470px;
  top:230px;
  width:430px;
  height:250px;
  text-align:left;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:250px;
}
#u110 {
  position:absolute;
  left:2px;
  top:2px;
  width:426px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:210px;
  top:475px;
  width:188px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u112 {
  position:absolute;
  left:210px;
  top:555px;
  width:188px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u113 {
  position:absolute;
  left:211px;
  top:639px;
  width:188px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u114 {
  position:absolute;
  left:212px;
  top:720px;
  width:188px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u115 {
  position:absolute;
  left:210px;
  top:210px;
  width:1220px;
  height:930px;
  opacity:0.4;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:930px;
}
#u116 {
  position:absolute;
  left:2px;
  top:457px;
  width:1216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:531px;
  top:560px;
  width:519px;
  height:240px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:240px;
}
#u118 {
  position:absolute;
  left:2px;
  top:112px;
  width:515px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:531px;
  top:719px;
  width:519px;
  height:10px;
}
#u119_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u119_end {
  position:absolute;
  left:502px;
  top:-5px;
  width:18px;
  height:20px;
}
#u119_line {
  position:absolute;
  left:0px;
  top:5px;
  width:519px;
  height:1px;
}
#u120 {
  position:absolute;
  left:720px;
  top:747px;
  width:120px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u121 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:562px;
  top:614px;
  width:477px;
  height:66px;
  font-size:28px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:66px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  white-space:nowrap;
}
