body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1887px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:110px;
  top:75px;
  width:1223px;
  height:1005px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:1005px;
}
#u1 {
  position:absolute;
  left:2px;
  top:494px;
  width:1219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:110px;
  top:75px;
  width:1220px;
  height:1005px;
  opacity:0.4;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:1005px;
}
#u3 {
  position:absolute;
  left:2px;
  top:494px;
  width:1216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1457px;
  top:210px;
  width:430px;
  height:250px;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:250px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:426px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:232px;
  top:302px;
  width:978px;
  height:298px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:298px;
}
#u7 {
  position:absolute;
  left:2px;
  top:141px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:221px;
  top:483px;
  width:989px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:972px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:989px;
  height:1px;
}
#u9 {
  position:absolute;
  left:649px;
  top:530px;
  width:120px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:370px;
  top:360px;
  width:145px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:570px;
  top:356px;
  width:240px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:890px;
  top:360px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:570px;
  top:410px;
  width:199px;
  height:28px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:28px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:232px;
  top:212px;
  width:980px;
  height:90px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:90px;
}
#u20 {
  position:absolute;
  left:2px;
  top:28px;
  width:976px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1142px;
  top:232px;
  width:50px;
  height:50px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u22 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:260px;
  top:242px;
  width:50px;
  height:50px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u24 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
