html{font-size: 62.5%}
body{font-size: 16px;font-size: 1.6rem;}/*考虑IE兼容*/
.y-font-left{text-align:left;text-indent:3rem;}/*首行缩进1.6rem*/
.lky-center{text-align:center;}
.lky-center-all{text-align:center;height:30px;line-height:30px;overflow:hidden;}/*上下垂直居中*/
*{padding: 0;margin: 0;font-size: 1.4rem;}
h1{font-weight: bold;line-height: 45px;font-size: 2rem;}
h3{font-weight: bold;font-size: 1.6rem;line-height: 45px;}
p{font-size: 1.4rem;line-height: 22px;}
td{text-align: center;}
.wrap{padding: 5px;}
table {
    font-family: verdana,arial,sans-serif;
    font-size: 1.1rem;
    color: #333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
}
table th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}
.bottom{margin-top: 15px;}

