/*
 * @require ../../server/author.css
 * @require ../../components/css/bootstrap.base.css
 * @require ../../components/css/base.css
 * @require ../../components/css/custom.css
 */

/*==================== store ====================*/

.v-store {

}

.y-list-group-item-none {
    border: none;
    border-radius: 0 !important;
}

.y-btn-link {
    color: #000000;
}

.y-btn-link:active {
    color: #000000;
    text-decoration: none;
}

.y-list-group-item {
    background-color: #fff;
}

.y-list-group-item div a {
    text-align: center;
    margin-top: 18px;
    color: #666666;
    text-decoration: none;
}

.y-list-group-item-top {
    border-left: 0;
    border-right: 0;
    border-radius: 0 !important;
}

.y-list-group-item-top p:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.y-text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.y-list-group-item-top p span {
    color: #ff0000;
}

.y-list-group-item-bottom {
    border-left: 0;
    border-right: 0;
    border-radius: 0 !important;
}

.y-list-group-item-bottom a {
    text-align: center;
    color: #666666;
    text-decoration: none;
}

.y-list-group-item-bottom span {
    font-size: 20px;
}

.y-list-group-item-bottom p {
    font-size: 12px;
}

.y-navbar-fixed-bottom-none a,
.y-navbar-fixed-bottom-none div {
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.y-navbar-fixed-bottom a,
.y-navbar-fixed-bottom div {
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.y-navbar-fixed-bottom div:first-child {
    border-right: 2px solid #fff;
}

.y-navbar-fixed-bottom a:first-child {
    border-right: 2px solid #fff;
}

.y-decorate-default.active {
    height: 35px !important;
    margin-top: -35px !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #11cd6e !important;
    opacity: 0.5;
    position: relative;
}

.y-decorate-default.active::after {
    color: #ffffff;
    font-size: 16px;
    content: "默认";
    top: -56px;
    position: relative;
}

.y-decorate-div {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    line-height: 150px;
    position: relative;
}

.y-line-right {
    border-right: 1px solid #666;
}

.y-ht-71 {
    height: 71px;
}

.y-y-line-30 {
    width: 2px;
    background-color: #666;
    height: 30px;
    float: left;
    margin-top: 5px;
}

.y-btn-left {
    border-right: 1px solid #ccc !important;
    border-bottom-right-radius: 0;
}

.y-btn-right {
    border-bottom-left-radius: 0;

}

.y-icon-left {
    position: absolute;
    z-index: 99999;
    margin-top: 3px;
    color: #ccc;
    display: block;
}

.y-icon-right {
    position: absolute;
    z-index: 99999;
    margin-top: 3px;
    color: #ccc;
    margin-left: -48px;
}

.y-input-seach {
    width: 100%;
    background-color: #eee;
    position: relative;
    border-radius: 40px;
    display: block;
}

.y-manage-put {
    position: absolute;
    right: 20px;
    background-image: url("../../components/public/csssprites/Group3.png");
    background-repeat: no-repeat;
    background-size: 80px 60px;
    width: 80px;
    height: 60px;
}

.y-list-group li:first-child {
    border-top: none;
}

.y-list-group li {
    border-radius: 0;
    border-right: none;
    border-left: none;
    height: 50px;
    line-height: 30px;
}

.y-list-group input[type=radio] {
    margin-top: 8px;
}

.y-list-group li small {
    padding-right: 0;
}

.y-btn-classify {
    width: 49%;
    height: 40px;
    font-size: 16px;
}

.y-radio-success {
    height: 20px;
    width: 20px;
    background-color: #00ba5c;
    border-radius: 50%;
    position: relative;
}

.y-radio-success:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 5px;
    background-color: #FFFFFF;
    left: 4px;
    transform: rotate(45deg);
    top: 12px;
}

.y-radio-success:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 10px;
    background-color: #FFFFFF;
    left: 6px;
    transform: rotate(135deg);
    top: 10px;
}

.y-radio-brown {
    height: 30px;
    width: 30px;
    background-color: #8b572a;
    border-radius: 50%;
    position: relative;
}

.y-radio-brown:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 10px;
    background-color: #FFFFFF;
    left: 4px;
    transform: rotate(40deg);
    top: 18px;
}

.y-radio-brown:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #FFFFFF;
    left: 8px;
    transform: rotate(132deg);
    top: 14px;
}
.y-radio-gray {
    height: 30px;
    width: 30px;
    background-color: #808080;
    border-radius: 50%;
    position: relative;
}
.y-radio-gray:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 10px;
    background-color: #FFFFFF;
    left: 4px;
    transform: rotate(40deg);
    top: 18px;
}

.y-radio-gray:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #FFFFFF;
    left: 8px;
    transform: rotate(132deg);
    top: 14px;
}
.y-empty {
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.y-w-170 {
    width: 170px !important;
}


