<section class="page-header">
  <h1 class="project-name">前端开发丨张大漾</h1>
  <h2 class="project-tagline">I work hard to contribute my work back to the web, mobile, server &amp;&amp; new Front-end technology.</h2>
  <a href="https://github.com/yhtml5" class="btn">GitHub</a>
  <a href="http://resume.yhtml5.com/static/张大漾-前端开发.pdf" class="btn" download="张大漾-前端开发.pdf" target="_blank">下载简历</a>
  <a href="https://github.com/yhtml5/YHTML5-Seed" class="btn">YHTML5-Seed</a>
  <a href="https://github.com/yhtml5/YHTML5-Tutorial" class="btn">YHTML5-Tutorial</a>
  <!--<a href="http://yhtml5.com" class="btn">yhtml5.com</a>-->
</section>