<div class="panel panel-default" data-page="canal-manage">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-6 col-sm-3 col-lg-2 y-panel-title">渠道列表</div>
			<div class="col-xs-6 visible-xs-block col-sm-3 col-sm-push-1 y-panel-btn">
				<button class="btn btn-info" data-toggle="modal" data-target="#y-member-add">创建渠道</button>
			</div>
			<div class="col-xs-12 col-sm-5 col-sm-pull-1">
				<form class="navbar-form" role="search" action="" method="">
					<div class="input-group y-header-search">
						<input type="text" class="form-control" id="" value="" placeholder="请输入任意内容搜索...">
						<span class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="iconfont">&#xe611;</i></button>
					</span>
					</div>
				</form>
			</div>
			<div class="col-xs-6 hidden-xs col-sm-3 col-sm-push-1 col-lg-push-2 y-panel-btn">
				<button class="btn btn-info" data-toggle="modal" data-target="#y-member-add">创建渠道</button>
			</div>
		</div>

	</div>
	<div class="panel-body y-min-h300">
		<div class="y-mt40 y-color-default" data-toggle="y-hover-show">
			<i class="iconfont y-transition-color-info y-fonticon-md">&#xe60e;</i>
			<h4 class="">您未添加任何渠道~</h4>
		</div>
		<div class="table-responsive y-hide" data-toggle="y-hover-shown">
			<table class="table table-striped table-hover table-condensed table-bordered y-table-md">
				<thead>
					<tr>
						<th>渠道编号</th>
						<th>邮箱</th>
						<th>渠道名称</th>
						<th>应用名称</th>
						<th>注册日期</th>
						<th>最后登录</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody class="">
					<tr>
						<td>Data</td>
						<td>Data</td>
						<td>Data</td>
						<td>Data</td>
						<td>Data</td>
						<td>Data</td>
						<td>
							<button type="button" class="btn btn-info" data-toggle="modal" data-target="[data-modal='canal-reset']">重置</button>
							<button type="button" class="btn btn-danger" data-toggle="modal" data-target="[data-modal='canal-delete']">删除</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>