/* panel-display style
 * =================== */

.y-panel-display {
	height: 372px;
}

.y-panel-display-money i,
.y-panel-display-user i {
	font-size: 40px;
	color: #3a3a3a;
}

.y-panel-display-money p,
.y-panel-display-user p {
	font-size: 16px;
	margin-top: -4px;
	font-weight: bold;
}

.y-panel-display .y-num {
	font-size: 20px;
	line-height: 80px;
	vertical-align: middle;
}

.y-panel-display-set i {
	color: #099fdd;
	font-size: 30px;
}

.y-panel-display-set p {
	font-weight: bold;
}

.y-panel-display-set a {
	text-decoration: none;
	color: #3a3a3a;
}