<div class="panel panel-default y-panel-display">
	<div class="panel-heading">
		<h3>应用模型</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-6 col-xs-push-1 y-panel-display-money">
				<i class="iconfont">&#xe610;</i>
				<p>总收益</p>
			</div>
			<div class="col-xs-6 col-xs-pull-1 y-num">
				1230万
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-xs-push-1 y-panel-display-user">
				<i class="iconfont">&#xe609;</i>
				<p>付费用户</p>
			</div>
			<div class="col-xs-6 col-xs-pull-1 y-num">
				321千
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<div class="row y-panel-display-set">
			<div class="col-xs-4 col-xs-push-1">
				<a href="dashboard.html">
					<i class="iconfont">&#xe601;</i>
					<p>支付</p>
				</a>
			</div>
			<div class="col-xs-4">
				<a href="dashboard.html">
					<i class="iconfont">&#xe60d;</i>
					<p>分析</p>
				</a>
			</div>
			<div class="col-xs-4 col-xs-pull-1">
				<a href="dashboard.html">
					<i class="iconfont">&#xe600;</i>
					<p>设置</p>
				</a>
			</div>
		</div>
	</div>
</div>