body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:290px;
  top:160px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:383px;
  top:160px;
  width:370px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u3 {
  position:absolute;
  left:783px;
  top:160px;
  width:100px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4 {
  position:absolute;
  left:384px;
  top:276px;
  width:40px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:919px;
  top:300px;
  width:521px;
  height:112px;
  color:#FF0000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:112px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:384px;
  top:304px;
  width:335px;
  height:466px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:466px;
}
#u9 {
  position:absolute;
  left:2px;
  top:225px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:391px;
  top:634px;
  width:321px;
  height:36px;
  color:#FF0000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:36px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:152px;
  top:30px;
  width:860px;
  height:70px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:70px;
}
#u13 {
  position:absolute;
  left:2px;
  top:27px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:170px;
  top:54px;
  width:823px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:823px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:823px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:388px;
  top:192px;
  width:222px;
  height:16px;
  color:#FF0000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:388px;
  top:218px;
  width:287px;
  height:16px;
  color:#FF0000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
