body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1104px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1419 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1420 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1421 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1422 {
  position:absolute;
  left:394px;
  top:311px;
  width:376px;
  height:792px;
}
#u1423 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1424 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:788px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1425 {
  position:absolute;
  left:396px;
  top:313px;
  width:372px;
  height:788px;
}
#u1426 {
  position:absolute;
  left:2px;
  top:386px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1427 {
  position:absolute;
  left:402px;
  top:383px;
  width:360px;
  height:640px;
}
#u1428 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1429 {
  position:absolute;
  left:498px;
  top:341px;
  width:168px;
  height:10px;
}
#u1430 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1431 {
  position:absolute;
  left:498px;
  top:1053px;
  width:168px;
  height:10px;
}
#u1432 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1433 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1434 {
  position:absolute;
  left:402px;
  top:975px;
  width:360px;
  height:48px;
}
#u1435 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1436 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1437 {
  position:absolute;
  left:473px;
  top:991px;
  width:16px;
  height:16px;
}
#u1438 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 0);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1439 {
  position:absolute;
  left:434px;
  top:975px;
  width:94px;
  height:48px;
}
#u1439_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.298039215686275);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1439.mouseDown {
}
#u1440 {
  position:absolute;
  left:2px;
  top:16px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1441 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1442 {
  position:absolute;
  left:573px;
  top:991px;
  width:16px;
  height:16px;
}
#u1443 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 0);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1444 {
  position:absolute;
  left:534px;
  top:975px;
  width:94px;
  height:48px;
}
#u1444_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.298039215686275);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1444.mouseDown {
}
#u1445 {
  position:absolute;
  left:2px;
  top:16px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1446 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(250, 250, 250, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1447 {
  position:absolute;
  left:673px;
  top:991px;
  width:16px;
  height:16px;
}
#u1448 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 0);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1449 {
  position:absolute;
  left:634px;
  top:975px;
  width:94px;
  height:48px;
}
#u1449_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.298039215686275);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1449.mouseDown {
}
#u1450 {
  position:absolute;
  left:2px;
  top:16px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1451_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1451 {
  position:absolute;
  left:402px;
  top:261px;
  width:30px;
  height:40px;
}
#u1452 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u1453 {
  position:absolute;
  left:443px;
  top:264px;
  width:113px;
  height:40px;
  font-size:28px;
  color:#999999;
}
#u1454 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1455 {
  position:absolute;
  left:402px;
  top:383px;
  width:360px;
  height:61px;
}
#u1456 {
  position:absolute;
  left:2px;
  top:22px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u1457 {
  position:absolute;
  left:420px;
  top:399px;
  width:42px;
  height:30px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1458 {
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1459 {
  position:absolute;
  left:553px;
  top:402px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1460 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:107px;
}
#u1461 {
  position:absolute;
  left:410px;
  top:463px;
  width:348px;
  height:106px;
}
#u1462 {
  position:absolute;
  left:2px;
  top:45px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:229px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1463 {
  position:absolute;
  left:401px;
  top:746px;
  width:360px;
  height:229px;
}
#u1464 {
  position:absolute;
  left:2px;
  top:106px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1465 {
  position:absolute;
  left:401px;
  top:746px;
  width:360px;
  height:37px;
}
#u1466 {
  position:absolute;
  left:2px;
  top:10px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u1467 {
  position:absolute;
  left:410px;
  top:752px;
  width:27px;
  height:25px;
}
#u1468 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1469 {
  position:absolute;
  left:445px;
  top:755px;
  width:118px;
  height:18px;
  font-size:13px;
}
#u1470 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u1471 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1472 {
  position:absolute;
  left:402px;
  top:783px;
  width:120px;
  height:64px;
}
#u1473 {
  position:absolute;
  left:2px;
  top:24px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1474 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1475 {
  position:absolute;
  left:437px;
  top:788px;
  width:50px;
  height:42px;
}
#u1476 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1477 {
  position:absolute;
  left:449px;
  top:830px;
  width:25px;
  height:17px;
  font-size:12px;
}
#u1478 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1479 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1480 {
  position:absolute;
  left:522px;
  top:783px;
  width:120px;
  height:64px;
}
#u1481 {
  position:absolute;
  left:2px;
  top:24px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1482 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1483 {
  position:absolute;
  left:557px;
  top:788px;
  width:50px;
  height:42px;
}
#u1484 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1485 {
  position:absolute;
  left:558px;
  top:830px;
  width:51px;
  height:17px;
  font-size:12px;
}
#u1486 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u1487 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1488 {
  position:absolute;
  left:642px;
  top:783px;
  width:120px;
  height:64px;
}
#u1489 {
  position:absolute;
  left:2px;
  top:24px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1490 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1491 {
  position:absolute;
  left:677px;
  top:788px;
  width:50px;
  height:42px;
}
#u1492 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1493 {
  position:absolute;
  left:689px;
  top:830px;
  width:25px;
  height:17px;
  font-size:12px;
}
#u1494 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1495 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1496 {
  position:absolute;
  left:402px;
  top:847px;
  width:120px;
  height:64px;
}
#u1497 {
  position:absolute;
  left:2px;
  top:24px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1498 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1499 {
  position:absolute;
  left:437px;
  top:852px;
  width:50px;
  height:42px;
}
#u1500 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1501 {
  position:absolute;
  left:449px;
  top:894px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1502 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1503 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1504 {
  position:absolute;
  left:522px;
  top:847px;
  width:120px;
  height:64px;
}
#u1505 {
  position:absolute;
  left:2px;
  top:24px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1506 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1507 {
  position:absolute;
  left:557px;
  top:852px;
  width:50px;
  height:42px;
}
#u1508 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1509 {
  position:absolute;
  left:569px;
  top:894px;
  width:25px;
  height:17px;
  font-size:12px;
}
#u1510 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1511 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1512 {
  position:absolute;
  left:642px;
  top:847px;
  width:120px;
  height:64px;
}
#u1513 {
  position:absolute;
  left:2px;
  top:24px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1514 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1515 {
  position:absolute;
  left:677px;
  top:852px;
  width:50px;
  height:42px;
}
#u1516 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1517 {
  position:absolute;
  left:689px;
  top:894px;
  width:25px;
  height:17px;
  font-size:12px;
}
#u1518 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1519 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1520 {
  position:absolute;
  left:402px;
  top:911px;
  width:120px;
  height:64px;
}
#u1521 {
  position:absolute;
  left:2px;
  top:24px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1522 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1523 {
  position:absolute;
  left:437px;
  top:916px;
  width:50px;
  height:42px;
}
#u1524 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1525 {
  position:absolute;
  left:449px;
  top:958px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1526 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1527 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1528 {
  position:absolute;
  left:522px;
  top:911px;
  width:120px;
  height:64px;
}
#u1529 {
  position:absolute;
  left:2px;
  top:24px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1530 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1531 {
  position:absolute;
  left:557px;
  top:916px;
  width:50px;
  height:42px;
}
#u1532 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1533 {
  position:absolute;
  left:569px;
  top:958px;
  width:25px;
  height:17px;
  font-size:12px;
}
#u1534 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1535 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1536 {
  position:absolute;
  left:642px;
  top:911px;
  width:120px;
  height:64px;
}
#u1537 {
  position:absolute;
  left:2px;
  top:24px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1538 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1539 {
  position:absolute;
  left:677px;
  top:916px;
  width:50px;
  height:42px;
}
#u1540 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1541 {
  position:absolute;
  left:689px;
  top:958px;
  width:25px;
  height:17px;
  font-size:12px;
}
#u1542 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:592px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1543 {
  position:absolute;
  left:402px;
  top:383px;
  width:360px;
  height:592px;
  opacity:0.5;
}
#u1544 {
  position:absolute;
  left:2px;
  top:288px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:70px;
}
#u1545 {
  position:absolute;
  left:544px;
  top:586px;
  width:71px;
  height:70px;
}
#u1546 {
  position:absolute;
  left:2px;
  top:27px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1547 {
  position:absolute;
  left:550px;
  top:672px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u1548 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1549 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1550_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1550 {
  position:absolute;
  left:712px;
  top:600px;
  width:30px;
  height:40px;
}
#u1551 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1552 {
  position:absolute;
  left:742px;
  top:620px;
  width:0px;
  height:0px;
}
#u1552_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:117px;
  height:8px;
}
#u1553 {
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1554 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
}
#u1555 {
  position:absolute;
  left:855px;
  top:600px;
  width:43px;
  height:40px;
}
#u1556 {
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1557 {
  position:absolute;
  left:855px;
  top:650px;
  width:249px;
  height:18px;
  font-size:13px;
  color:#FF0000;
}
#u1558 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
