body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:210px;
  top:235px;
  width:1219px;
  height:740px;
  opacity:0.3;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:740px;
}
#u2 {
  position:absolute;
  left:2px;
  top:362px;
  width:1215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:210px;
  top:335px;
  width:1219px;
  height:10px;
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:1202px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1219px;
  height:1px;
}
#u4 {
  position:absolute;
  left:1007px;
  top:276px;
  width:235px;
  height:33px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:33px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u5 {
  position:absolute;
  left:1241px;
  top:276px;
  width:44px;
  height:33px;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:33px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:245px;
  top:255px;
  width:125px;
  height:70px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:70px;
}
#u8 {
  position:absolute;
  left:2px;
  top:27px;
  width:121px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:397px;
  top:272px;
  width:113px;
  height:43px;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:43px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:531px;
  top:272px;
  width:113px;
  height:43px;
  font-size:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:43px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:665px;
  top:272px;
  width:113px;
  height:43px;
  font-size:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:43px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:833px;
  top:275px;
  width:50px;
  height:40px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1360px;
  top:265px;
  width:50px;
  height:50px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1229px;
  top:340px;
}
#u19_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u19_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:205px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:205px;
}
#u21 {
  position:absolute;
  left:2px;
  top:94px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:12px;
  top:26px;
  width:174px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:41px;
  top:73px;
  width:120px;
  height:30px;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:75px;
  top:128px;
  width:50px;
  height:50px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u27 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:312px;
  top:460px;
  width:1009px;
  height:420px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1009px;
  height:420px;
}
#u29 {
  position:absolute;
  left:2px;
  top:202px;
  width:1005px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:352px;
  top:392px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:1164px;
  top:392px;
  width:134px;
  height:38px;
  font-size:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:38px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:314px;
  top:461px;
  width:1007px;
  height:59px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:59px;
}
#u35 {
  position:absolute;
  left:2px;
  top:22px;
  width:1003px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:359px;
  top:483px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:503px;
  top:483px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:628px;
  top:483px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:753px;
  top:483px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:883px;
  top:483px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:1015px;
  top:483px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:1211px;
  top:482px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:441px;
  top:461px;
  width:10px;
  height:60px;
}
#u50_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u50_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u50_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u51 {
  position:absolute;
  left:579px;
  top:460px;
  width:10px;
  height:60px;
}
#u51_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u51_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u51_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u52 {
  position:absolute;
  left:723px;
  top:460px;
  width:10px;
  height:60px;
}
#u52_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u52_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u52_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u53 {
  position:absolute;
  left:831px;
  top:460px;
  width:10px;
  height:60px;
}
#u53_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u53_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u53_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u54 {
  position:absolute;
  left:989px;
  top:461px;
  width:10px;
  height:60px;
}
#u54_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u54_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u54_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u55 {
  position:absolute;
  left:1156px;
  top:461px;
  width:10px;
  height:60px;
}
#u55_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u55_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u55_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u56 {
  position:absolute;
  left:314px;
  top:518px;
  width:1007px;
  height:62px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:62px;
}
#u57 {
  position:absolute;
  left:2px;
  top:23px;
  width:1003px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:364px;
  top:541px;
  width:46px;
  height:16px;
  font-size:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:450px;
  top:541px;
  width:136px;
  height:16px;
  font-size:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:624px;
  top:541px;
  width:97px;
  height:16px;
  font-size:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:755px;
  top:541px;
  width:65px;
  height:16px;
  font-size:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:853px;
  top:541px;
  width:141px;
  height:16px;
  font-size:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:1004px;
  top:541px;
  width:150px;
  height:16px;
  font-size:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:1169px;
  top:537px;
  width:68px;
  height:29px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
}
#u71 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:882px;
  top:930px;
  width:439px;
  height:25px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:25px;
}
#u73 {
  position:absolute;
  left:2px;
  top:4px;
  width:435px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:314px;
  top:580px;
  width:1007px;
  height:62px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:62px;
}
#u75 {
  position:absolute;
  left:2px;
  top:23px;
  width:1003px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:364px;
  top:603px;
  width:46px;
  height:16px;
  font-size:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:450px;
  top:603px;
  width:136px;
  height:16px;
  font-size:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:624px;
  top:603px;
  width:97px;
  height:16px;
  font-size:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:755px;
  top:603px;
  width:65px;
  height:16px;
  font-size:16px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:853px;
  top:603px;
  width:141px;
  height:16px;
  font-size:16px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:1004px;
  top:603px;
  width:150px;
  height:16px;
  font-size:16px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:1174px;
  top:599px;
  width:68px;
  height:29px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
}
#u89 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:1253px;
  top:599px;
  width:53px;
  height:29px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:29px;
}
#u91 {
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:1253px;
  top:537px;
  width:53px;
  height:29px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:29px;
}
#u93 {
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:210px;
  top:233px;
  width:1220px;
  height:930px;
  opacity:0.4;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:930px;
}
#u95 {
  position:absolute;
  left:2px;
  top:457px;
  width:1216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:531px;
  top:481px;
  width:519px;
  height:342px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:342px;
}
#u97 {
  position:absolute;
  left:2px;
  top:163px;
  width:515px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:531px;
  top:481px;
  width:519px;
  height:72px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:72px;
}
#u99 {
  position:absolute;
  left:2px;
  top:20px;
  width:515px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:980px;
  top:492px;
  width:50px;
  height:50px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u101 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:575px;
  top:583px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:703px;
  top:583px;
  width:200px;
  height:34px;
}
#u104_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:34px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u105 {
  position:absolute;
  left:552px;
  top:663px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:703px;
  top:657px;
  width:200px;
  height:34px;
}
#u107_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:34px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u108 {
  position:absolute;
  left:930px;
  top:661px;
  width:100px;
  height:30px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u109 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:531px;
  top:742px;
  width:519px;
  height:10px;
}
#u110_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u110_end {
  position:absolute;
  left:502px;
  top:-5px;
  width:18px;
  height:20px;
}
#u110_line {
  position:absolute;
  left:0px;
  top:5px;
  width:519px;
  height:1px;
}
#u111 {
  position:absolute;
  left:720px;
  top:770px;
  width:120px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u112 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:720px;
  top:627px;
  width:92px;
  height:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:702px;
  top:627px;
  width:16px;
  height:18px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u116 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:720px;
  top:708px;
  width:105px;
  height:16px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:702px;
  top:708px;
  width:16px;
  height:18px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u120 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
