<style>
    .y-card-default {
        border: solid 2px #555;
        padding: 30px 10px;
        margin: auto;
    }

    .y-card {
        border: solid 1px #e0e0e0;
        border-radius: 4px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
        text-align: center;
        background-color: #fefefe;
        color: #2f2f2f;
        margin: auto;
    }

    .y-card-sm {
        padding: 20px 10px;
    }

    .y-card-md {
        padding: 50px 10px;
    }

    .y-card-sm .iconfont {
        font-size: 50px;
        color: #777;
    }

    .y-card-md .iconfont {
        font-size: 90px;
        color: #777;
    }
</style>
<div class="col-lg-3 y-mt-60">
    <div class="row y-card y-card-md">
        <div class="col-sm-5">
            <i class="iconfont"></i>
        </div>
        <div class="col-sm-7">
            <h4>JAVA对接包</h4>
            <h4><a href="#" class="btn btn-info">点击下载</a></h4>
        </div>
    </div>
</div>
