body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:210px;
  top:210px;
  width:1219px;
  height:840px;
  opacity:0.3;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:840px;
}
#u1 {
  position:absolute;
  left:2px;
  top:412px;
  width:1215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:740px;
  top:253px;
  width:145px;
  height:42px;
  font-size:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:240px;
  top:310px;
  width:1150px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:1133px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1150px;
  height:1px;
}
#u5 {
  position:absolute;
  left:310px;
  top:245px;
  width:50px;
  height:50px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:410px;
  top:370px;
  width:833px;
  height:500px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:833px;
  height:500px;
}
#u8 {
  position:absolute;
  left:2px;
  top:242px;
  width:829px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:688px;
  top:940px;
  width:250px;
  height:40px;
  font-size:28px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:246px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:599px;
  top:425px;
  width:57px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:728px;
  top:425px;
  width:312px;
  height:33px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:33px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u14 {
  position:absolute;
  left:599px;
  top:507px;
  width:57px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:728px;
  top:507px;
  width:312px;
  height:33px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:33px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u17 {
  position:absolute;
  left:593px;
  top:597px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:728px;
  top:597px;
  width:312px;
  height:33px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:33px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u20 {
  position:absolute;
  left:595px;
  top:680px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:728px;
  top:680px;
  width:312px;
  height:33px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:33px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u23 {
  position:absolute;
  left:624px;
  top:767px;
  width:57px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:728px;
  top:767px;
  width:322px;
  height:33px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:33px;
  background-image:;
  font-family:'Arial';
  font-size:20px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u26 {
  position:absolute;
  left:1450px;
  top:210px;
  width:430px;
  height:320px;
  text-align:left;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:320px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:426px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1088px;
  top:432px;
  width:105px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:1070px;
  top:432px;
  width:16px;
  height:18px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u31 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:1088px;
  top:510px;
  width:105px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:1070px;
  top:510px;
  width:16px;
  height:18px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u35 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1091px;
  top:604px;
  width:105px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:1073px;
  top:604px;
  width:16px;
  height:18px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u39 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1091px;
  top:695px;
  width:105px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:1073px;
  top:695px;
  width:16px;
  height:18px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u43 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1088px;
  top:774px;
  width:105px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:1070px;
  top:774px;
  width:16px;
  height:18px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u47 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
