body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1887px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:210px;
  top:210px;
  width:1219px;
  height:900px;
  opacity:0.3;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:900px;
}
#u1 {
  position:absolute;
  left:2px;
  top:442px;
  width:1215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:740px;
  top:253px;
  width:145px;
  height:42px;
  font-size:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:240px;
  top:310px;
  width:1150px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:1133px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1150px;
  height:1px;
}
#u5 {
  position:absolute;
  left:310px;
  top:245px;
  width:50px;
  height:50px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:254px;
  top:456px;
  width:1140px;
  height:70px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:70px;
}
#u8 {
  position:absolute;
  left:2px;
  top:27px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:300px;
  top:472px;
  width:151px;
  height:33px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:33px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:425px;
  top:472px;
  width:26px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:1304px;
  top:476px;
  width:63px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1221px;
  top:476px;
  width:63px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:953px;
  top:1030px;
  width:437px;
  height:44px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:44px;
}
#u17 {
  position:absolute;
  left:2px;
  top:14px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:251px;
  top:340px;
  width:1143px;
  height:100px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1143px;
  height:100px;
}
#u19 {
  position:absolute;
  left:2px;
  top:42px;
  width:1139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:358px;
  top:360px;
  width:101px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:483px;
  top:364px;
  width:70px;
  height:16px;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:715px;
  top:360px;
  width:121px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:840px;
  top:364px;
  width:70px;
  height:16px;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:1005px;
  top:364px;
  width:121px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:1130px;
  top:368px;
  width:30px;
  height:16px;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:300px;
  top:406px;
  width:161px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:487px;
  top:411px;
  width:97px;
  height:16px;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:679px;
  top:408px;
  width:161px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:841px;
  top:412px;
  width:93px;
  height:16px;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:300px;
  top:505px;
  width:150px;
  height:50px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u41 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:1457px;
  top:210px;
  width:430px;
  height:250px;
  text-align:left;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:250px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:426px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:254px;
  top:526px;
  width:1136px;
  height:414px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:414px;
}
#u45 {
  position:absolute;
  left:2px;
  top:199px;
  width:1132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:254px;
  top:526px;
  width:1136px;
  height:444px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:444px;
}
#u47 {
  position:absolute;
  left:2px;
  top:214px;
  width:1132px;
  visibility:hidden;
  word-wrap:break-word;
}
