<div class="panel panel-default" ng-controller="yhtml5.account">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-12 col-sm-2">
				<h3>历史纪录</h3>
			</div>
			<div class="col-xs-6 col-sm-3 y-mt14">
				<div class="btn-group" uib-dropdown>
					<button id="single-button" type="button" class="btn y-btn-blue" uib-dropdown-toggle ng-disabled="disabled">
                         选择日期 <span class="caret"></span>
                    </button>
					<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
						<li role="menuitem"><a href="#">今日</a></li>
						<li role="menuitem"><a href="#">昨日</a></li>
						<li role="menuitem"><a href="#">近7日</a></li>
						<li role="menuitem"><a href="#">近30日</a></li>
						<li class="divider"></li>
						<li role="menuitem"><a href="#">全部</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3 col-sm-push-4 y-mt14">
				<button class="btn y-btn-blue">导出</button>
				<button class="btn y-btn-blue">刷新</button>
			</div>
		</div>
		<!--row-->
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-striped table-hover table-condensed table-bordered y-table-md">
				<thead>
					<tr>
						<th>提现时间</th>
						<th>姓名</th>
						<th>帐号</th>
						<th>银行</th>
						<th>分行</th>
						<th>省份</th>
						<th>城市</th>
						<th>商家实付</th>
						<th>商家实收</th>
						<th>手续费</th>
						<th>状态</th>
						<th>种类</th>
						<th>处理时间</th>
						<th>出款通道</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="data in accountRecord">
						<td ng-bind="data.time">Data</td>
						<td ng-bind="data.name">Data</td>
						<td ng-bind="data.account">Data</td>
						<td ng-bind="data.bank">Data</td>
						<td ng-bind="data.subbranch">Data</td>
						<td ng-bind="data.province">Data</td>
						<td ng-bind="data.city">Data</td>
						<td ng-bind="data.pay" class="text-primary">Data</td>
						<td ng-bind="data.payed" class="text-danger">Data</td>
						<td ng-bind="data.fee" class="text-primary">Data</td>
						<td ng-bind="data.state" class="text-success">Data</td>
						<td ng-bind="data.class">Data</td>
						<td ng-bind="data.timedone">Data</td>
						<td ng-bind="data.canal">Data</td>
						<td><a href="###" onclick="javascript:return false" class="text-danger" ng-click="accountTopayDeleteOpen()">删除</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!--y-dashboard-payment-table-->
		<p class="text-info visible-xs">左右滑动显示完整的表格内容</p>
		<div class="text-center">
			<ul class="pagination">
				<li><a href="#">&laquo;&nbsp;上一页</a></li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">...</a></li>
				<li><a href="#">下一页&nbsp;&raquo;</a></li>
			</ul>
		</div>
	</div>
	<script type="text/ng-template" id="accountTopayDelete.html">
		<div class="modal-body">
			<h3 class="text-center">确认删除本条提示记录？</h3>
		</div>
		<div class="modal-footer text-xs-center">
			<button type="button" class="btn btn-danger">确认</button>
			<button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
		</div>
	</script>
</div>