body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1887px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:210px;
  top:210px;
  width:1219px;
  height:970px;
  opacity:0.3;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:970px;
}
#u1 {
  position:absolute;
  left:2px;
  top:477px;
  width:1215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:740px;
  top:253px;
  width:181px;
  height:42px;
  font-size:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:42px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:240px;
  top:310px;
  width:1150px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:1133px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1150px;
  height:1px;
}
#u5 {
  position:absolute;
  left:310px;
  top:245px;
  width:50px;
  height:50px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:370px;
  top:370px;
  width:930px;
  height:640px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:640px;
}
#u8 {
  position:absolute;
  left:2px;
  top:312px;
  width:926px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:710px;
  top:1040px;
  width:250px;
  height:40px;
  font-size:28px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:246px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:529px;
  top:425px;
  width:169px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:728px;
  top:425px;
  width:312px;
  height:33px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:33px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u14 {
  position:absolute;
  left:551px;
  top:506px;
  width:141px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:28px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:519px;
  top:597px;
  width:169px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:728px;
  top:597px;
  width:312px;
  height:33px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:33px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u19 {
  position:absolute;
  left:481px;
  top:680px;
  width:205px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:33px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:454px;
  top:767px;
  width:225px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:33px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:728px;
  top:490px;
  width:212px;
  height:49px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:49px;
}
#u24 {
  position:absolute;
  left:2px;
  top:16px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:728px;
  top:767px;
  width:312px;
  height:33px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:33px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u26 {
  position:absolute;
  left:476px;
  top:847px;
  width:197px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:33px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:728px;
  top:847px;
  width:122px;
  height:33px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:33px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u29 {
  position:absolute;
  left:918px;
  top:847px;
  width:122px;
  height:33px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:33px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u30 {
  position:absolute;
  left:429px;
  top:917px;
  width:253px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:33px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:728px;
  top:917px;
  width:312px;
  height:33px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:33px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u33 {
  position:absolute;
  left:728px;
  top:680px;
  width:152px;
  height:33px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:33px;
  background-image:;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u34 {
  position:absolute;
  left:510px;
  top:432px;
  width:19px;
  height:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:529px;
  top:512px;
  width:19px;
  height:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:470px;
  top:686px;
  width:19px;
  height:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:435px;
  top:774px;
  width:19px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:457px;
  top:854px;
  width:19px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:410px;
  top:924px;
  width:19px;
  height:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1457px;
  top:210px;
  width:430px;
  height:250px;
  text-align:left;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:250px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:426px;
  word-wrap:break-word;
}
