body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1220px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:462px;
  top:190px;
  width:289px;
  height:57px;
  font-size:48px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:57px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:40px;
  top:20px;
  width:1180px;
  height:100px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:51px;
  width:64px;
  height:42px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:42px;
}
#u5 {
  position:absolute;
  left:2px;
  top:13px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:130px;
  top:64px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#099FDD;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:319px;
  top:62px;
  width:531px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1088px;
  top:62px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:1133px;
  top:54px;
  width:70px;
  height:35px;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:486px;
  top:282px;
  width:241px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:28px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:502px;
  top:333px;
  width:225px;
  height:42px;
  font-size:36px;
  color:#FF0000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:42px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:80px;
  top:440px;
  width:1140px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:1123px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1140px;
  height:1px;
}
#u19 {
  position:absolute;
  left:498px;
  top:490px;
  width:217px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:28px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:190px;
  top:570px;
  width:891px;
  height:781px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:891px;
  height:781px;
}
#u22 {
  position:absolute;
  left:2px;
  top:382px;
  width:887px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:477px;
  top:528px;
  width:261px;
  height:16px;
  color:#FF0000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:36px;
  top:1400px;
  width:1140px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:1123px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1140px;
  height:1px;
}
#u26 {
  position:absolute;
  left:590px;
  top:1450px;
  width:117px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:28px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:477px;
  top:1504px;
  width:365px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:670px;
  top:580px;
  width:250px;
  height:750px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:750px;
}
#u31 {
  position:absolute;
  left:2px;
  top:367px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:635px;
  top:1550px;
  width:92px;
  height:27px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
}
#u33 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:552px;
  top:1556px;
  width:66px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:940px;
  top:1570px;
  width:123px;
  height:16px;
  color:#FF0000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:21px;
  top:1670px;
  width:1171px;
  height:425px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:425px;
}
#u39 {
  position:absolute;
  left:2px;
  top:204px;
  width:1167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:101px;
  top:1760px;
  width:96px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:101px;
  top:1790px;
  width:96px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:101px;
  top:1820px;
  width:96px;
  height:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:255px;
  top:1820px;
  width:96px;
  height:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
