/*
 * === base ===
 */

@keyframes bg-generator {
    0% {
        background-position: 0% 84%
    }
    50% {
        background-position: 100% 17%
    }
    100% {
        background-position: 0% 84%
    }
}

@-webkit-keyframes bg-generator {
    0% {
        background-position: 0% 84%
    }
    50% {
        background-position: 100% 17%
    }
    100% {
        background-position: 0% 84%
    }
}

.y-bg-transition {
    overflow: hidden;
    padding: 2em 2em 1em;
    position: relative;
    transition: padding 0.2s ease 0s;
    z-index: -1;
}

.y-bg-transition-info {
    background-color: #F7F9FA;
    width: 110%;
    height: 720px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: -webkit-filter 0.2s ease, background-image 0.2s ease;
    background: linear-gradient(223deg, #1c81df, #e48ba4, #37b5e4, #8dd088);
    background-size: 600% 600%;
    -webkit-animation: bg-generator 50s ease infinite;
    animation: bg-generator 10s ease infinite;
}

.y-tsc-info,
.y-tsc-dark {
    -webkit-transition: color 0.4s ease-out 0s;
    -moz-transition: color 0.4s ease-out 0s;
    transition: color 0.4s ease-out 0s;
}

.y-tsc-info:hover,
.y-tsc-info:focus {
    color: #099fdd;
}

.y-tsc-dark:hover,
.y-tsc-dark:focus {
    color: #555;
}