<div class="panel">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-6">
                <h3>基本信息</h3>
            </div>
            <div class="col-sm-6 text-xs-right">
                <button type="button" class="btn btn-default y-mt15 y-mr20">修改</button>
            </div>
        </div>
        <hr>
    </div>
    <div class="panel-body y-pd30 y-mt-30">
        <form action="" class="form-horizontal" name="myForm">
            <fieldset>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">商户性质</label>
                            <div class="col-sm-8">
                                <label class="radio-inline">
								    <input type="radio" ng-model="userInfo.companyType" value="1">&nbsp;个人
							    </label>
                                <label class="radio-inline">
								    <input type="radio" ng-model="userInfo.companyType" value="2">&nbsp;企业
							    </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">商户类型</label>
                            <div class="col-sm-8">
                                <label class="radio-inline">
								<input type="radio" ng-model="userInfo.subCompanyType" value="1">&nbsp;应用提供商
							</label>
                                <label class="radio-inline">
								<input type="radio" ng-model="userInfo.subCompanyType" value="2">&nbsp;渠道分销商
							</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">签约名</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" name="" ng-model="userInfo.userName" value="" placeholder="工信部备案人真实姓名">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">经营范围</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="businessTypeUser" ng-options="obj.dictValue for obj in dataInit.businessTypes track by obj.dictCode" ng-change="test2=''">
                                    <option value="">请选择经营范围</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="businessSubTypeUser" ng-options="x.dictValue for x in businessTypeUser.subList track by x.dictCode">
                                    <option value="">请选择经营范围</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="userInfo.companyType == 2">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">企业名称</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" name="" id="" ng-model="userInfo.companyName" value="" placeholder="请输入企业名称">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">企业经营地址</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="" id="" ng-model="userInfo.companyAddress" value="" placeholder="请输入企业经营地址">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="userInfo.companyType == 2">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">营业执照号</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" name="" id="" ng-model="userInfo.licenseNo" value="" placeholder="请输入营业执照号">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">联系人姓名</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" name="" id="" ng-model="userInfo.contactName" value="" placeholder="请输入联系人">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">联系电话</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="" id="" ng-model="userInfo.contactTelephone" value="" placeholder="请输入电话">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">邮箱</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" name="" id="" ng-model="userInfo.contactEmail" value="" placeholder="请输入Email地址">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">QQ</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="" id="" ng-model="userInfo.contactQQ" value="" placeholder="请输入QQ号">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">通讯地址</label>
                            <!--<div class="col-sm-8">
                                <h5 ng-bind="userInfo.contactAddress"></h5>
                            </div>-->
                            <div class="col-sm-3">
                                <select class="form-control" ng-model="provUser" ng-options="obj.name for obj in dataInit.division track by obj.id" ng-change="cityUser=''">
                                    <option value="">省</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control" ng-model="cityUser" ng-options="x.name for x in provUser.children track by x.id" ng-change="">
                                    <option value="">市</option>
                                </select>
                            </div>
                            <!--<div class="col-sm-3">
                                <select class="form-control" ng-model="userInfo.contactAddress" ng-options="value as value for value in division[userInfo.contactProvId][userInfo.contactCityId]" ng-change="userInfo.contactAddressDetail=''">
                                    <option value="">区</option>
                                </select>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-push-3">
                                <input class="form-control" placeholder="请详细到镇、街道" ng-model="userInfo.contactAddress" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">身份证号</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" name="" id="" ng-model="userInfo.idCard" value="" placeholder="请输入身份证号">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row y-mt60 y-mb40 text-xs-center">
                    <div class="col-sm-4">
                        <div class="y-upload-img popover-one" y-open="uploadPic" data-toggle="popover" data-content="<ul class='popover-width'><li>身份证上的<span class='text-danger'>所有信息清晰可见</span>，必须能<span class='text-danger'>看清证件号码</span>。</li><li>照片需免冠，建议未化妆，手持证见人的<span class='text-danger'>五官清晰可见</span>。</li><li>照片内容真实有效，不得做任何修改</li><li>支持<span class='text-danger'>.jpg .jpeg .bmp .gif</span>格式照片大小<span class='text-danger'>不超过2M</span></li></ul>">
                            <!--<h1 class="y-mt60"><small>请选择文件</small></h1>-->
                            <img  class="img demoImg" src="../../components/public/scsfz.jpg" alt="我是图片">
                        </div>

                        <h4 class="y-fs16">证件照片
						    <button type="button" class="btn btn-link" y-click="infopicone">示例图片</button>
                            <div class="modal fade" y-modal="infopicone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body" data-dismiss="modal">
                                                <img src="../../components/public/scsfz.jpg" alt="我是图片" width="100%">
                                        </div>
                                    </div>
                                </div>
                            </div>
					    </h4>
                    </div>
                    <div class="col-sm-4">
                        <div class="y-upload-img popover-two" y-open="uploadPic" data-toggle="popover" data-content="<ul class='popover-width'><li>支持<span class='text-danger'>.jpg .jpeg .bmp .gif</span>格式照片</li><li>大小不超过<span class='text-danger'>2M</span></li></ul>">
                            <h1 class="y-mt60"><small>请选择文件</small></h1>
                        </div>
                        <h4 class="y-fs16">身份证正面
						   <button type="button" class="btn btn-link" y-click="infopictwo">示例图片</button>
                            <div class="modal fade" y-modal="infopictwo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body" data-dismiss="modal">
                                            <img src="../../components/public/zm2.jpg" alt="我是图片" width="100%">
                                        </div>
                                    </div>
                                </div>
                            </div>
					    </h4>

                    </div>
                    <div class="col-sm-4">
                        <div class="y-upload-img popover-two" y-open="uploadPic" data-toggle="popover" data-placement="left" data-content="<ul class='popover-width'><li>支持<span class='text-danger'>.jpg .jpeg .bmp .gif</span>格式照片</li><li>大小不超过<span class='text-danger'>2M</span></li></ul>">
                            <h1 class="y-mt60"><small>请选择文件</small></h1>
                        </div>
                        <h4 class="y-fs16">身份证反面
					     	<button type="button" class="btn btn-link" y-click="infopicthree">示例图片</button>
                            <div class="modal fade" y-modal="infopicthree" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body" data-dismiss="modal">
                                            <img src="../../components/public/fm2.jpg" alt="我是图片" width="100%">
                                        </div>
                                    </div>
                                </div>
                            </div>
					    </h4>
                    </div>
                    <div class="col-sm-4">
                        <!--<img class="img-responsive img-rounded center-block y-wd60" src="../../components/public/css3-html5-js-logo.png">-->
                        <div class="y-upload-img popover-two" y-open="uploadPic" data-toggle="popover" data-content="<ul class='popover-width'><li>支持<span class='text-danger'>.jpg .jpeg .bmp .gif</span>格式照片</li><li>大小不超过<span class='text-danger'>2M</span></li></ul>">
                            <h1 class="y-mt60"><small>请选择文件</small></h1>
                        </div>
                        <h4 class="y-fs16">营业执照
                            <button type="button" class="btn btn-link" y-click="infopicfour">示例图片</button>
                            <div class="modal fade" y-modal="infopicfour" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body" data-dismiss="modal">
                                            <img src="../../components/public/yyzz.jpg" alt="我是图片" width="100%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </h4>
                    </div>
                    <div class="col-sm-4">
                        <div class="y-upload-img popover-two" y-open="uploadPic" data-toggle="popover" data-content="<ul class='popover-width'><li>支持<span class='text-danger'>.jpg .jpeg .bmp .gif</span>格式照片</li><li>大小不超过<span class='text-danger'>2M</span></li></ul>">
                            <h1 class="y-mt60"><small>请选择文件</small></h1>
                        </div>
                        <h4 class="y-fs16">税务登记证
                            <button type="button" class="btn btn-link" y-click="infopicfive">示例图片</button>
                            <div class="modal fade" y-modal="infopicfive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body" data-dismiss="modal">
                                            <img src="../../components/public/swdjz.jpg" alt="我是图片" width="100%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </h4>
                    </div>
                    <div class="col-sm-4">
                        <!--<img class="img-responsive img-rounded center-block y-wd60" src="../../components/public/css3-html5-js-logo.png">-->
                        <div class="y-upload-img popover-two" y-open="uploadPic" data-toggle="popover" data-placement="left" data-content="<ul class='popover-width''><li>支持<span class='text-danger'>.jpg .jpeg .bmp .gif</span>格式照片</li><li>大小不超过<span class='text-danger'>2M</span></li></ul>" >
                            <h1 class="y-mt60"><small>请选择文件</small></h1>
                        </div>
                        <h4 class="y-fs16">组织结构代码证
                            <button type="button" class="btn btn-link" y-click="infopicsix">示例图片</button>
                            <div class="modal fade" y-modal="infopicsix" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body" data-dismiss="modal">
                                            <img src="../../components/public/zzjgdmz.jpg" alt="我是图片" width="100%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </h4>
                    </div>
                    <div class="col-sm-4">
                        <!--<img class="img-responsive img-rounded center-block y-wd60" src="../../components/public/css3-html5-js-logo.png">-->
                        <div class="y-upload-img popover-two" y-open="uploadPic" data-toggle="popover" data-content="<ul class='popover-width'><li>支持<span class='text-danger'>.jpg .jpeg .bmp .gif</span>格式照片</li><li>大小不超过<span class='text-danger'>2M</span></li></ul>">
                            <h1 class="y-mt60"><small>请选择文件</small></h1>
                        </div>
                        <h4 class="y-fs16">开户许可证
                            <button type="button" class="btn btn-link" y-click="infopicseven">示例图片</button>
                            <div class="modal fade" y-modal="infopicseven" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body" data-dismiss="modal">
                                            <img src="../../components/public/khxkz.jpg" alt="我是图片" width="100%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </h4>
                    </div>
                    <div class="col-sm-4">
                    <!--<link rel="import" href="../../components/upload-pic/upload-pic.html?__inline" />-->
                        <div class="y-upload-img popover-two" y-open="uploadPic" data-toggle="popover" data-content="<ul style='width:240px'><li>支持<span class='text-danger'>.jpg .jpeg .bmp .gif</span>格式照片</li><li>大小不超过<span class='text-danger'>2M</span></li></ul>">
                            <h1 class="y-mt60"><small>请选择文件</small></h1>
                        </div>
                        <h4 class="y-fs16">文网文等辅助文件（非必要上传文件）
                            <button type="button" class="btn btn-link" y-click="infopiceight">示例图片</button>
                            <div class="modal fade" y-modal="infopiceight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body" data-dismiss="modal">
                                            <img src="../../components/public/www.jpg" alt="我是图片" width="100%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </h4>
                    </div>
                </div>
            </fieldset>

        </form>
        <link rel="import" href="../../components/upload-pic/upload-pic-modal.html?__inline" />
    </div>
</div>
<!--panel-->
<script>


    $(function() {
        $("[y-open='uploadPic']").click(function () {
            $("[y-modal='uploadPic']").modal('show');
            console.log("open uploadPic");
        });

        $("[y-click='infopicone']").click(function () {
            $("[y-modal='infopicone']").modal('show');
        });

        $("[y-click='infopictwo']").click(function () {
            $("[y-modal='infopictwo']").modal('show');
        });

        $("[y-click='infopicthree']").click(function () {
            $("[y-modal='infopicthree']").modal('show');
        });

        $("[y-click='infopicfour']").click(function () {
            $("[y-modal='infopicfour']").modal('show');
        });

        $("[y-click='infopicfive']").click(function () {
            $("[y-modal='infopicfive']").modal('show');
        });

        $("[y-click='infopicsix']").click(function () {
            $("[y-modal='infopicsix']").modal('show');
        });

        $("[y-click='infopicseven']").click(function () {
            $("[y-modal='infopicseven']").modal('show');
        });

        $("[y-click='infopiceight']").click(function () {
            $("[y-modal='infopiceight']").modal('show');
        });

        $(function () {
            $('#fileupload').fileupload({
                dataType: 'json',
                done: function (e, data) {
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('.progress .progress-bar').css(
                            'width',
                            progress + '%'
                    );
                }
            });
            $(".popover-one").popover({trigger: 'hover', html: true});
            $(".popover-two").popover({trigger: 'hover', html: true});
        });


        function resizeImg() {
            var img_width = $(".y-upload-img img").width();
            var img_height = $(".y-upload-img img").height();
            console.log(img_width,img_height)
            var margin_top = (180 - img_height) / 2 - 1;
            if (img_width >= img_height) {
                $(".y-upload-img").addClass("y-wt70");
                $(".y-upload-img img").css({
                    "margin-top": margin_top + "px"
                })
            }
            else {
                $(".y-upload-img").addClass("center-block", "y-ht100");
            }
        }
        $(".y-upload-img img").on("load",function () {
            resizeImg();
        });
        $(window).resize(function () {
            resizeImg();
        })
    })


</script>