body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:96px;
  top:136px;
  width:121px;
  height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:70px;
  top:210px;
  width:1175px;
  height:124px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:159px;
  top:0px;
  width:238px;
  height:30px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:234px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:397px;
  top:0px;
  width:346px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:342px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:743px;
  top:0px;
  width:427px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:423px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:30px;
  width:159px;
  height:41px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:41px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:159px;
  top:30px;
  width:238px;
  height:41px;
  color:#000000;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:41px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:234px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:397px;
  top:30px;
  width:346px;
  height:41px;
  color:#000000;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:41px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:342px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:743px;
  top:30px;
  width:427px;
  height:41px;
  color:#000000;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:41px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:423px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:71px;
  width:159px;
  height:48px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:48px;
}
#u20 {
  position:absolute;
  left:2px;
  top:16px;
  width:155px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:159px;
  top:71px;
  width:238px;
  height:48px;
  color:#000000;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:48px;
}
#u22 {
  position:absolute;
  left:2px;
  top:16px;
  width:234px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:397px;
  top:71px;
  width:346px;
  height:48px;
  color:#000000;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:48px;
}
#u24 {
  position:absolute;
  left:2px;
  top:16px;
  width:342px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:743px;
  top:71px;
  width:427px;
  height:48px;
  color:#000000;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:48px;
}
#u26 {
  position:absolute;
  left:2px;
  top:16px;
  width:423px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:480px;
  top:400px;
  width:391px;
  height:36px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:36px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:70px;
  top:51px;
  width:1180px;
  height:58px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:58px;
}
#u30 {
  position:absolute;
  left:2px;
  top:21px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:98px;
  top:72px;
  width:46px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:210px;
  top:73px;
  width:40px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:1150px;
  top:72px;
  width:74px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:480px;
  top:520px;
  width:501px;
  height:48px;
  color:#FF0000;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:48px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  word-wrap:break-word;
}
